n8n/bootstrap/workflows/templates/acceptance-verifier.template.json
{
  "name": "Верификатор приёмки",
  "id": "900017",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "task_key",
              "type": "string"
            },
            {
              "name": "chat_id",
              "type": "string"
            },
            {
              "name": "original_prompt",
              "type": "string"
            },
            {
              "name": "acceptance_criteria",
              "type": "string"
            },
            {
              "name": "result_text",
              "type": "string"
            },
            {
              "name": "worker_alias",
              "type": "string"
            },
            {
              "name": "session_id",
              "type": "string"
            },
            {
              "name": "context_json",
              "type": "string"
            }
          ]
        }
      },
      "id": "sub-trigger",
      "name": "Триггер: вызов из диспетчера",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -24032,
        -19024
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const input = $('Триггер: вызов из диспетчера').item.json\n\nlet context = {}\ntry { context = JSON.parse(String(input.context_json || '{}')) } catch (_) {}\n\nconst isVerification = String(context.source || '').trim() === 'verification'\n\nreturn {\n  json: {\n    taskKey: String(input.task_key || '').trim(),\n    chatId: String(input.chat_id || '').trim(),\n    originalPrompt: String(input.original_prompt || '').trim(),\n    acceptanceCriteria: String(input.acceptance_criteria || '').trim(),\n    resultText: String(input.result_text || '').trim(),\n    workerAlias: String(input.worker_alias || '').trim(),\n    sessionId: String(input.session_id || '').trim(),\n    isVerification,\n    context,\n    parentTaskKey: String(context.original_parent_task_key || '').trim(),\n    parentSessionId: String(context.original_parent_session_id || '').trim(),\n    parentOriginalPrompt: String(context.original_parent_prompt || '').trim(),\n  },\n}"
      },
      "id": "parse-input",
      "name": "Разбираем входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23584,
        -19024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Разбираем входные данные').item.json.isVerification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-is-verification",
      "name": "Это задача проверки?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -22912,
        -19024
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Разбираем входные данные').item.json.chatId }}",
        "text": "={{ `🔍 Начата верификация задачи <code>${$('Разбираем входные данные').item.json.taskKey}</code> [${$('Разбираем входные данные').item.json.workerAlias || 'primary'}].` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-verify-start",
      "name": "Уведомляем о начале верификации",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -23360,
        -19024
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Задаём переменные').item.json.haApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-verify-start",
      "name": "Уведомление HA: верификация начата",
      "position": [
        -23136,
        -19024
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const input = $('Разбираем входные данные').item.json\nconst verifyTaskKey = `verify-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`\n\nconst verifyPrompt = `VERIFICATION TASK — verify that the implementation meets acceptance criteria.\n\nORIGINAL TASK:\n${input.originalPrompt}\n\nACCEPTANCE CRITERIA:\n${input.acceptanceCriteria}\n\nRESULT OF EXECUTION:\n${input.resultText}\n\nGo through EACH acceptance criterion ONE BY ONE. For each:\n- Criterion: restate the exact criterion\n- Evidence: what you observed\n- Verdict: PASS or FAIL\n- Reason: why\n\nThen output:\nVERIFICATION: PASSED | FAILED\nISSUES: (list if any)\n\nDo NOT change code. You are a verifier, not a fixer.`\n\nconst contextJson = JSON.stringify({\n  source: 'verification',\n  newSessionRequested: true,\n  original_parent_task_key: input.parentTaskKey || input.taskKey,\n  original_parent_session_id: input.parentSessionId || input.sessionId,\n  original_parent_prompt: input.parentOriginalPrompt || input.originalPrompt,\n  acceptanceCriteria: input.acceptanceCriteria,\n  originalPrompt: input.originalPrompt,\n})\n\nreturn { json: { verifyTaskKey, verifyPrompt, contextJson, chatId: input.chatId, workerAlias: input.workerAlias, taskKey: input.taskKey } }"
      },
      "id": "prepare-verify-task",
      "name": "Готовим задачу проверки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22688,
        -19168
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ $('Готовим задачу проверки').first().json.verifyTaskKey }}",
            "source": "verification",
            "chat_id": "={{ $('Готовим задачу проверки').first().json.chatId }}",
            "worker_alias": "={{ $('Готовим задачу проверки').first().json.workerAlias }}",
            "command_name": "task",
            "prompt": "={{ $('Готовим задачу проверки').first().json.verifyPrompt }}",
            "parent_task_key": "={{ $('Готовим задачу проверки').first().json.taskKey }}",
            "parent_match_text": "",
            "context_json": "={{ $('Готовим задачу проверки').first().json.contextJson }}",
            "pending_question": "",
            "pending_options_json": "[]",
            "status": "queued",
            "queued_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "id": "insert-verify-task",
      "name": "Создаём задачу проверки",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -22400,
        -19168
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Готовим задачу проверки').first().json.chatId }}",
        "text": "={{ `📋 Задача проверки <code>${$('Готовим задачу проверки').first().json.verifyTaskKey}</code> поставлена в очередь [${$('Готовим задачу проверки').first().json.workerAlias || 'primary'}].` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-verify-queued",
      "name": "Сообщаем о задаче проверки",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -22112,
        -19168
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Задаём переменные').item.json.haApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-verify-queued",
      "name": "Уведомление HA: задача проверки",
      "position": [
        -21888,
        -19168
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "systemPrompt",
              "value": "={{ `Ты — агент-судья. Прочитай результат верификации от OpenCode и определи: приёмка пройдена или нет.\\n\\nПравила:\\n- Если написано VERIFICATION: PASSED и нет ошибок → PASSED\\n- Если написано VERIFICATION: FAILED или есть перечисленные ошибки → FAILED\\n- Не выдумывай ошибки, которых нет в тексте отчёта.\\n- Отвечай ТОЛЬКО чистым JSON объектом (без markdown, без \\`\\`\\`, без пояснений):\\n\\n{\\\"verdict\\\": \\\"PASSED\\\"|\\\"FAILED\\\", \\\"reason\\\": \\\"краткая причина — что именно не так или почему всё хорошо\\\"}\\n\\nНЕ добавляй markdown. НЕ оборачивай в \\`\\`\\`json. Только одна строка JSON.` }}",
              "type": "string"
            },
            {
              "name": "userPrompt",
              "value": "={{ `Результат верификации задачи ${$('Разбираем входные данные').item.json.parentTaskKey || $('Разбираем входные данные').item.json.taskKey}:\\n\\n${$('Разбираем входные данные').item.json.resultText}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-judge",
      "name": "Готовим запрос к DeepSeek",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22688,
        -18864
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {}
      },
      "id": "ds-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -22384,
        -18640
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "__DEEPSEEK_CREDENTIAL_ID__",
          "name": "__DEEPSEEK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "deepseek-judge",
      "name": "DeepSeek Judge",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -22464,
        -18864
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const toText = (v) => String(v ?? '').trim()\n\nlet rawOutput = {}\ntry { rawOutput = $('DeepSeek Judge').first().json } catch (_) {}\nconst content = toText(rawOutput.output ?? rawOutput.text ?? '')\n\nif (!content) {\n  return { json: { verdict: 'FAILED', reason: 'DeepSeek вернул пустой ответ', fixNeeded: true } }\n}\n\nfunction extractJson(text) {\n  const stripped = text.replace(/```(?:json)?/g, '').replace(/```/g, '').trim()\n  try { return JSON.parse(stripped) } catch (_) {}\n  const start = text.indexOf('{')\n  if (start === -1) return null\n  let depth = 0, inString = false, escape = false\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i]\n    if (escape) { escape = false; continue }\n    if (ch === '\\\\') { escape = true; continue }\n    if (ch === '\"') { inString = !inString; continue }\n    if (inString) continue\n    if (ch === '{') depth++\n    if (ch === '}') { depth--; if (depth === 0) { try { return JSON.parse(text.slice(start, i + 1)) } catch (_) { return null } } }\n  }\n  return null\n}\n\nconst parsed = extractJson(content)\nif (!parsed) {\n  const looksPassed = content.toLowerCase().includes('passed') && !content.toLowerCase().includes('failed')\n  return { json: { verdict: looksPassed ? 'PASSED' : 'FAILED', reason: content.slice(0, 300), fixNeeded: !looksPassed } }\n}\n\nconst input = $('Разбираем входные данные').item.json\n\nreturn {\n  json: {\n    verdict: String(parsed.verdict || '').toUpperCase(),\n    reason: String(parsed.reason || ''),\n    fixNeeded: String(parsed.verdict || '').toUpperCase() !== 'PASSED',\n    taskKey: input.taskKey, chatId: input.chatId,\n    originalPrompt: input.originalPrompt,\n    acceptanceCriteria: input.acceptanceCriteria,\n    workerAlias: input.workerAlias,\n    parentTaskKey: input.parentTaskKey || input.taskKey,\n    parentSessionId: input.parentSessionId || input.sessionId,\n    parentOriginalPrompt: input.parentOriginalPrompt || input.originalPrompt,\n    verificationResult: input.resultText,\n  },\n}"
      },
      "id": "parse-verdict",
      "name": "Извлекаем вердикт",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22112,
        -18864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Извлекаем вердикт').first().json.fixNeeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-verdict-failed",
      "name": "Верификация провалена?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -21888,
        -18864
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const v = $('Извлекаем вердикт').first().json\nconst fixTaskKey = `fix-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`\n\nconst fixPrompt = `FIX TASK — previous implementation failed acceptance verification.\n\nORIGINAL TASK:\n${v.parentOriginalPrompt}\n\nVERIFICATION RESULT:\n${v.verificationResult}\n\nVERDICT: FAILED\n${v.reason}\n\nPlease fix ALL the issues found in the verification.\n\nACCEPTANCE CRITERIA:\n${v.acceptanceCriteria}`\n\nconst contextJson = JSON.stringify({\n  source: 'fix',\n  acceptanceCriteria: v.acceptanceCriteria,\n  originalPrompt: v.parentOriginalPrompt,\n  original_parent_task_key: v.parentTaskKey,\n  original_parent_session_id: v.parentSessionId,\n  original_parent_prompt: v.parentOriginalPrompt,\n})\n\nreturn {\n  json: {\n    fixTaskKey,\n    fixPrompt,\n    contextJson,\n    chatId: v.chatId,\n    workerAlias: v.workerAlias,\n    parentTaskKey: v.parentTaskKey,\n    parentSessionId: v.parentSessionId,\n    taskKey: v.taskKey,\n    reason: v.reason,\n  },\n}"
      },
      "id": "prepare-fix-task",
      "name": "Готовим задачу-фикс",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -21664,
        -18960
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ $('Готовим задачу-фикс').first().json.fixTaskKey }}",
            "source": "fix",
            "chat_id": "={{ $('Готовим задачу-фикс').first().json.chatId }}",
            "worker_alias": "={{ $('Готовим задачу-фикс').first().json.workerAlias }}",
            "session_id": "={{ $('Готовим задачу-фикс').first().json.parentSessionId }}",
            "command_name": "task",
            "prompt": "={{ $('Готовим задачу-фикс').first().json.fixPrompt }}",
            "parent_task_key": "={{ $('Готовим задачу-фикс').first().json.parentTaskKey }}",
            "parent_match_text": "",
            "context_json": "={{ $('Готовим задачу-фикс').first().json.contextJson }}",
            "pending_question": "",
            "pending_options_json": "[]",
            "status": "queued",
            "queued_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "id": "insert-fix-task",
      "name": "Создаём задачу-фикс",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -21440,
        -18960
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Готовим задачу-фикс').first().json.chatId }}",
        "text": "={{ `🔄 Задача <code>${$('Готовим задачу-фикс').first().json.parentTaskKey}</code> не прошла приёмку.\\n\\nПричина: ${$('Готовим задачу-фикс').first().json.reason}\\n\\nСоздана задача исправления: <code>${$('Готовим задачу-фикс').first().json.fixTaskKey}</code>` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-fix",
      "name": "Сообщаем о fix-задаче",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -21216,
        -18960
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Задаём переменные').item.json.haApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-verify-fix",
      "name": "Уведомление HA: нужен фикс",
      "position": [
        -20992,
        -18960
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Извлекаем вердикт').first().json.chatId }}",
        "text": "={{ `✅ Задача <code>${$('Извлекаем вердикт').first().json.parentTaskKey || $('Извлекаем вердикт').first().json.taskKey}</code> прошла приёмку. Функционал реализован успешно.` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-passed",
      "name": "Сообщаем об успешной приёмке",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -21664,
        -18768
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Задаём переменные').item.json.haApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-verify-passed",
      "name": "Уведомление HA: приёмка пройдена",
      "position": [
        -21440,
        -18768
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "9462bc97",
              "name": "haScriptUrl",
              "value": "__HA_URL__/api/services/script/1720584135122",
              "type": "string"
            },
            {
              "id": "ha-api-token",
              "name": "haApiToken",
              "value": "__HA_API_TOKEN__",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "id": "set-variables",
      "name": "Задаём переменные",
      "position": [
        -23808,
        -19024
      ]
    }
  ],
  "connections": {
    "Триггер: вызов из диспетчера": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем входные данные": {
      "main": [
        [
          {
            "node": "Уведомляем о начале верификации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это задача проверки?": {
      "main": [
        [
          {
            "node": "Готовим запрос к DeepSeek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Готовим задачу проверки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомляем о начале верификации": {
      "main": [
        [
          {
            "node": "Уведомление HA: верификация начата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим задачу проверки": {
      "main": [
        [
          {
            "node": "Создаём задачу проверки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаём задачу проверки": {
      "main": [
        [
          {
            "node": "Сообщаем о задаче проверки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем о задаче проверки": {
      "main": [
        [
          {
            "node": "Уведомление HA: задача проверки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим запрос к DeepSeek": {
      "main": [
        [
          {
            "node": "DeepSeek Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Judge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Judge": {
      "main": [
        [
          {
            "node": "Извлекаем вердикт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем вердикт": {
      "main": [
        [
          {
            "node": "Верификация провалена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Верификация провалена?": {
      "main": [
        [
          {
            "node": "Готовим задачу-фикс",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщаем об успешной приёмке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим задачу-фикс": {
      "main": [
        [
          {
            "node": "Создаём задачу-фикс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаём задачу-фикс": {
      "main": [
        [
          {
            "node": "Сообщаем о fix-задаче",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем о fix-задаче": {
      "main": [
        [
          {
            "node": "Уведомление HA: нужен фикс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем об успешной приёмке": {
      "main": [
        [
          {
            "node": "Уведомление HA: приёмка пройдена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: верификация начата": {
      "main": [
        [
          {
            "node": "Это задача проверки?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: задача проверки": {
      "main": [
        []
      ]
    },
    "Уведомление HA: нужен фикс": {
      "main": [
        []
      ]
    },
    "Уведомление HA: приёмка пройдена": {
      "main": [
        []
      ]
    },
    "Задаём переменные": {
      "main": [
        [
          {
            "node": "Разбираем входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}