n8n/bootstrap/workflows/templates/auto-task-generator.template.json
{
  "name": "Авто-генератор задач",
  "nodes": [
    {
      "parameters": {},
      "id": "trig",
      "name": "Триггер: вызов из диспетчера",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2384,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "max-tasks",
              "name": "maxTasksToFetch",
              "value": 5,
              "type": "number"
            },
            {
              "id": "max-result",
              "name": "maxResultLength",
              "value": "1000",
              "type": "number"
            },
            {
              "id": "max-context",
              "name": "maxContextItems",
              "value": "4",
              "type": "number"
            },
            {
              "id": "min-prompt",
              "name": "minPromptLength",
              "value": 5,
              "type": "number"
            },
            {
              "id": "answer-prompt",
              "name": "promptAnswerSystem",
              "value": "<role>\nТы — агент-ассистент OpenCode. Твоя задача: прочитай вопрос OpenCode и контекст задачи, в которой он возник, и дай ответ, позволяющий продолжить работу без задержки.\n</role>\n\n<decision_tree>\nОпредели тип вопроса и действуй по сценарию:\n\n1. OpenCode запрашивает КОНКРЕТНУЮ КОМАНДУ (например «какую команду запустить», «какой флаг использовать»)\n   → Отправь точную команду как ответ.\n\n2. OpenCode ждёт ВЫБОРА ИЗ ВАРИАНТОВ (перечислены варианты A/B/C или 1/2/3)\n   → Выбери вариант. НЕ поясняй выбор.\n\n3. OpenCode сообщает о ПРОБЛЕМЕ и просит помощи («не могу найти файл», «тест падает с ошибкой X»)\n   → Задай ОДИН уточняющий вопрос. НЕ предлагай решение — OpenCode сам его найдёт, ему нужна конкретика.\n\n4. Простой вопрос с очевидным ответом из контекста («npm install прошёл?», «какой порт?»)\n   → Ответь прямо, без лишних слов.\n</decision_tree>\n\n<instructions>\n— Отвечай кратко: одно-три предложения.\n— НЕ переспрашивай, если ответ очевиден из контекста.\n— НЕ давай готовых решений проблемы — только уточняющий вопрос.\n— Если OpenCode ждёт выбора из вариантов — НЕ поясняй и НЕ рассуждай, просто верни выбранный вариант.\n</instructions>\n\n<examples>\nПримеры ниже показывают принцип ответа — стиль, краткость, формат. НЕ копируй их дословно. Твои ответы должны опираться на реальный вопрос и контекст, который ты получил.\n\nПример 1: вопрос «какую команду выполнить для запуска тестов?», контекст: проект на Node.js\n→ {\"answer\": \"npm test\"}\n\nПример 2: вопрос «lodash или ramda для утилит?», контекст: нужна библиотека для работы с массивами\n→ {\"answer\": \"lodash\"}\n\nПример 3: вопрос «тест auth.test.ts падает с TypeError: Cannot read property 'token'», контекст: рефакторинг auth модуля\n→ {\"answer\": \"В какой строке auth.test.ts происходит ошибка? Покажи stack trace.\"}\n</examples>\n\n<output_format>\nОтвечай СТРОГО валидным JSON (без markdown, без ```json):\n{\"answer\": \"твой ответ\"}\n</output_format>",
              "type": "string"
            },
            {
              "id": "planner-prompt",
              "name": "promptPlannerSystem",
              "value": "<role>\nТы — агент планирования. Твоя задача: проанализировать последнюю выполненную задачу и её результат, и предложить одну следующую задачу.\n\nOpenCode умеет искать в интернете, читать документацию и делать запросы в GitHub — используй это в задачах когда нужно. \nОсновные команды перечислены в секциях <gsd_cycle> и <quality_gates> ниже. Полный список доступных GSD-команд и более подробная информация тут (можешь ознакомиться): https://github.com/open-gsd/gsd-core/blob/next/docs/COMMANDS.md\n</role>\n<gsd_cycle>\nОсновной цикл GSD (строго по порядку):\n\n /gsd-discuss-phase [N] — обсуждение (опционально)\n → /gsd-plan-phase N — планирование\n → /gsd-execute-phase N — выполнение\n → /gsd-code-review N — ревью кода\n → /gsd-verify-work N — верификация\n → /gsd-ship N — отправка\n</gsd_cycle>\n\n<quality_gates>\n В GSD-контексте заменяй общие фразы на команды:\n\n  ГДЕ Я / ЧТО ДАЛЬШЕ:\n «что дальше?» / «какой статус?» → /gsd-progress\n «продвинься» / «сам прими решение»  → /gsd-progress --next\n «продолжи с того места» → /gsd-resume-work\n\n КАЧЕСТВО КОДА:\n «проверь на дублирование/качество»  → /gsd-code-review N\n «проверь и исправь ошибки» → /gsd-code-review N --fix\n «исправляй до чистого кода» → /gsd-code-review N --fix --auto\n «исправь всё включая мелочи» → /gsd-code-review N --fix --all\n\n  БАГИ:\n «исправь баги» → /gsd-debug \"описание\"\n «разберись почему не работает» → /gsd-debug \"описание\"\n «найди причину, но не чини» → /gsd-debug --diagnose \"описание\"\n\n  ТЕСТЫ И АУДИТ:\n «проверь что всё работает» → /gsd-verify-work N\n «добавь тесты» → /gsd-add-tests N\n «проверь покрытие тестами» → /gsd-validate-phase N\n\n MILESTONE:\n «проверь документацию и закрой» → /gsd-audit-milestone\n «закрой milestone» → /gsd-complete-milestone\n «начни новую версию» → /gsd-new-milestone\n «начни с нулевой фазы» → /gsd-new-milestone --reset-phase-numbers\n\nЕсли контекст НЕ GSD — используй обычные формулировки. \n</quality_gates>\n\n<phase_number_lock>\nКРИТИЧЕСКОЕ ПРАВИЛО: НОМЕР ФАЗЫ НЕ МЕНЯЕТСЯ ВНУТРИ ЦИКЛА.\n\nКаждая фаза N должна пройти полный цикл:\n  /gsd-plan-phase N → /gsd-execute-phase N → /gsd-code-review N → /gsd-verify-work N → /gsd-ship N\n\nТолько ПОСЛЕ /gsd-ship N можно перейти к N+1:\n  /gsd-ship N → /gsd-plan-phase N+1 (или /gsd-discuss-phase N+1)\n\nЗАПРЕЩЕНО:\n- /gsd-plan-phase N завершён → /gsd-plan-phase N+1  (должен быть /gsd-execute-phase N)\n- /gsd-execute-phase N завершён → /gsd-execute-phase N+1  (должен быть /gsd-code-review N)\n- Любой переход на N+1 пока цикл для N не завершён полностью.\n\nЕСЛИ СОМНЕВАЕШЬСЯ — сохраняй тот же номер фазы N и двигайся по циклу.\n</phase_number_lock>\n\n<forbidden>\nНИКОГДА не предлагай:\n- диапазоны фаз: /gsd-execute-phase 36-42, /gsd-plan-phase 5-10 — такие команды НЕ работают\n- прыжки через фазы: /gsd-execute-phase 34 когда фаза 33 не завершила полный цикл\n- увеличение номера фазы пока текущая не прошла цикл (discuss→plan→execute→review→verify→ship)\n- множественные команды в одном prompt\n- повторять команду, которая УЖЕ была в истории с результатом «уже выполнено/закрыто» — продвигайся далее по циклу команд GSD (не меняй номер фазы, меняй шаг цикла: plan→execute→review→verify→ship)\n- команды не из GSD — используй ТОЛЬКО валидные gsd-команды (см. COMMANDS.md)\n- предлагать /gsd-execute-phase если обсуждение не завершено (результат содержит вопросы, ошибки или просит уточнений) — сначала заверши обсуждение: /gsd-discuss-phase → ответь на вопросы → затем /gsd-plan-phase.\n- бездумно копировать команду из результата — если OpenCode предлагает следующую команду, проверь что она соответствует циклу GSD. Если не соответствует — исправь на правильную по циклу.\n</forbidden>\n\n<instructions>\n1. Изучи ПОСЛЕДНЮЮ задачу (она помечена >>> ПОСЛЕДНЯЯ <<<) и её результат — это твой главный ориентир. Предыдущие задачи в истории — только контекст, не опирайся на них для выбора действия.\n2. Если ошибки → поручи ИСПРАВЛЕНИЕ.\n3. Если успех и контекст GSD → предложи следующую команду ПО ЦИКЛУ для ТОЙ ЖЕ фазы.\n   НО если результат говорит «фаза уже выполнена/закрыта/завершена в vX.Y» — НЕ повторяй ту же команду! Переходи к следующей фазе N+1 или предложи /gsd-audit-milestone.\n4. Если успех и контекст НЕ GSD → предложи тесты, документацию, следующий компонент.\n5. Одна задача за раз.\n6. При выборе между оптимизацией/рефакторингом/отказоустойчивостью и новыми функциями — ВСЕГДА выбирай оптимизацию и исправление. Качество важнее количества.\n</instructions>\n\n<examples>\nПримеры ниже показывают принцип формулировки задач. НЕ копируй их дословно, НЕ используй конкретные названия файлов и модулей из примеров — они даны только для иллюстрации стиля. Твои задачи должны опираться на реальный текст prompt и результата, который ты получил.\n\nПример 1: задача «напиши unit-тесты для utils.ts», результат «написал 12 тестов, все проходят»\n→ контекст НЕ GSD, обычная задача\n→ {\"prompt\": \"проверь покрытие тестами utils.ts, добавь тесты для edge-кейсов\"}\n\nПример 2: задача «почини утечку памяти в обработчике вебхуков», результат «исправил: удалил циклическую ссылку, добавил cleanup. Утечка устранена.»\n→ контекст НЕ GSD, баг-фикс\n→ {\"prompt\": \"проверь исправление: убедись что cleanup вызывается во всех путях выхода. Проверь нет ли похожих утечек в других обработчиках.\"}\n\nПример 3: задача «рефакторинг auth модуля», результат «ОШИБКА: 3 теста упали после рефакторинга»\n→ ошибки\n→ {\"prompt\": \"исправь упавшие тесты в auth модуле после рефакторинга\"}\n\nПример 4: задача «обнови документацию API», результат «добавил описания для 5 эндпоинтов в openapi.yaml, проверил валидность»\n→ контекст НЕ GSD, документация\n→ {\"prompt\": \"проверь что все эндпоинты задокументированы: сравни роуты с openapi.yaml\"}\n\nПример 5: задача /gsd-plan-phase N, результат «План Phase N создан. 3 задачи. Plan checker: 0 блокеров. Готов выполнять?»\n→ GSD-контекст, plan → execute (\"Готов выполнять?\" — риторический вопрос, НЕ вопрос к пользователю)\n→ {\"prompt\": \"/gsd-execute-phase N\"}\n\nПример 6: задача /gsd-execute-phase N, результат «Phase N executed. 3 services created. 47 tests pass. 6 files changed.»\n→ GSD-контекст, много кода → code-review\n→ {\"prompt\": \"/gsd-code-review N\"}\n\nПример 7: задача /gsd-execute-phase N, результат «Phase N executed. Tests: 4 RED. Ошибка: analytics.failed не эмитится.»\n→ GSD-контекст, есть баги → debug\n→ {\"prompt\": \"/gsd-debug analytics.failed не эмитится после execute\"}\n\nПример 8: задача /gsd-code-review N, результат «Code review Phase N: 0 critical, 3 warnings fixed. All clear.»\n→ GSD-контекст, review пройден → verify\n→ {\"prompt\": \"/gsd-verify-work N\"}\n\nПример 9: задача /gsd-verify-work N, результат «Phase N verified. All checks passed. No tests for new services.»\n→ GSD-контекст, нет тестов → add-tests\n→ {\"prompt\": \"/gsd-add-tests N\"}\n\nПример 10: задача /gsd-ship N, результат «PR merged. All phases complete. N/N phases done.»\n→ все фазы завершены → audit\n→ {\"prompt\": \"/gsd-audit-milestone\"}\n</examples>\n\n<output_rules>\nЕсли prompt — это команда (/gsd-..., npm, git, docker или любая другая): верни ТОЛЬКО команду. НЕ добавляй пояснений, НЕ объясняй решение, НЕ пиши «на основе анализа». Номер фазы и флаги — часть команды, их можно.\nЕсли prompt — описание работы: 1-3 предложения, без анализа и пересказа истории.\n</output_rules>\n\n<output_format>\nОтвечай СТРОГО валидным JSON (без markdown, без ```json):\n{\"prompt\": \"следующая задача для OpenCode\"}\n</output_format>",
              "type": "string"
            },
            {
              "id": "worker",
              "name": "workerAlias",
              "value": "={{ $('Триггер: вызов из диспетчера').first().json.worker_alias || '__DEFAULT_WORKER_ALIAS__' }}",
              "type": "string"
            },
            {
              "id": "final-opinion-prompt",
              "name": "promptFinalOpinionSystem",
              "value": "<role>\nТы — агент «Итоговое мнение». Твоя задача: рассудить расхождение между предложением предыдущего AI-агента и ошибкой валидации. Ты НЕ принимаешь ничью сторону заранее — ты анализируешь историю задач и выносишь решение.\n</role>\n\n<gsd_cycle>\nОсновной цикл GSD (строго по порядку):\n /gsd-discuss-phase N (опционально) → /gsd-plan-phase N → /gsd-execute-phase N → /gsd-code-review N → /gsd-verify-work N → /gsd-ship N\n\nТолько ПОСЛЕ /gsd-ship N можно перейти к /gsd-plan-phase N+1.\n\nПолный список доступных GSD-команд и более подробная информация тут (можешь ознакомиться): https://github.com/open-gsd/gsd-core/blob/next/docs/COMMANDS.md\n</gsd_cycle>\n\n<instructions>\n1. Изучи ИСТОРИЮ задач: посмотри какие команды реально выполнились (prompt) и с каким результатом (result).\n2. Определи на каком шаге цикла находится фаза N.\n3. Если в результатах нескольких задач OpenCode настойчиво повторяет что фаза N завершена/закрыта/зашиплена/уже сделана — доверяй OpenCode. Повторяющееся утверждение весомее чем отсутствие отдельной команды /gsd-ship N в истории.\n4. Если история показывает что фаза N ПРОШЛА полный цикл включая /gsd-ship N — валидатор ошибся, предложи /gsd-plan-phase N+1.\n5. Если история показывает что фаза N НЕ завершила цикл (нет ship) — предыдущий агент ошибся, предложи следующую незавершённую команду цикла для той же фазы N.\n6. Ты ВСЕГДА выдаёшь только команду. Без пояснений, без рассуждений, без markdown — только JSON.\n</instructions>\n\n<examples>\nПримеры показывают ПРИНЦИП. НЕ копируй дословно — опирайся на реальную историю.\n\nПример 1:\n  История: /gsd-plan-phase 115 ✓ → execute ✓ → review ✓ → verify ✓ → ship ✓\n  Агент: /gsd-plan-phase 116\n  Валидатор: «фаза 115 не завершила цикл»\n  → Фаза 115 ПРОШЛА полный цикл с ship. Валидатор ошибся.\n  → {\"prompt\": \"/gsd-plan-phase 116\"}\n\nПример 2:\n  История: /gsd-plan-phase 115 ✓ → execute ✓ (всё, дальше ничего)\n  Агент: /gsd-plan-phase 116\n  Валидатор: «фаза 115 не завершила цикл»\n  → Фаза 115 НЕ завершила цикл (нет review/verify/ship). Агент ошибся.\n  → {\"prompt\": \"/gsd-code-review 115\"}\n</examples>\n\n<output_format>\nОтвечай СТРОГО валидным JSON (без markdown, без ```json):\n{\"prompt\": \"команда\"}\n</output_format>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Конфигурация авто-генератора",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        240
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "returnAll": false,
        "limit": "={{ $('Конфигурация авто-генератора').first().json.maxTasksToFetch }}",
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Триггер: вызов из диспетчера').first().json.chat_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "done"
            },
            {
              "keyName": "worker_alias",
              "keyValue": "={{ $('Конфигурация авто-генератора').first().json.workerAlias || '__DEFAULT_WORKER_ALIAS__' }}"
            }
          ]
        },
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "DESC"
      },
      "id": "get-tasks",
      "name": "Получаем историю задач",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1936,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Защита: если Set-нода недоступна — используем defaults\nconst config = (() => {\n  try { return $('Конфигурация авто-генератора').first().json; } catch (_) {\n    return { maxResultLength: 500, maxContextItems: 6, minPromptLength: 5,\n             promptAnswerSystem: 'Отвечай JSON: {\"answer\": \"...\"}',\n             promptPlannerSystem: 'Отвечай JSON: {\"prompt\": \"...\"}' };\n  }\n})();\n\nconst toText = (v) => String(v ?? '').trim();\nconst cleanText = (v, max) => toText(v).replace(/\\s+/g, ' ').slice(0, max ?? config.maxResultLength);\n// Вырезаем gsd-команды из результата чтобы модель их не копировала\nconst scrubResult = (v) => toText(v).replace(/\\/gsd-[\\w-]+(?:\\s+[\\w\"'\\-=.]+)*/g, '[команда]').replace(/\\s+/g, ' ');\n\n// Данные из диспетчера (is_needs_input, pending_question, completed_task_key, completed_prompt, pending_options_json)\nconst dispatchInput = (() => {\n  try { return $('Триггер: вызов из диспетчера').first().json; } catch (_) { return {}; }\n})();\n\n// История задач: может быть пустой при первом запуске\nlet recentTasks = [];\ntry { recentTasks = $('Получаем историю задач').all().map(({ json }) => json); } catch (_) {}\n\nconst completedKey = dispatchInput.completed_task_key || '';\nconst context = [\n  { prompt: cleanText(dispatchInput.completed_prompt), result: scrubResult(dispatchInput.completed_result || ''), status: 'done' },\n  ...recentTasks\n    .filter((t) => String(t.task_key ?? '') !== completedKey)\n    .map((t) => ({\n      prompt: cleanText(t.prompt),\n      result: scrubResult(t.result_text || ''),\n      status: toText(t.status),\n    })),\n].slice(0, config.maxContextItems);\n\n// is_needs_input приходит из диспетчера: true = отвечаем на вопрос, false = предлагаем задачу\nconst needsInput = dispatchInput.is_needs_input === true || dispatchInput.is_needs_input === 'true';\n\nconst PROMPTS = {\n  true: {\n    system: config.promptAnswerSystem || 'Отвечай JSON: {\"answer\": \"...\"}',\n    user: `Вопрос: ${(() => {\n      const q = cleanText(dispatchInput.pending_question);\n      if (q) return q;\n      try {\n        const meta = JSON.parse(dispatchInput.pending_options_json || '{}');\n        if (meta.type === 'permission') return meta.message || 'OpenCode запрашивает разрешение на выполнение действия. Ответь: 1 (разрешить один раз), 2 (разрешить всегда), 3 (отклонить).';\n        return '(ожидание ответа пользователя)';\n      } catch (_) { return '(ожидание ответа пользователя)'; }\n    })()}\\n\\nКонтекст: ${cleanText(dispatchInput.completed_prompt)}`,\n  },\n  false: {\n    system: config.promptPlannerSystem || 'Отвечай JSON: {\"prompt\": \"...\"}',\n    user: `История задач (самая последняя — ВАЖНЕЕ ВСЕГО, остальные только для контекста):\\n\\n${context.map((t, i) => (i === 0 ? '>>> ПОСЛЕДНЯЯ <<<\\n' : '') + `${i + 1}. ${t.prompt}\\n   Результат: ${t.result}`).join('\\n\\n') || 'Нет истории'}\\n\\nПредложи следующую задачу.`,\n  },\n};\n\nconst prompt = PROMPTS[String(needsInput)] || PROMPTS.false;\nconst combinedPrompt = `${prompt.system}\n\n${prompt.user}`;\n\nreturn {\n  json: {\n    is_needs_input: needsInput,\n    lastTaskKey: dispatchInput.completed_task_key,\n    chatId: dispatchInput.chat_id,\n    pendingOptionsJson: dispatchInput.pending_options_json || '{}',\n    completedPrompt: dispatchInput.completed_prompt || '',\n    prompt: combinedPrompt,\n  },\n};"
      },
      "id": "build-ctx",
      "name": "Формируем контекст для агента",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Формируем контекст для агента').first().json.prompt }}"
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1488,
        240
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {}
      },
      "id": "ds-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1416,
        464
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "__DEEPSEEK_CREDENTIAL_ID__",
          "name": "__DEEPSEEK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toText = (v) => String(v ?? '').trim();\n\n// Защита: AI Agent может не вернуть данных\nlet rawOutput = {};\ntry { rawOutput = $('AI Agent').first().json; } catch (_) {}\nconst content = toText(rawOutput.output ?? rawOutput.text ?? '');\n\nif (!content) {\n  return { json: { error: 'AI вернул пустой ответ' } };\n}\n\n// Извлекаем JSON из ответа AI с учётом вложенных скобок и строк\nfunction extractJson(text) {\n  // 1. Строгий парсинг после удаления markdown-обёртки\n  const stripped = text.replace(/```(?:json)?\\n?/g, '').replace(/```/g, '').trim();\n  try { return JSON.parse(stripped); } catch (_) {}\n\n  // 2. Ищем top-level { ... } — посимвольно, с учётом строк и escape\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escape = false;\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n    if (escape) { escape = false; continue; }\n    if (ch === '\\\\') { escape = true; continue; }\n    if (ch === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (ch === '{') depth++;\n    if (ch === '}') {\n      depth--;\n      if (depth === 0) {\n        try { return JSON.parse(text.slice(start, i + 1)); } catch (_) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\nconst parsed = extractJson(content);\nif (!parsed) {\n  return { json: { error: 'Не удалось извлечь JSON из ответа AI', content: content.slice(0, 200) } };\n}\n\nreturn { json: { parsed } };"
      },
      "id": "extract-json",
      "name": "Извлекаем JSON из ответа",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Защита: fallback-конфиг если Set-нода недоступна\nconst config = (() => {\n  try { return $('Конфигурация авто-генератора').first().json; } catch (_) {\n    return { minPromptLength: 5 };\n  }\n})();\n\nconst toText = (v) => String(v ?? '').trim();\n\nconst ctxInput = (() => {\n  try { return $('Формируем контекст для агента').first().json; } catch (_) { return {}; }\n})();\n\n// is_needs_input приходит из диспетчера: true = отвечаем, false = предлагаем задачу\nconst needsInput = ctxInput.is_needs_input === true;\n\nlet data = null;\ntry { data = $('Извлекаем JSON из ответа').first().json.parsed; } catch (_) {}\n\nif (!data) {\n  // fallback: сырой текст из AI (extract-json сохраняет content при ошибке парсинга)\n  const extractOut = (() => { try { return $('Извлекаем JSON из ответа').first().json; } catch (_) { return {}; } })();\n  const rawFallback = (extractOut.content || '').trim();\n\n  // Санитарная проверка: не оборачиваем мусор\n  const looksLikeError = /\b(error|ошибка|failed|exception|timeout|отказ|не\\s+удалось)\b/i.test(rawFallback);\n  const tooShort = rawFallback.length < 3;\n\n  if (rawFallback && !looksLikeError && !tooShort) {\n    data = needsInput ? { answer: rawFallback } : { prompt: rawFallback };\n  }\n}\n\nif (!data) {\n  return { json: { error: 'Нет данных для валидации' } };\n}\n\nif (needsInput) {\n  // Ответ на вопрос — ожидаем поле answer\n  const answer = toText(data.answer);\n  if (!answer) {\n    return { json: { error: 'AI вернул пустой ответ на вопрос' } };\n  }\n  let opts = {};\n  try { opts = JSON.parse(ctxInput.pendingOptionsJson || '{}'); } catch (_) {}\n  // Для permission-запросов используем reply, для обычных вопросов — answers\n  if (opts.type === 'permission') {\n    opts.reply = answer;\n  } else {\n    opts.answers = [answer];\n  }\n  return {\n    json: {\n      is_needs_input: true,\n      answer,\n      pendingOptionsJson: JSON.stringify(opts),\n      taskKey: ctxInput.lastTaskKey || '',\n      chatId: ctxInput.chatId || '',\n    },\n  };\n}\n\n// Новая задача — ожидаем поле prompt\nconst prompt = toText(data.prompt);\nif (typeof data.prompt !== 'string' || prompt.length < (config.minPromptLength || 5)) {\n  return { json: { error: prompt ? 'AI вернул слишком короткий prompt' : 'AI вернул пустой prompt' } };\n}\n\n// Фазовая валидация: AI не должен предлагать ту же команду с увеличенным номером фазы\n// Это означает что цикл (plan→execute→review→verify→ship) не был завершён для текущей фазы\nconst extractPhase = (text) => {\n  const m = (text || '').match(/\\/gsd-(plan-phase|execute-phase|code-review|verify-work|ship|discuss-phase|add-tests|validate-phase)\\s+(\\d+)/);\n  return m ? { cmd: m[1], num: parseInt(m[2], 10) } : null;\n};\nconst lastGSD = extractPhase(ctxInput.completedPrompt || ctxInput.completed_prompt || '');\nconst nextGSD = extractPhase(prompt);\n\nif (lastGSD && nextGSD && lastGSD.cmd === nextGSD.cmd && lastGSD.num < nextGSD.num) {\n  return { json: { error: `Ошибка авто-генератора: AI предложил /gsd-${nextGSD.cmd} ${nextGSD.num}, но фаза ${lastGSD.num} не завершила цикл. Нельзя переходить к фазе ${nextGSD.num} пока ${lastGSD.num} не прошла plan→execute→review→verify→ship полностью.` } };\n}\n\nreturn {\n  json: {\n    is_needs_input: false,\n    prompt,\n    lastTaskKey: ctxInput.lastTaskKey || '',\n    chatId: ctxInput.chatId || '',\n  },\n};"
      },
      "id": "validate",
      "name": "Валидируем ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-err",
      "name": "Есть ошибка?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_needs_input }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-answer",
      "name": "Это ответ или задача?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        336
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $json.taskKey }}"
            },
            {
              "keyName": "status",
              "keyValue": "needs_input"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pending_question": "",
            "pending_options_json": "={{ $json.pendingOptionsJson }}"
          }
        }
      },
      "id": "upd-answer",
      "name": "Сохраняем ответ в ожидающую задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        784,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ 'auto-' + new Date().getTime().toString(36) + '-' + Math.random().toString(36).substring(2, 8) }}",
            "source": "auto",
            "chat_id": "={{ $json.chatId }}",
            "worker_alias": "={{ $('Конфигурация авто-генератора').first().json.workerAlias }}",
            "command_name": "task",
            "prompt": "={{ $json.prompt }}",
            "status": "queued",
            "parent_task_key": "={{ $json.lastTaskKey }}",
            "context_json": "={{ JSON.stringify({ autoGenerated: true, source: \"auto-generator\", parentTaskKey: $json.lastTaskKey, schemaVersion: 1 }) }}",
            "queued_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "ins-task",
      "name": "Записываем задачу в БД",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        784,
        432
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Формируем контекст для агента').first().json.chatId }}",
        "text": "=🤖 Авто-задача [<code>{{ $json.task_key }}</code>] [{{ $json.worker_alias || 'primary' }}]: {{ $json.prompt }}\n\n/task --auto_mode=\"false\" — выключить авто-режим",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-task",
      "name": "Уведомляем о новой задаче",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        432
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "message": "={{ $json.text }}",
          "title": "n8n Ассистент"
        }
      },
      "id": "ha-Уведомляем-о-новой-задаче",
      "name": "Уведомление HA: Уведомляем о новой задаче",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        9999,
        9999
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "message": "={{ $json.text }}",
          "title": "n8n Ассистент"
        }
      },
      "id": "ha-auto-task",
      "name": "Уведомление HA: Уведомляем о новой задаче",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Формируем контекст для агента').first().json.chatId }}",
        "text": "=🤖 Авто-ответ [<code>{{ $('Валидируем ответ').first().json.taskKey }}</code>] [{{ ($('Конфигурация авто-генератора').first().json.workerAlias) || 'primary' }}]: {{ $('Валидируем ответ').first().json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-answer",
      "name": "Уведомляем об ответе",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "message": "={{ $json.text }}",
          "title": "n8n Ассистент"
        }
      },
      "id": "ha-auto-answer",
      "name": "Уведомление HA: Уведомляем об ответе",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Формируем контекст для агента').first().json.chatId }}",
        "text": "=⚠️ {{ $json.error }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-err",
      "name": "Сообщаем об ошибке генерации",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        144
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "message": "={{ $json.text }}",
          "title": "n8n Ассистент"
        }
      },
      "id": "ha-Сообщаем-об-ошибке-генерации",
      "name": "Уведомление HA: Сообщаем об ошибке генерации",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        9999,
        9999
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "message": "={{ $json.text }}",
          "title": "n8n Ассистент"
        }
      },
      "id": "ha-auto-error",
      "name": "Уведомление HA: Сообщаем об ошибке генерации",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "Ошибка авто-генератора:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-auto-err",
      "name": "Это ошибка авто-генератора?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const toText = (v) => String(v ?? '').trim();\nconst cleanText = (v) => toText(v).replace(/\\s+/g, ' ').slice(0, 800);\n\nconst config = (() => {\n  try { return $('Конфигурация авто-генератора').first().json; } catch (_) {\n    return { promptFinalOpinionSystem: 'Ты — агент Итоговое мнение. Исправь команду. Отвечай JSON: {\"prompt\": \"...\"}' };\n  }\n})();\n\nconst errorText = (() => {\n  try { return $('Валидируем ответ').first().json.error; } catch (_) { return ''; }\n})();\n\nconst rawAgentOutput = (() => {\n  try { return toText($('AI Agent').first().json.output); } catch (_) { return ''; }\n})();\n\nconst ctxInput = (() => {\n  try { return $('Формируем контекст для агента').first().json; } catch (_) { return {}; }\n})();\n\nconst dispatchInput = (() => {\n  try { return $('Триггер: вызов из диспетчера').first().json; } catch (_) { return {}; }\n})();\n\nconst systemPrompt = config.promptFinalOpinionSystem || 'Ты — агент Итоговое мнение. Исправь команду.';\n\n// Собираем полную историю (та же что шла planner-у)\nconst completedKey = ctxInput.lastTaskKey || '';\nlet recentTasks = [];\ntry { recentTasks = $('Получаем историю задач').all().map(({ json }) => json); } catch (_) {}\nconst scrubResult = (v) => toText(v).replace(/\\/gsd-[\\w-]+(?:\\s+[\\w\"'\\-=.]+)*/g, '[команда]').replace(/\\s+/g, ' ');\nconst context = [\n  { prompt: cleanText(dispatchInput.completed_prompt || ctxInput.completedPrompt || ''), result: scrubResult(dispatchInput.completed_result || ''), status: 'done' },\n  ...recentTasks\n    .filter((t) => String(t.task_key ?? '') !== completedKey)\n    .map((t) => ({\n      prompt: cleanText(t.prompt),\n      result: scrubResult(t.result_text || ''),\n      status: toText(t.status),\n    })),\n].slice(0, 6);\n\nconst historyText = context.length > 0\n  ? context.map((t, i) => (i === 0 ? '>>> ПОСЛЕДНЯЯ <<<\\n' : '') + `${i + 1}. ${t.prompt}\\n   Результат: ${t.result}`).join('\\n\\n')\n  : 'Нет истории';\n\nconst userPrompt = `История задач:\\n\\n${historyText}\\n\\nПредыдущий AI-агент предложил:\\n${rawAgentOutput}\\n\\nОшибка валидации:\\n${errorText}\\n\\nРассуди: кто прав? Выдай СТРОГО JSON: {\"prompt\": \"...\"}`;\n\nreturn {\n  json: {\n    prompt: systemPrompt + '\\n\\n' + userPrompt\n  }\n};"
      },
      "id": "build-final-context",
      "name": "Формируем контекст для ИМ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        364
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "ai-final-opinion",
      "name": "AI Agent (Итоговое мнение)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        364
      ]
    },
    {
      "parameters": {
        "jsCode": "const toText = (v) => String(v ?? '').trim();\n\nlet rawOutput = {};\ntry { rawOutput = $('AI Agent (Итоговое мнение)').first().json; } catch (_) {}\nconst content = toText(rawOutput.output ?? rawOutput.text ?? '');\n\nif (!content) {\n  return { json: { error: 'Итоговое мнение вернуло пустой ответ' } };\n}\n\nfunction extractJson(text) {\n  const stripped = text.replace(/```(?:json)?\\n?/g, '').replace(/```/g, '').trim();\n  try { return JSON.parse(stripped); } catch (_) {}\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escape = false;\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n    if (escape) { escape = false; continue; }\n    if (ch === '\\\\') { escape = true; continue; }\n    if (ch === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (ch === '{') depth++;\n    if (ch === '}') {\n      depth--;\n      if (depth === 0) {\n        try { return JSON.parse(text.slice(start, i + 1)); } catch (_) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\nconst parsed = extractJson(content);\nif (!parsed) {\n  return { json: { error: 'Не удалось извлечь JSON из ответа Итогового мнения' } };\n}\n\nconst prompt = toText(parsed.prompt);\nif (!prompt) {\n  return { json: { error: 'Итоговое мнение не вернуло команду' } };\n}\n\nconst ctxInput = (() => {\n  try { return $('Формируем контекст для агента').first().json; } catch (_) { return {}; }\n})();\n\nreturn {\n  json: {\n    is_needs_input: false,\n    prompt,\n    lastTaskKey: ctxInput.lastTaskKey || '',\n    chatId: ctxInput.chatId || ''\n  }\n};"
      },
      "id": "extract-final-result",
      "name": "Формируем результат ИМ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        364
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {}
      },
      "id": "ds-model-im",
      "name": "DeepSeek Chat Model (Итоговое мнение)",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -168,
        588
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "__DEEPSEEK_CREDENTIAL_ID__",
          "name": "__DEEPSEEK_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Триггер: вызов из диспетчера": {
      "main": [
        [
          {
            "node": "Конфигурация авто-генератора",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Конфигурация авто-генератора": {
      "main": [
        [
          {
            "node": "Получаем историю задач",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем историю задач": {
      "main": [
        [
          {
            "node": "Формируем контекст для агента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формируем контекст для агента": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Извлекаем JSON из ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем JSON из ответа": {
      "main": [
        [
          {
            "node": "Валидируем ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Валидируем ответ": {
      "main": [
        [
          {
            "node": "Это ошибка авто-генератора?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ошибка?": {
      "main": [
        [
          {
            "node": "Сообщаем об ошибке генерации",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Это ответ или задача?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это ответ или задача?": {
      "main": [
        [
          {
            "node": "Сохраняем ответ в ожидающую задачу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Записываем задачу в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем ответ в ожидающую задачу": {
      "main": [
        [
          {
            "node": "Уведомляем об ответе",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Записываем задачу в БД": {
      "main": [
        [
          {
            "node": "Уведомляем о новой задаче",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это ошибка авто-генератора?": {
      "main": [
        [
          {
            "node": "Формируем контекст для ИМ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Есть ошибка?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формируем контекст для ИМ": {
      "main": [
        [
          {
            "node": "AI Agent (Итоговое мнение)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Итоговое мнение)": {
      "main": [
        [
          {
            "node": "Формируем результат ИМ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формируем результат ИМ": {
      "main": [
        [
          {
            "node": "Есть ошибка?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model (Итоговое мнение)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Итоговое мнение)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Уведомляем об ответе": {
      "main": [
        [
          {
            "node": "Уведомление HA: Уведомляем об ответе",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: Уведомляем об ответе": {
      "main": [
        []
      ]
    },
    "Уведомление HA: Уведомляем о новой задаче": {
      "main": [
        []
      ]
    },
    "Уведомление HA: Сообщаем об ошибке генерации": {
      "main": [
        []
      ]
    },
    "Уведомляем о новой задаче": {
      "main": [
        [
          {
            "node": "Уведомление HA: Уведомляем о новой задаче",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем об ошибке генерации": {
      "main": [
        [
          {
            "node": "Уведомление HA: Сообщаем об ошибке генерации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "900016",
  "active": false
}
