n8n/bootstrap/workflows/templates/notify-user.template.json
{
  "name": "Уведомление пользователя",
  "id": "900018",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "replyText",
              "type": "string"
            },
            {
              "name": "text",
              "type": "string"
            },
            {
              "name": "chatId",
              "type": "string"
            },
            {
              "name": "fallbackText",
              "type": "string"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Вызов уведомления",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1264,
        2368
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json\nconst text = String(input.replyText || input.text || input.fallbackText || '')\nconst chatId = input.chatId || ''\nreturn [\n  { json: { text, chatId } },\n  { json: { text, chatId } },\n]"
      },
      "id": "normalize",
      "name": "Нормализуем входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        2368
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-telegram",
      "name": "Отправка в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -816,
        2368
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Готовим текст для AI-очистки перед озвучиванием\n// Telegram API ответ может быть вложенным (result.text) или плоским (text)\nconst data = $input.first().json\nconst text = String(\n  data.text || (data.result || {}).text || $('Нормализуем входные данные').first().json.text || ''\n)\n\nreturn {\n  json: {\n    systemPrompt: `Ты — обработчик текста для озвучивания через TTS. Получив текст, верни ТОЛЬКО очищенный текст. ПРАВИЛА: 1. Если текст на английском — переведи на русский. 2. Убери пути к файлам, URL, куски кода, массивы, JSON, логи. 3. Убери markdown, бэктики, спецсимволы. 4. Сократи до 3-4 предложений, сохранив СУТЬ. 5. Не добавляй пояснений — только сам текст. 6. Plain text, без форматирования.`,\n    userPrompt: text,\n  },\n}"
      },
      "id": "prepare-tts-prompt",
      "name": "Готовим запрос для очистки текста",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        2368
      ]
    },
    {
      "parameters": {
        "options": {},
        "model": "deepseek-v4-pro"
      },
      "id": "ds-tts-model",
      "name": "DeepSeek Chat Model (TTS)",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -288,
        2592
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "__DEEPSEEK_CREDENTIAL_ID__",
          "name": "__DEEPSEEK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "tts-cleaner-agent",
      "name": "AI очистка текста",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -368,
        2368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем очищенный текст из ответа AI\nconst toText = (v) => String(v ?? '').trim()\n\nlet cleanText = ''\ntry {\n  cleanText = toText($('AI очистка текста').first().json.output ?? $('AI очистка текста').first().json.text ?? '')\n} catch (_) {}\n\n// Fallback: AI не ответил или ошибка — используем текст из входа\nif (!cleanText) {\n  const input = $input.first().json\n  cleanText = toText(input.text || (input.result || {}).text || '')\n}\n\n// Если всё ещё пусто — последний рубеж: текст из нормализации (содержит fallbackText)\nif (!cleanText) {\n  try {\n    cleanText = toText($('Нормализуем входные данные').first().json.text)\n  } catch (_) {}\n}\n\n// Финальная очистка\ncleanText = cleanText\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/`([^`]*)`/g, '$1')\n  .replace(/[*_~]{1,2}/g, '')\n  .replace(/\\[([^\\]]*)\\]\\([^)]*\\)/g, '$1')\n  .replace(/\\s+/g, ' ')\n  .trim()\n\nreturn { json: { cleanText } }"
      },
      "id": "extract-tts-text",
      "name": "Извлекаем очищенный текст",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        2368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__HA_URL__/api/services/script/1720584135122",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.cleanText || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ha-tts",
      "name": "Озвучивание через HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        2368
      ]
    }
  ],
  "connections": {
    "Вызов уведомления": {
      "main": [
        [
          {
            "node": "Нормализуем входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализуем входные данные": {
      "main": [
        [
          {
            "node": "Отправка в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка в Telegram": {
      "main": [
        [
          {
            "node": "Готовим запрос для очистки текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим запрос для очистки текста": {
      "main": [
        [
          {
            "node": "AI очистка текста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model (TTS)": {
      "ai_languageModel": [
        [
          {
            "node": "AI очистка текста",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI очистка текста": {
      "main": [
        [
          {
            "node": "Извлекаем очищенный текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем очищенный текст": {
      "main": [
        [
          {
            "node": "Озвучивание через HA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}