n8n/bootstrap/workflows/templates/pending-interaction.template.json
{
  "name": "Обработка интеракций",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "taskKey",
              "type": "string"
            },
            {
              "name": "sessionId",
              "type": "string"
            },
            {
              "name": "chatId",
              "type": "string"
            },
            {
              "name": "taskStatus",
              "type": "string"
            },
            {
              "name": "pendingQuestion",
              "type": "string"
            },
            {
              "name": "pendingOptionsJson",
              "type": "string"
            },
            {
              "name": "workerBaseUrl",
              "type": "string"
            },
            {
              "name": "authorizationHeader",
              "type": "string"
            },
            {
              "name": "questionListPath",
              "type": "string"
            },
            {
              "name": "questionReplyPath",
              "type": "string"
            },
            {
              "name": "questionRejectPath",
              "type": "string"
            },
            {
              "name": "permissionListPath",
              "type": "string"
            },
            {
              "name": "permissionReplyPath",
              "type": "string"
            },
            {
              "name": "abortRequested",
              "type": "string"
            },
            {
              "name": "contextJson",
              "type": "string"
            }
          ]
        }
      },
      "id": "sub-trigger",
      "name": "Запуск по вызову из другого сценария",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Нормализуем входные данные для обработчика интеракций OpenCode.\n// Пробрасываем все endpoint-ы: question (reply/reject), permission (list/reply).\n\nconst input = $('Запуск по вызову из другого сценария').item.json\n\nreturn {\n  json: {\n    taskKey: String(input.taskKey || '').trim(),\n    sessionId: String(input.sessionId || '').trim(),\n    chatId: String(input.chatId || '').trim(),\n    taskStatus: String(input.taskStatus || '').trim(),\n    pendingQuestion: String(input.pendingQuestion || '').trim(),\n    pendingOptionsJson: String(input.pendingOptionsJson || '[]'),\n    workerBaseUrl: String(input.workerBaseUrl || '').trim(),\n    authorizationHeader: String(input.authorizationHeader || '').trim(),\n    questionListPath: String(input.questionListPath || '').trim(),\n    questionReplyPath: String(input.questionReplyPath || '').trim(),\n    questionRejectPath: String(input.questionRejectPath || '').trim(),\n    permissionListPath: String(input.permissionListPath || '').trim(),\n    permissionReplyPath: String(input.permissionReplyPath || '').trim(),\n    abortRequested: input.abortRequested === true,\n    contextJson: input.contextJson || {},\n  },\n}"
      },
      "id": "parse-input",
      "name": "Разбираем входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Разбираем входные данные').item.json.taskStatus }}",
              "rightValue": "needs_input",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-input",
      "name": "Задача уже ждёт ответ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Разбираем pendingOptionsJson из таблицы задач.\n// Определяем: есть ли готовый ответ для отправки в OpenCode API (hasAnswerPayload)\n//              или вопрос ещё нужно доставить пользователю (shouldSendQuestion).\n\nconst input = $('Разбираем входные данные').item.json\nlet pendingMeta = {}\ntry {\n  pendingMeta = JSON.parse(String(input.pendingOptionsJson || '{}'))\n} catch {}\n\nconst requestId = String(pendingMeta.requestId || '').trim()\nconst deliveredAt = String(pendingMeta.deliveredAt || '').trim()\nconst interactionType = Array.isArray(pendingMeta.questions)\n  ? 'question'\n  : String(pendingMeta.type || '').trim()\n\nconst answers = Array.isArray(pendingMeta.answers) ? pendingMeta.answers : []\nconst rejectRequested = pendingMeta.rejectRequested === true\nconst permissionReply = String(pendingMeta.reply || '').trim()\nconst permissionMessage = String(pendingMeta.message || '').trim()\n\n// Готов ли ответ для отправки в OpenCode?\n//   question:   есть requestId И (отклонён ИЛИ есть выбранные варианты)\n//   permission: есть requestId И выбран тип ответа (once/always/reject)\n//   иначе:      false (неизвестный тип интеракции — не ломаемся)\nconst hasAnswerPayload =\n  interactionType === 'question'\n    ? Boolean(requestId) && (rejectRequested || answers.length > 0)\n    : interactionType === 'permission'\n      ? Boolean(requestId) && Boolean(permissionReply)\n      : false\n\n// Нужно ли отправить вопрос пользователю? (ещё не доставлен и нет готового ответа)\nconst shouldSendQuestion =\n  Boolean(requestId) &&\n  !hasAnswerPayload &&\n  !deliveredAt &&\n  String(input.pendingQuestion || '').trim()\n\nreturn {\n  json: {\n    taskKey: input.taskKey,\n    sessionId: input.sessionId,\n    chatId: input.chatId,\n    hasAnswerPayload,\n    shouldSendQuestion,\n    interactionType,\n    requestId,\n    requestAction: rejectRequested ? 'reject' : 'reply',\n    answers,\n    permissionReply,\n    permissionMessage,\n  },\n}"
      },
      "id": "prepare-answer",
      "name": "Готовим ответ пользователю",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим ответ пользователю').item.json.hasAnswerPayload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-answer-ready",
      "name": "Ответ пользователя сохранён?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Готовим ответ пользователю').item.json.interactionType === 'permission' ? $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.permissionReplyPath.replace(':requestID', $('Готовим ответ пользователю').item.json.requestId) : $('Готовим ответ пользователю').item.json.requestAction === 'reject' ? $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.questionRejectPath.replace(':requestID', $('Готовим ответ пользователю').item.json.requestId) : $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.questionReplyPath.replace(':requestID', $('Готовим ответ пользователю').item.json.requestId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Готовим ответ пользователю').item.json.interactionType === 'permission' ? { reply: $('Готовим ответ пользователю').item.json.permissionReply, ...( $('Готовим ответ пользователю').item.json.permissionMessage ? { message: $('Готовим ответ пользователю').item.json.permissionMessage } : {} ) } : $('Готовим ответ пользователю').item.json.requestAction === 'reject' ? {} : { answers: $('Готовим ответ пользователю').item.json.answers } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-answer",
      "name": "Отвечаем на вопрос OpenCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        320
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим ответ пользователю').item.json.shouldSendQuestion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-send",
      "name": "Нужно отправить ожидающий вопрос?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Разбираем входные данные').item.json.chatId }}",
        "text": "={{ $('Разбираем входные данные').item.json.pendingQuestion }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-pending-question",
      "name": "Отправляем ожидающую интеракцию",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.permissionListPath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-permissions",
      "name": "Получаем запросы прав",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        700
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Ищем permission-запрос от OpenCode для текущей сессии.\n// Если найден — форматируем читаемый текст с паттернами и вариантами ответа.\n// Если не найден — возвращаем hasInteraction: false (нода ниже уйдёт в ветку «нет прав»).\n\nconst input = $('Разбираем входные данные').item.json\nconst rawItems = $('Получаем запросы прав').all().map((item) => item.json)\nconst requests = rawItems\n  .flatMap((item) => Array.isArray(item) ? item : [item])\n  .filter((item) => item && !item.error)\n\nconst request = requests.find(\n  (item) => String(item.sessionID || '').trim() === input.sessionId\n)\n\nif (!request) return { json: { hasInteraction: false } }\n\n// Безопасно извлекаем поля ответа API (может быть null, не-массив и т.д.)\nconst patterns = Array.isArray(request.patterns) ? request.patterns : []\nconst alwaysPatterns = Array.isArray(request.always) ? request.always : []\nconst metadata = request.metadata && typeof request.metadata === 'object' ? request.metadata : {}\n\n// Форматируем паттерны в маркированный список\nconst patternLines = patterns.length > 0\n  ? patterns.filter(Boolean).map((pattern) => `- ${String(pattern).trim()}`).join('\\n')\n  : '- (паттерн не указан)'\n\nconst alwaysLines = alwaysPatterns.length > 0\n  ? alwaysPatterns.filter(Boolean).map((pattern) => `- ${String(pattern).trim()}`).join('\\n')\n  : '- (нет рекомендуемых паттернов)'\n\nconst metadataText = Object.keys(metadata).length > 0\n  ? JSON.stringify(metadata, null, 2)\n  : ''\n\n// Собираем сообщение для отправки пользователю в Telegram\nconst questionText = [\n  `OpenCode запрашивает разрешение по задаче ${input.taskKey || 'неизвестно'}.`,\n  String(request.title || 'Требуется подтверждение действия.').trim(),\n  '',\n  `Тип permission: ${String(request.permission || 'unknown').trim()}`,\n  'Запрошенные паттерны:',\n  patternLines,\n  '',\n  'Если выбрать always, будут разрешены паттерны:',\n  alwaysLines,\n  metadataText ? `\\nДополнительные данные:\\n${metadataText}` : '',\n  '',\n  'Ответьте одним из вариантов:',\n  '1. once — разрешить один раз',\n  '2. always — разрешить всегда для предложенных паттернов',\n  '3. reject — отклонить',\n].filter(Boolean).join('\\n').trim()\n\nreturn {\n  json: {\n    hasInteraction: true,\n    interactionType: 'permission',\n    pendingQuestionText: questionText,\n    // Сохраняем контекст интеракции: requestId нужен для ответа в OpenCode API\n    pendingOptionsJson: JSON.stringify({\n      type: 'permission',\n      requestId: String(request.id || '').trim(),\n      reply: '',\n      message: '',\n    }),\n  },\n}"
      },
      "id": "find-permission",
      "name": "Ищем права для сессии",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Ищем права для сессии').item.json.hasInteraction }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-permission-found",
      "name": "Есть права?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.questionListPath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-questions",
      "name": "Получаем ожидающие вопросы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        700
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Ищем question-запрос от OpenCode для текущей сессии.\n// Если найден — форматируем читаемый текст с вариантами ответа.\n// Каждый вопрос: header, body, варианты (с нумерацией для ответа пользователя).\n\nconst input = $('Разбираем входные данные').item.json\nconst rawItems = $('Получаем ожидающие вопросы').all().map((item) => item.json)\nconst requests = rawItems\n  .flatMap((item) => Array.isArray(item) ? item : [item])\n  .filter((item) => item && !item.error)\n\nconst request = requests.find(\n  (item) => String(item.sessionID || '').trim() === input.sessionId\n)\n\nif (!request) return { json: { hasInteraction: false } }\n\nconst questions = Array.isArray(request.questions) ? request.questions : []\n\n// Форматируем каждый вопрос в текстовый блок\nconst blocks = questions.map((question, index) => {\n  const lines = []\n  lines.push(`${index + 1}. ${String(question.header || '').trim()}`)\n  const body = String(question.question || '').trim()\n  if (body) lines.push(body)\n\n  const options = Array.isArray(question.options) ? question.options : []\n  if (options.length > 0) {\n    lines.push('')\n    options.forEach((option, i) => {\n      lines.push(`${i + 1}. ${String(option.label || '').trim()}`)\n    })\n  }\n\n  lines.push('')\n  lines.push(question.multiple ? 'Можно выбрать несколько вариантов.' : 'Выберите один вариант.')\n  return lines.join('\\n').trim()\n})\n\nconst questionText = [\n  `OpenCode ждёт уточнение по задаче ${input.taskKey || 'неизвестно'}.`,\n  '',\n  blocks.join('\\n\\n'),\n  '',\n  'Для отклонения отправьте /reject или task_key: /reject.',\n].join('\\n').trim()\n\nreturn {\n  json: {\n    hasInteraction: true,\n    interactionType: 'question',\n    pendingQuestionText: questionText,\n    // Сохраняем контекст: санированные копии вопросов + requestId для ответа в API\n    pendingOptionsJson: JSON.stringify({\n      requestId: String(request.id || '').trim(),\n      questions: questions.map((question) => ({\n        question: String(question.question || '').trim(),\n        header: String(question.header || '').trim(),\n        multiple: Boolean(question.multiple),\n        custom: question.custom !== false,\n        options: (Array.isArray(question.options) ? question.options : []).map((option) => ({\n          label: String(option.label || '').trim(),\n          description: String(option.description || '').trim(),\n        })),\n      })),\n      answers: null,\n      rejectRequested: false,\n    }),\n  },\n}"
      },
      "id": "find-question",
      "name": "Ищем вопрос для сессии",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Ищем вопрос для сессии').item.json.hasInteraction }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-question-found",
      "name": "Есть вопрос?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Разбираем входные данные').item.json.abortRequested }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-abort-requested",
      "name": "Запрошено прерывание?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Разбираем входные данные').item.json.workerBaseUrl + '/session/' + $('Разбираем входные данные').item.json.sessionId + '/abort' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "abort-session",
      "name": "Отменяем сессию OpenCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        900
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Разбираем входные данные').item.json.taskKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "cancelled",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": "={{ `Задача ${$('Разбираем входные данные').item.json.taskKey} прервана.` }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "mark-aborted",
      "name": "Помечаем задачу отмененной",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1420,
        900
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Универсальный сборщик: берём данные из любой ветки интеракции (permission или question)\n// и добавляем контекст задачи.\n\nconst item = $input.item.json\nconst context = $('Разбираем входные данные').item.json\n\nreturn {\n  json: {\n    hasInteraction: Boolean(item.hasInteraction),\n    interactionType: String(item.interactionType || '').trim(),\n    pendingQuestionText: String(item.pendingQuestionText || '').trim(),\n    pendingOptionsJson: String(item.pendingOptionsJson || '[]'),\n    taskKey: item.taskKey || context.taskKey,\n    sessionId: item.sessionId || context.sessionId,\n    chatId: item.chatId || context.chatId,\n  },\n}"
      },
      "id": "pick-source",
      "name": "Выбираем найденную интеракцию",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        700
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Определяем итоговый resultType по приоритету:\n//   abort > pending_sent > interaction_processed > interaction_found > no_action\n// taskKey/sessionId/chatId берём из data, с fallback на контекст вызова —\n// иначе ветка «нет вопроса» потеряет все три поля и сломает paired-item цепочку диспетчера.\n\nconst data = $input.item.json\nconst context = $('Разбираем входные данные').item.json\n\nconst resultType = data.taskCancelled ? 'abort'\n  : data.questionSent ? 'pending_sent'\n  : data.hasAnswerPayload ? 'interaction_processed'\n  : data.hasInteraction ? 'interaction_found'\n  : 'no_action'\n\nreturn {\n  json: {\n    taskKey: data.taskKey || context.taskKey || '',\n    sessionId: data.sessionId || context.sessionId || '',\n    chatId: data.chatId || context.chatId || '',\n    resultType,\n    interactionType: data.interactionType || '',\n    hasInteraction: data.hasInteraction || false,\n    questionSent: data.questionSent || false,\n    taskCancelled: data.taskCancelled || false,\n    error: data.replyError || data.error || '',\n    pendingQuestionText: data.pendingQuestionText || '',\n    pendingOptionsJson: data.pendingOptionsJson || '',\n  },\n}"
      },
      "id": "merge-result",
      "name": "Собираем итог интеракции",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        320
      ]
    },
    {
      "id": "enrich-pending-sent",
      "name": "Обогащаем: вопрос отправлен",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Маркируем: вопрос отправлен пользователю в Telegram.\n\nconst context = $('Разбираем входные данные').item.json\nreturn { json: { taskKey: context.taskKey, sessionId: context.sessionId, chatId: context.chatId, resultType: 'pending_sent', questionSent: true } }",
        "language": "javaScript"
      }
    },
    {
      "id": "enrich-abort",
      "name": "Обогащаем: задача отменена",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        600
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Маркируем: задача отменена (abort).\n\nconst context = $('Разбираем входные данные').item.json\nreturn { json: { taskKey: context.taskKey, sessionId: context.sessionId, chatId: context.chatId, resultType: 'abort', taskCancelled: true } }",
        "language": "javaScript"
      }
    },
    {
      "id": "enrich-answer-sent",
      "name": "Обогащаем: ответ в OpenCode отправлен",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        320
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// После отправки ответа в OpenCode API собираем итог: ошибка или успех.\n// Очистка от HTML-тегов: Telegram-нода по умолчанию шлёт parse_mode=HTML.\n\nconst stripHtml = (str) => String(str || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').trim()\n\nconst httpResult = $input.item.json\nconst answer = $('Готовим ответ пользователю').item.json\nconst context = $('Разбираем входные данные').item.json\n\nreturn {\n  json: {\n    taskKey: answer.taskKey || context.taskKey,\n    sessionId: answer.sessionId || context.sessionId,\n    chatId: answer.chatId || context.chatId,\n    resultType: 'interaction_processed',\n    interactionType: answer.interactionType,\n    requestAction: answer.requestAction,\n    hasInteraction: true,\n    hasAnswerPayload: true,\n    // Ошибка: либо от n8n ($input.item.error), либо из тела ответа API\n    replyError: stripHtml($input.item.error?.message || (httpResult.error ? String(httpResult.error.message || httpResult.error) : '')),\n  },\n}",
        "language": "javaScript"
      }
    }
  ],
  "connections": {
    "Запуск по вызову из другого сценария": {
      "main": [
        [
          {
            "node": "Разбираем входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем входные данные": {
      "main": [
        [
          {
            "node": "Задача уже ждёт ответ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задача уже ждёт ответ?": {
      "main": [
        [
          {
            "node": "Готовим ответ пользователю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Запрошено прерывание?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим ответ пользователю": {
      "main": [
        [
          {
            "node": "Ответ пользователя сохранён?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ пользователя сохранён?": {
      "main": [
        [
          {
            "node": "Отвечаем на вопрос OpenCode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нужно отправить ожидающий вопрос?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем на вопрос OpenCode": {
      "main": [
        [
          {
            "node": "Обогащаем: ответ в OpenCode отправлен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужно отправить ожидающий вопрос?": {
      "main": [
        [
          {
            "node": "Отправляем ожидающую интеракцию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Собираем итог интеракции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем запросы прав": {
      "main": [
        [
          {
            "node": "Ищем права для сессии",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем права для сессии": {
      "main": [
        [
          {
            "node": "Есть права?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть права?": {
      "main": [
        [
          {
            "node": "Выбираем найденную интеракцию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получаем ожидающие вопросы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем ожидающие вопросы": {
      "main": [
        [
          {
            "node": "Ищем вопрос для сессии",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем вопрос для сессии": {
      "main": [
        [
          {
            "node": "Есть вопрос?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть вопрос?": {
      "main": [
        [
          {
            "node": "Выбираем найденную интеракцию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Собираем итог интеракции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрошено прерывание?": {
      "main": [
        [
          {
            "node": "Отменяем сессию OpenCode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получаем запросы прав",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отменяем сессию OpenCode": {
      "main": [
        [
          {
            "node": "Помечаем задачу отмененной",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбираем найденную интеракцию": {
      "main": [
        [
          {
            "node": "Собираем итог интеракции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем ожидающую интеракцию": {
      "main": [
        [
          {
            "node": "Обогащаем: вопрос отправлен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Помечаем задачу отмененной": {
      "main": [
        [
          {
            "node": "Обогащаем: задача отменена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обогащаем: вопрос отправлен": {
      "main": [
        [
          {
            "node": "Собираем итог интеракции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обогащаем: задача отменена": {
      "main": [
        [
          {
            "node": "Собираем итог интеракции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обогащаем: ответ в OpenCode отправлен": {
      "main": [
        [
          {
            "node": "Собираем итог интеракции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "900014",
  "tags": []
}
