n8n/bootstrap/workflows/templates/task-finalizer.template.json
{
  "name": "Завершение задачи",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "taskKey",
              "type": "string"
            },
            {
              "name": "sessionId",
              "type": "string"
            },
            {
              "name": "chatId",
              "type": "string"
            },
            {
              "name": "workerBaseUrl",
              "type": "string"
            },
            {
              "name": "authorizationHeader",
              "type": "string"
            },
            {
              "name": "sessionStatusPath",
              "type": "string"
            },
            {
              "name": "messageListPath",
              "type": "string"
            },
            {
              "name": "latestSentId",
              "type": "string"
            }
          ]
        }
      },
      "id": "sub-trigger",
      "name": "Запуск по вызову из другого сценария",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Нормализуем входные данные для финализатора задачи.\n\nconst input = $('Запуск по вызову из другого сценария').item.json\n\nreturn {\n  json: {\n    taskKey: String(input.taskKey || '').trim(),\n    sessionId: String(input.sessionId || '').trim(),\n    chatId: String(input.chatId || '').trim(),\n    workerBaseUrl: String(input.workerBaseUrl || '').trim(),\n    authorizationHeader: String(input.authorizationHeader || '').trim(),\n    sessionStatusPath: String(input.sessionStatusPath || '').trim(),\n    messageListPath: String(input.messageListPath || '').trim(),\n    latestSentId: String(input.latestSentId || '').trim(),\n  },\n}"
      },
      "id": "parse-input",
      "name": "Разбираем входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.sessionStatusPath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-status",
      "name": "Получаем статусы сессий",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        320
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Проверяем статус сессии: idle = завершена, иначе ещё выполняется.\n// Если sessionId начинается с 'claim-' — значит save-session-id не сработал,\n// сессия никогда не найдётся в statusMap и задача зависнет навсегда.\n// Если сессия не найдена в ответе API — тоже возвращаем ошибку.\n\nconst input = $('Разбираем входные данные').item.json\nconst sessionId = String(input.sessionId || '').trim()\n\nconst isClaimToken = sessionId.startsWith('claim-')\nif (isClaimToken) {\n  return {\n    json: {\n      isIdle: false,\n      sessionError: `Claim token detected as session_id: ${sessionId}. Session ID was never saved after launch.`,\n    },\n  }\n}\n\nconst statusMap = $('Получаем статусы сессий').item.json || {}\nconst sessionStatus = statusMap[sessionId]\n\nif (!sessionStatus || Object.keys(sessionStatus).length === 0) {\n  return {\n    json: {\n      isIdle: false,\n      sessionError: `Session ${sessionId} not found in status response.`,\n    },\n  }\n}\n\nconst statusType = String(sessionStatus.type || '').trim()\nreturn {\n  json: { isIdle: statusType === 'idle' },\n}"
      },
      "id": "read-status",
      "name": "Проверяем статус сессии",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Проверяем статус сессии').item.json.isIdle }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-idle",
      "name": "Сессия завершена?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.messageListPath.replace(':id', $('Разбираем входные данные').item.json.sessionId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-messages",
      "name": "Получаем сообщения сессии",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        320
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Извлекаем из ответа API (с HTML-экранированием для Telegram HTML-режима)\n\nconst stripHtml = (str) => String(str || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').trim()\n\n// Извлекаем из ответа API OpenCode текстовый вывод и флаг завершения сессии.\n// Алгоритм:\n//   1. Фильтруем сообщения сессии: только assistant, сортируем по времени\n//   2. Среди новых (ещё не отправленных) сообщений собираем текст → streamProgressText\n//   3. Если сессия idle:\n//      a. Нет сообщений   → failed\n//      b. Есть error      → failed + сообщение ошибки\n//      c. Есть текст      → done + ответ\n//   4. Если НЕ idle       → running + streamProgress (диспетчер отправит юзеру промежуточный прогресс)\n//   5. Если read-status вернул sessionError → failed (сессия не найдена / claimToken не заменён)\n\nconst input = $('Разбираем входные данные').item.json\nconst isIdle = String($('Проверяем статус сессии').item.json.isIdle) === 'true'\nconst sessionError = String($('Проверяем статус сессии').item.json.sessionError || '').trim()\n\n// Сессия не найдена / claimToken не заменён — сразу failed, без вечного цикла\nif (sessionError) {\n  return {\n    json: {\n      resultStatus: 'failed',\n      streamProgressText: '',\n      latestSentId: input.latestSentId,\n      taskCompleted: true,\n      replyText: stripHtml(`Задача ${input.taskKey} завершилась ошибкой: ${sessionError}`),\n      taskKey: input.taskKey,\n    },\n  }\n}\n\nconst latestSentId = input.latestSentId\nconst rawItems = $('Получаем сообщения сессии').all().map((item) => item.json)\nconst messages = rawItems.flatMap((item) => Array.isArray(item) ? item : [item]).filter(Boolean)\n\n// Только ответы ассистента, по возрастанию времени создания\nconst assistantMessages = messages\n  .filter((message) => String(message.info?.role || '') === 'assistant')\n  .sort((left, right) => Number(left.info?.time?.created || 0) - Number(right.info?.time?.created || 0))\n\nconst latestAssistant = assistantMessages[assistantMessages.length - 1] || null\n\nlet streamProgressText = ''\nlet newLatestSentId = latestSentId\n\n// Собираем текст из новых (ещё не виденных) сообщений для промежуточного прогресса\nconst newMessages = latestSentId\n  ? assistantMessages.filter((message) => String(message.info?.id || '') > latestSentId)\n  : assistantMessages\n\nfor (const message of newMessages) {\n  const texts = Array.isArray(message.parts)\n    ? message.parts\n        .filter((part) => String(part.type || '') === 'text')\n        .map((part) => String(part.text || part.content || '').trim())\n        .filter(Boolean)\n    : []\n  if (texts.length > 0) {\n    streamProgressText = texts.join('\\n').trim()\n    newLatestSentId = String(message.info?.id || '').trim()\n  }\n}\n\n// --- Сессия завершена (idle) ---\nif (isIdle) {\n  // Нет ни одного ответа от ассистента\n  if (!latestAssistant) {\n    return {\n      json: {\n        resultStatus: 'failed',\n        streamProgressText: '',\n        latestSentId: newLatestSentId,\n        taskCompleted: true,\n        replyText: stripHtml(`Задача ${input.taskKey} завершилась без итогового ответа OpenCode.`),\n        taskKey: input.taskKey,\n      },\n    }\n  }\n\n  // Ассистент вернул ошибку\n  const assistantError = latestAssistant.info?.error\n  if (assistantError) {\n    const errorMessage = String(\n      assistantError.data?.message || assistantError.message || assistantError.name || 'OpenCode завершился с ошибкой.'\n    )\n    return {\n      json: {\n        resultStatus: 'failed',\n        streamProgressText: '',\n        latestSentId: newLatestSentId,\n        taskCompleted: true,\n        replyText: stripHtml(`Задача ${input.taskKey} завершилась ошибкой OpenCode: ${errorMessage}`),\n        taskKey: input.taskKey,\n      },\n    }\n  }\n\n  // Успешное завершение: собираем итоговый текст\n  const textParts = Array.isArray(latestAssistant.parts)\n    ? latestAssistant.parts\n        .filter((part) => String(part.type || '') === 'text')\n        .map((part) => String(part.text || part.content || '').trim())\n        .filter(Boolean)\n    : []\n  const rawText = textParts.join('\\n').trim() || JSON.stringify(latestAssistant)\n\n  return {\n    json: {\n      resultStatus: 'done',\n      streamProgressText: '',\n      latestSentId: newLatestSentId,\n      taskCompleted: true,\n      replyText: stripHtml(`Задача ${input.taskKey} завершена.\\n\\n${rawText}`),\n      taskKey: input.taskKey,\n    },\n  }\n}\n\n// --- Сессия ещё выполняется (НЕ idle) ---\nreturn {\n  json: {\n    resultStatus: 'running',\n    stripHtml(streamProgressText),\n    latestSentId: newLatestSentId,\n    taskCompleted: false,\n    replyText: '',\n    taskKey: input.taskKey,\n  },\n}"
      },
      "id": "normalize-response",
      "name": "Разбираем ответ OpenCode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        320
      ]
    }
  ],
  "connections": {
    "Запуск по вызову из другого сценария": {
      "main": [
        [
          {
            "node": "Разбираем входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем входные данные": {
      "main": [
        [
          {
            "node": "Получаем статусы сессий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем статусы сессий": {
      "main": [
        [
          {
            "node": "Проверяем статус сессии",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем статус сессии": {
      "main": [
        [
          {
            "node": "Сессия завершена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем сообщения сессии": {
      "main": [
        [
          {
            "node": "Разбираем ответ OpenCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сессия завершена?": {
      "main": [
        [
          {
            "node": "Получаем сообщения сессии",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получаем сообщения сессии",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "900015",
  "tags": []
}