n8n/bootstrap/workflows/templates/task-ingress.template.json
{
  "name": "Постановка задач",
  "id": "900010",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Триггер Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4448,
        352
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chat-id-allowed",
              "leftValue": "={{ ',' + String($('Задаём переменные').first().json.telegram_chat_ids).replace(/\\s/g, '') + ',' }}",
              "rightValue": "={{ ',' + String($('Триггер Telegram').isExecuted ? $('Триггер Telegram').first().json.message.chat.id : $('Нормализуем голосовую команду').first().json.message.chat.id) + ',' }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3776,
        352
      ],
      "id": "if-chat-allowed",
      "name": "Чат разрешён?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-chat-id",
              "name": "telegram_chat_ids",
              "value": "__TELEGRAM_CHAT_IDS__",
              "type": "string"
            },
            {
              "id": "allowed-commands",
              "name": "allowed_commands",
              "value": "[\n  {\n    \"command\": \"task\",\n    \"require\": [\n      \"prompt\"\n    ]\n  },\n  {\n    \"command\": \"task\",\n    \"require\": [\n      \"answer\"\n    ]\n  },\n  {\n    \"command\": \"task\",\n    \"require\": [\n      \"parent_task_key\",\n      \"parent_match_text\"\n    ]\n  },\n  {\n    \"command\": \"abort\",\n    \"require\": []\n  },\n  {\n    \"command\": \"abort\",\n    \"require\": [\n      \"task_key\"\n    ]\n  },\n  {\n    \"command\": \"task\",\n    \"require\": [\n      \"auto_mode\"\n    ]\n  },\n  {\n    \"command\": \"task\",\n    \"require\": [\n      \"prompt\",\n      \"verify\"\n    ]\n  },\n  {\n    \"command\": \"task\",\n    \"require\": [\n      \"prompt\",\n      \"interval\"\n    ]\n  }\n]",
              "type": "array"
            },
            {
              "name": "source",
              "value": "={{ $json.source || 'telegram' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4224,
        352
      ],
      "id": "set-vars",
      "name": "Задаём переменные"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "__OPENCODE_ROUTING_JSON__",
        "options": {}
      },
      "id": "set-routing",
      "name": "Задаём конфигурацию OpenCode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4000,
        352
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
        "text": "={{ (() => { try { if ($json.replyText) return $json.replyText } catch {} try { return $('Готовим ожидающую интеракцию').first().json.replyText } catch {} return $input.first().json.replyText })() }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-parse-error",
      "name": "Отправляем: Команда распарсена с ошибкой",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        32
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ `❌ ${$json.replyText || $json.text}` }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ `❌ ${$json.replyText || $json.text}` }} }) }}"
            }
          ]
        }
      },
      "id": "ha-parse-error",
      "name": "Отвечаем HA: ошибка парсинга",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        -2100,
        600
      ],
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: $json.message || $json.text || '' }) }}",
        "options": {}
      },
      "id": "resp-parse-error",
      "name": "Отвечаем HA webhook: ошибка парсинга",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1900,
        600
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
        "text": "Недопустимый чат",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-invalid-chat",
      "name": "Отправляем: Недопустимый чат",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3552,
        256
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ $json.replyText || $json.text }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ $json.replyText || $json.text }} }) }}"
            }
          ]
        }
      },
      "id": "ha-invalid-chat",
      "name": "Уведомление HA: Недопустимый чат",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'chat not allowed' }) }}",
        "options": {}
      },
      "id": "resp-invalid-chat",
      "name": "Отвечаем HA webhook: недопустимый чат",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Готовим systemPrompt (правила + примеры + allowed_commands) и userPrompt (текст пользователя).\n\nconst triggerData = $('Триггер Telegram').first().json\nconst msg = triggerData.message || {}\nconst rawText = String(msg.text || '').trim()\n\nconst allowedCommands = (() => {\n  try { return $('Задаём переменные').first().json.allowed_commands } catch (_) { return [] }\n})()\nconst commandsHelp = JSON.stringify(allowedCommands, null, 2)\n\nconst systemPrompt = `Ты — транслятор команд Telegram-бота. Твоя единственная задача: преобразовать обычный текст пользователя в ФОРМАТ КОМАНДЫ.\n\nПРАВИЛО №1: Команды '/task' и '/abort' — это прямые обращения к системе. Если пользователь уже отправил /task или /abort и внутри значения есть кавычки — замени их на \\\" (escape-последовательность). Пример: --prompt=\"текст с \\\"кавычками\\\" внутри\". Верни их БЕЗ изменений. ВСЕ ОСТАЛЬНЫЕ команды (начинаются с /, но не /task и не /abort) — это команды для воркера OpenCode. Заверни их в /task: добавь --prompt=\"...\" с полным текстом исходной команды.\nПРАВИЛО №2: НЕ переиначивай смысл просьбы. НЕ додумывай. НЕ добавляй лишних слов.\nПРАВИЛО №3: Отвечай ТОЛЬКО текстом команды. ОДНА строка. БЕЗ пояснений, БЕЗ markdown, БЕЗ code-блоков.\nПРАВИЛО №4: Добавляй флаг ТОЛЬКО если он явно упомянут в просьбе. Не выдумывай флаги.\n\nДОСТУПНЫЕ КОМАНДЫ (allowed_commands):\n${commandsHelp}\n\nФЛАГИ (когда добавлять, а когда НЕТ):\n- --prompt=\"...\" — ВСЕГДА для /task. Содержит суть просьбы пользователя.\n- --worker=\"alias\" — ТОЛЬКО если явно указан воркер. 'первый'→'worker-1', 'второй'→'worker-2', 'N-й'→'worker-N' (воркеров может быть любое количество, бери число из текста).\n  Если НЕТ указания воркера — НЕ добавляй этот флаг.\n- --task_key=\"...\" — при ответе на вопрос (--answer) или при отмене (/abort) конкретной задачи.\n- --answer=\"...\" — при ответе на вопрос. Номер варианта или текст.\n- --parent_task_key=\"...\" --parent_match_text=\"...\" — при конструкции 'если в задаче X есть Y, то сделай Z'.\n- --auto_mode=\"true\"|\"false\" — при 'включи/выключи автомод/авторежим'.\n- --new_session или --fresh_session — при 'новая сессия', 'новая сессия opencode', 'fresh session'.\n- --verify=\"критерии\" — при 'задача принята когда...', 'проверь что...', 'убедись что...'\n- --interval=\"4h\" — при 'каждые N часов', 'раз в день', 'повторять каждые...'. Формат: число + m/h/d (минуты/часы/дни).\n\nПРИМЕРЫ ПРЕОБРАЗОВАНИЙ:\n\nВход: «разверни проект»\nВыход: /task --prompt=\"разверни проект\"\n\nВход: «выполни правки во втором воркере»\nВыход: /task --prompt=\"выполни правки\" --worker=\"worker-2\"\n\nВход: «ответь 2 в задаче task-abc»\nВыход: /task --task_key=\"task-abc\" --answer=\"2\"\n\nВход: «ответь второй в задаче task-xyz воркера 3»\nВыход: /task --task_key=\"task-xyz\" --answer=\"второй\" --worker=\"worker-3\"\n\nВход: «если в задаче task-abc есть текст \"готово\" то выполни доработку»\nВыход: /task --parent_task_key=\"task-abc\" --parent_match_text=\"готово\" --prompt=\"доработку\"\n\nВход: «если в результате задачи task-xyz есть вхождение \"завершено\" сделай проверку»\nВыход: /task --parent_task_key=\"task-xyz\" --parent_match_text=\"завершено\" --prompt=\"проверку\"\n\nВход: «включи автомод»\nВыход: /task --auto_mode=\"true\"\n\nВход: «отключи авторежим»\nВыход: /task --auto_mode=\"false\"\n\nВход: «сделай рефакторинг в новой сессии»\nВыход: /task --prompt=\"сделай рефакторинг\" --new_session\n\nВход: «напиши тесты в новой сессии»\nВыход: /task --prompt=\"напиши тесты\" --fresh_session\n\nВход: «отмени последнюю задачу»\nВыход: /abort\n\nВход: «отмени задачу task-abc»\nВыход: /abort --task_key=\"task-abc\"\n\nВход: «прерви задачу task-xyz»\nВыход: /abort --task_key=\"task-xyz\"\n\nВход: «сделай рефакторинг. проверь что линтер проходит и тесты зелёные»\nВыход: /task --prompt=\"сделай рефакторинг\" --verify=\"линтер проходит и тесты зелёные\"\n\nВход: «напиши тесты. задача принята когда coverage > 80% и все тесты проходят»\nВыход: /task --prompt=\"напиши тесты\" --verify=\"coverage > 80% и все тесты проходят\"\n\nВход: /gsd-ship\nВыход: /task --prompt=\"/gsd-ship\"\n\nВход: /deploy\nВыход: /task --prompt=\"/deploy\"\n\nВход: /brainstorm архитектура\nВыход: /task --prompt=\"/brainstorm архитектура\"\n\nВход: /task --prompt=\"уже команда\"\nВыход: /task --prompt=\"уже команда\"\n\nВход: /abort --task_key=\"task-abc\"\nВыход: /abort --task_key=\"task-abc\"\n\nОТВЕЧАЙ ТОЛЬКО КОМАНДУ. ОДНУ СТРОКУ. БЕЗ ПОЯСНЕНИЙ.`\n\nreturn {\n  json: {\n    systemPrompt,\n    userPrompt: rawText,\n    rawText,\n  },\n}"
      },
      "id": "prepare-translate",
      "name": "Готовим запрос для трансляции",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3104,
        448
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {}
      },
      "id": "ds-translate-model",
      "name": "DeepSeek Chat Model (транслятор)",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -2800,
        672
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "__DEEPSEEK_CREDENTIAL_ID__",
          "name": "__DEEPSEEK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "translate-command",
      "name": "Транслятор команд",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2880,
        448
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Извлекаем чистую команду из ответа AI-транслятора.\n\nconst toText = (v) => String(v ?? '').trim()\n\nlet agentOutput = ''\ntry { agentOutput = toText($('Транслятор команд').first().json.output ?? $('Транслятор команд').first().json.text ?? '') } catch (_) {}\n\nconst triggerData = $('Триггер Telegram').first().json\nconst originalText = toText((triggerData.message || {}).text || '')\n\nif (!agentOutput) {\n  return { json: { translatedCommand: originalText, originalText, isTranslated: false } }\n}\n\n// Очищаем: убираем markdown, бэктики, лишние пробелы и переносы\nlet cleaned = agentOutput\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/`([^`]*)`/g, '$1')\n  .replace(/^\\s*[/]/, '/')\n  .split('\\n')[0]\n  .trim()\n\n// Если результат начинается с /task или /abort — это команда\nconst looksLikeCommand = /^\\/(task|abort)\\b/.test(cleaned)\n\n// Если AI вернул не-команду — используем оригинал\nconst finalCommand = looksLikeCommand ? cleaned : originalText\n\nreturn {\n  json: {\n    translatedCommand: finalCommand,\n    originalText,\n    isTranslated: looksLikeCommand,\n    agentRawOutput: agentOutput,\n  },\n}"
      },
      "id": "extract-translated-command",
      "name": "Извлекаем команду",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2528,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Главный парсер входящих Telegram-сообщений.\n// Все ответы на вопросы — через /task --answer=\"...\"\n// Все команды — через /command --flags=\"...\"\n\nconst input = $('Триггер Telegram').first().json\nconst msg = input.message || {}\nlet rawText = String(msg.text || '').trim()\n// Если AI-транслятор вернул команду — используем её вместо сырого текста\ntry {\n  const translated = $input.first().json.translatedCommand\n  if (translated && /^\\/(task|abort)\\b/.test(translated)) {\n    rawText = String(translated).trim()\n  }\n} catch (_) {}\n\nfunction parseCommand(text) {\n  const match = text.match(/^\\/([a-zA-Z0-9_]+)(?:@\\w+)?(?:\\s+|$)/)\n  if (!match) return { type: null, textAfterCommand: text }\n  return { type: match[1], textAfterCommand: text.slice(match[0].length).trim() }\n}\n\nfunction parseTokens(text) {\n  const flags = {}\n  const args = []\n  const regex = /--([a-zA-Z0-9_-]+)(?:=(?:\"((?:[^\"\\\\]|\\\\.)*)\"|'((?:[^'\\\\]|\\\\.)*)'|([^\\s\"']+)))?|\"((?:[^\"\\\\]|\\\\.)*)\"|'((?:[^'\\\\]|\\\\.)*)'|([^\\s]+)/g\n  let match\n  while ((match = regex.exec(text)) !== null) {\n    if (match[1]) {\n      flags[match[1]] = match[2] ?? match[3] ?? match[4] ?? true\n      continue\n    }\n    const value = match[5] ?? match[6] ?? match[7]\n    if (value !== undefined) args.push(value)\n  }\n  return { flags, args }\n}\n\nif (!rawText.startsWith('/')) {\n  return [{ json: {\n    mode: 'parse_error',\n    rawText,\n    replyText: 'Не удалось распознать команду. Используйте /task --prompt=\"...\" или /task --answer=\"...\".'\n  }}]\n}\n\nconst command = parseCommand(rawText)\nif (!command.type) {\n  return [{ json: {\n    mode: 'parse_error',\n    rawText,\n    replyText: 'Команда не распознана. Используйте /task или /abort с флагами --flag=\"...\".'\n  }}]\n}\n\nconst parsed = parseTokens(command.textAfterCommand)\n\nreturn [{ json: {\n  mode: 'command_candidate',\n  rawText,\n  commandType: command.type,\n  flags: parsed.flags,\n  args: parsed.args,\n  prompt: String(parsed.flags.prompt || '').trim(),\n  answerText: String(parsed.flags.answer || '').trim(),\n  parentTaskId: String(parsed.flags.parent_task_key || '').trim(),\n  parentMatchText: String(parsed.flags.parent_match_text || '').trim(),\n  newSessionRequested: Boolean(\n    parsed.flags['new_session'] || parsed.flags['new-session'] ||\n    parsed.flags['fresh_session'] || parsed.flags['fresh-session']\n  )\n}}]"
      },
      "id": "parse-command",
      "name": "Разбираем базовое сообщение Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        448
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
        "text": "={{ $('Готовим новую задачу').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-queued-message",
      "name": "Отправляем: Задача поставлена в работу",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        704
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ `📋 Задача принята` }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ `📋 Задача принята` }} }) }}"
            }
          ]
        }
      },
      "id": "ha-queued",
      "name": "Отвечаем HA: задача поставлена",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        -2100,
        750
      ],
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: $json.message || $json.text || '' }) }}",
        "options": {}
      },
      "id": "resp-queued",
      "name": "Отвечаем HA webhook: задача поставлена",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1900,
        750
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ $('Готовим новую задачу').first().json.taskKey }}",
            "source": "telegram",
            "chat_id": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
            "username": "={{ $('Триггер Telegram').first().json.message.chat.username }}",
            "worker_alias": "={{ $('Готовим новую задачу').first().json.flags.worker || $('Задаём конфигурацию OpenCode').first().json.defaultWorker }}",
            "command_name": "={{ $('Готовим новую задачу').first().json.commandType || 'task' }}",
            "prompt": "={{ $('Готовим новую задачу').first().json.prompt }}",
            "parent_task_key": "={{ $('Готовим новую задачу').first().json.parentTaskId }}",
            "parent_match_text": "={{ $('Готовим новую задачу').first().json.parentMatchText }}",
            "context_json": "={{ $('Готовим новую задачу').first().json.contextJson }}",
            "pending_question": "",
            "pending_options_json": "[]",
            "status": "={{ 'queued' }}",
            "queued_at": "={{ $('Готовим новую задачу').first().json.queuedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_key",
              "displayName": "task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "worker_alias",
              "displayName": "worker_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "command_name",
              "displayName": "command_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_task_key",
              "displayName": "parent_task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_match_text",
              "displayName": "parent_match_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context_json",
              "displayName": "context_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_at",
              "displayName": "queued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending_question",
              "displayName": "pending_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending_options_json",
              "displayName": "pending_options_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "result_text",
              "displayName": "result_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "id": "queue-task",
      "name": "Вставляем задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -736,
        704
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatId",
              "value": "={{ $json.source === 'voice' ? $('Задаём переменные').first().json.telegram_chat_ids.replace(/\\s/g,'').split(',')[0].trim() : $('Триггер Telegram').first().json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-chat-id",
      "name": "Фиксируем chat_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3552,
        448
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Фиксируем chat_id').first().json.chatId }}"
            },
            {
              "keyName": "status",
              "keyValue": "needs_input"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "ASC"
      },
      "id": "get-pending-input-tasks",
      "name": "Получаем задачи с ожиданием ответа",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3328,
        448
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Ответ распознан?').first().json.targetTaskKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pending_options_json": "={{ $('Ответ распознан?').first().json.updatedPendingOptionsJson }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_key",
              "displayName": "task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context_json",
              "displayName": "context_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "worker_alias",
              "displayName": "worker_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "command_name",
              "displayName": "command_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_task_key",
              "displayName": "parent_task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_match_text",
              "displayName": "parent_match_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_at",
              "displayName": "queued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_question",
              "displayName": "pending_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_options_json",
              "displayName": "pending_options_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "result_text",
              "displayName": "result_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "save-user-answer",
      "name": "Сохраняем ответ пользователя",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -512,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Ответ распознан?').first().json.targetTaskKey }}"
            },
            {
              "keyName": "status",
              "keyValue": "needs_input"
            },
            {
              "keyName": "pending_options_json",
              "keyValue": "={{ $('Ответ распознан?').first().json.updatedPendingOptionsJson }}"
            }
          ]
        }
      },
      "id": "verify-user-answer-saved",
      "name": "Проверяем: ответ сохранён",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -288,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
        "text": "={{ $('Ответ распознан?').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-answer-accepted",
      "name": "Отправляем: Ответ принят",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ `✅ Ответ отправлен` }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ `✅ Ответ отправлен` }} }) }}"
            }
          ]
        }
      },
      "id": "ha-answer",
      "name": "Отвечаем HA: ответ принят",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        -2100,
        900
      ],
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: $json.message || $json.text || '' }) }}",
        "options": {}
      },
      "id": "resp-answer",
      "name": "Отвечаем HA webhook: ответ принят",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1900,
        900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Связывает answer_candidate с pending-задачей.\n// Ответ приходит только в формате /task --answer=\"...\" или /task --task_key=\"xxx\" --answer=\"...\"\n\nconst candidate = $input.first().json\nconst pendingTasks = $('Получаем задачи с ожиданием ответа').all().map((item) => item.json)\n\nfunction parsePendingMeta(task) {\n  try { return JSON.parse(String(task.pending_options_json || '{}')) } catch { return {} }\n}\n\n// Определяем какую задачу: --task_key или авто-выбор если одна\nconst flags = candidate.flags || {}\nconst specifiedTaskKey = String(flags.task_key || '').trim()\nlet targetTaskKey = specifiedTaskKey\n\nif (!targetTaskKey && pendingTasks.length === 1) {\n  targetTaskKey = String(pendingTasks[0].task_key || '').trim()\n}\n\nif (!targetTaskKey) {\n  const taskList = pendingTasks.map((task) => `- <code>${task.task_key || 'неизвестно'}</code>`).join('\\n')\n  return [{ json: { mode: 'parse_error', replyText: `Несколько задач ожидают ответа:\\n${taskList}\\n\\nУкажите задачу: /task --task_key=\"task-key\" --answer=\"ваш ответ\"` } }]\n}\n\nconst task = pendingTasks.find((item) => String(item.task_key || '').trim() === targetTaskKey)\nif (!task) {\n  return [{ json: { mode: 'parse_error', replyText: `Не удалось найти задачу <code>${targetTaskKey}</code> среди ожидающих ответа.` } }]\n}\n\nconst pendingMeta = parsePendingMeta(task)\nconst requestId = String(pendingMeta.requestId || '').trim()\nconst interactionType = Array.isArray(pendingMeta.questions) ? 'question' : String(pendingMeta.type || 'permission').trim()\n\nif (!requestId) {\n  return [{ json: { mode: 'parse_error', replyText: `У задачи <code>${targetTaskKey}</code> повреждены данные pending интеракции.` } }]\n}\n\nreturn [{\n  json: {\n    mode: interactionType + '_candidate',\n    rawText: candidate.rawText,\n    targetTaskKey,\n    answerText: candidate.answerText,\n    rejectRequested: String(candidate.answerText || '').trim().toLowerCase() === '/reject',\n    interactionType,\n    pendingMeta,\n  }\n}]"
      },
      "id": "resolve-answer",
      "name": "Готовим ожидающую интеракцию",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "answer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-answer-resolved",
      "name": "Ответ распознан?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Создаём новую задачу: генерируем taskKey, сохраняем контекст.\n\nconst parsed = $input.first().json\nconst taskKey = `task-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`\nconst acceptanceCriteria = String(parsed.flags.verify || '').trim()\nconst repeatInterval = String(parsed.flags.interval || '').trim()\nconst contextJson = JSON.stringify({\n  rawText: parsed.rawText,\n  commandType: parsed.commandType,\n  flags: parsed.flags,\n  args: parsed.args,\n  parentTaskId: parsed.parentTaskId,\n  parentMatchText: parsed.parentMatchText,\n  prompt: parsed.prompt,\n  newSessionRequested: parsed.newSessionRequested,\n  acceptanceCriteria,\n  repeatInterval,\n  originalPrompt: parsed.prompt,\n})\n\nreturn [{\n  json: {\n    mode: 'command',\n    rawText: parsed.rawText,\n    commandType: parsed.commandType,\n    flags: parsed.flags,\n    args: parsed.args,\n    taskKey,\n    queuedAt: new Date().toISOString(),\n    parentTaskId: parsed.parentTaskId,\n    parentMatchText: parsed.parentMatchText,\n    prompt: parsed.prompt,\n    contextJson,\n    acceptanceCriteria,\n    replyText: `Задача поставлена в очередь: <code>${taskKey}</code> [${parsed.flags.worker || 'primary'}]`,\n  },\n}]"
      },
      "id": "prepare-command",
      "name": "Готовим новую задачу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.commandType }}",
              "rightValue": "abort",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-abort-request",
      "name": "Это запрос на прерывание?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Готовим запрос на прерывание задачи.\n// task_key извлекается из флага --task_key.\n\nconst parsed = $input.first().json\nconst flags = parsed.flags || {}\nconst inputTaskKey = String(flags.task_key || '').trim()\n\nreturn [{ json: { mode: 'abort_request', rawText: parsed.rawText, targetTaskKey: inputTaskKey } }]"
      },
      "id": "prepare-abort-request",
      "name": "Готовим запрос прерывания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        512
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Триггер Telegram').first().json.message.chat.id }}"
            },
            {
              "keyName": "status",
              "keyValue": "running"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "ASC"
      },
      "id": "get-active-running-tasks",
      "name": "Получаем работающие задачи",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -960,
        512
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Определяем какую задачу прерывать.\n//   явный task-key      → указанная задача\n//   без task-key         → если одна — авто-выбор, несколько — уточнение у пользователя\n\nconst abortRequest = $('Готовим запрос прерывания').first().json\nconst activeRunning = $('Получаем работающие задачи').all().map((item) => item.json)\nconst inputTaskKey = String(abortRequest.targetTaskKey || '').trim()\n\n// Если нет работающих — проверяем queued (повторяющиеся с --interval)\nlet queuedRecurring = []\ntry { queuedRecurring = $('Получаем все задачи').all().map(i => i.json).filter(t => String(t.status || '').trim() === 'queued') } catch(_) {}\n\nif (activeRunning.length === 0 && queuedRecurring.length === 0) {\n  return [{ json: { mode: 'parse_error', replyText: 'Нет ни работающих, ни ожидающих задач.' } }]\n}\n\n// Если только queued — отменяем их напрямую (без сессии)\nif (activeRunning.length === 0) {\n  if (inputTaskKey) {\n    const t = queuedRecurring.find(item => String(item.task_key || '').trim() === inputTaskKey)\n    if (!t) return [{ json: { mode: 'parse_error', replyText: `Задача <code>${inputTaskKey}</code> не найдена в очереди.` } }]\n    return [{ json: { mode: 'cancel_queued', targetTaskKey: inputTaskKey, replyText: `Повторяющаяся задача <code>${inputTaskKey}</code> отменена.` } }]\n  }\n  if (queuedRecurring.length === 1) {\n    const tk = String(queuedRecurring[0].task_key || '').trim()\n    return [{ json: { mode: 'cancel_queued', targetTaskKey: tk, replyText: `Повторяющаяся задача <code>${tk}</code> отменена.` } }]\n  }\n  const list = queuedRecurring.map(t => `- <code>${t.task_key || '?'}</code>`).join('\\n')\n  return [{ json: { mode: 'parse_error', replyText: `В очереди несколько задач:\\n${list}\\n\\nУточните: /abort --task_key=\"task-key\"` } }]\n}\n\nif (inputTaskKey) {\n  const task = activeRunning.find((item) => String(item.task_key || '').trim() === inputTaskKey)\n  if (!task) {\n    return [{ json: { mode: 'parse_error', replyText: `Не удалось найти работающую задачу <code>${inputTaskKey || 'неизвестно'}</code>.` } }]\n  }\n  return [{ json: { mode: 'answer', targetTaskKey: inputTaskKey, replyText: `Задача <code>${inputTaskKey}</code> будет прервана.` } }]\n}\n\nif (activeRunning.length === 1) {\n  const taskKey = String(activeRunning[0].task_key || '').trim()\n  return [{ json: { mode: 'answer', targetTaskKey: taskKey, replyText: `Задача <code>${taskKey}</code> будет прервана.` } }]\n}\n\nconst taskList = activeRunning.map((item) => `- <code>${item.task_key || 'неизвестно'}</code>`).join('\\n')\nreturn [{ json: { mode: 'parse_error', replyText: `Работает несколько задач:\\n${taskList}\\n\\nУточните: /abort --task_key=\"task-key\"` } }]"
      },
      "id": "resolve-abort-target",
      "name": "Определяем цель прерывания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        512
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Определяем цель прерывания').first().json.targetTaskKey }}"
            },
            {
              "keyName": "status",
              "keyValue": "running"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context_json": "={{ (() => { try { const ctx = JSON.parse($('Получаем работающие задачи').first().json.context_json || '{}'); ctx.abortRequested = true; return JSON.stringify(ctx) } catch { return JSON.stringify({ abortRequested: true }) } })() }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "save-abort-flag",
      "name": "Сохраняем флаг прерывания",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -512,
        512
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
        "text": "={{ $('Определяем цель прерывания').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-abort-confirmation",
      "name": "Отправляем: Задача будет прервана",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        512
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ `🛑 ${$json.replyText || $json.text}` }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ `🛑 ${$json.replyText || $json.text}` }} }) }}"
            }
          ]
        }
      },
      "id": "ha-abort",
      "name": "Отвечаем HA: задача прервана",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        -2100,
        1050
      ],
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: $json.message || $json.text || '' }) }}",
        "options": {}
      },
      "id": "resp-abort",
      "name": "Отвечаем HA webhook: задача прервана",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1900,
        1050
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим ожидающую интеракцию').first().json.interactionType }}",
              "rightValue": "permission",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pending-permission",
      "name": "Это запрос прав?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Парсим ответ пользователя на question-интеракцию OpenCode.\n// Поддерживает:\n//   - один вопрос → простой ответ (номер/текст варианта)\n//   - несколько вопросов → ответы через ||\n//   - /reject → отклонение вопроса\n//   - множественный выбор → варианты через &&\n\nconst parsed = $('Готовим ожидающую интеракцию').first().json\nconst pendingMeta = parsed.pendingMeta || {}\nconst normalized = String(parsed.answerText || '').trim()\n\n// Отклонение вопроса\nif (parsed.rejectRequested) {\n  const updatedPendingMeta = {\n    ...pendingMeta,\n    answers: null,\n    rejectRequested: true,\n    answeredAt: new Date().toISOString(),\n    rawAnswer: parsed.rawText,\n  }\n  return [{ json: { mode: 'answer', targetTaskKey: parsed.targetTaskKey, updatedPendingOptionsJson: JSON.stringify(updatedPendingMeta), replyText: `Вопрос по задаче <code>${parsed.targetTaskKey || 'неизвестно'}</code> отклонён.` } }]\n}\n\n// Разбирает один токен ответа: число → номер варианта, текст → поиск по label\nfunction parseAnswerToken(token, question) {\n  const value = String(token || '').trim()\n  if (!value) return null\n  const options = Array.isArray(question.options) ? question.options : []\n  if (options.length === 0) return value\n  if (/^\\d+$/.test(value)) {\n    const option = options[Number(value) - 1]\n    return option ? String(option.label || '').trim() : null\n  }\n  const matched = options.find((option) => String(option.label || '').trim().toLowerCase() === value.toLowerCase())\n  if (matched) return String(matched.label || '').trim()\n  return question.custom !== false ? value : null\n}\n\n// Разбирает ответ на один вопрос: возвращает { answers } или { error }\nfunction parseQuestionAnswer(text, question) {\n  const value = String(text || '').trim()\n  if (!value) return { error: 'Ответ не должен быть пустым.' }\n  const options = Array.isArray(question.options) ? question.options : []\n  if (options.length === 0) return { answers: [value] }\n  const tokens = question.multiple ? value.split(/\\s*&&\\s*/).filter(Boolean) : [value]\n  const answers = []\n  for (const token of tokens) {\n    const parsedToken = parseAnswerToken(token, question)\n    if (!parsedToken) return { error: `Не удалось распознать вариант ответа: ${token}` }\n    if (!answers.includes(parsedToken)) answers.push(parsedToken)\n  }\n  if (!question.multiple && answers.length !== 1) {\n    return { error: 'Нужно выбрать ровно один вариант ответа.' }\n  }\n  return { answers }\n}\n\nconst questions = Array.isArray(pendingMeta.questions) ? pendingMeta.questions : []\nif (questions.length === 0) {\n  return [{ json: { mode: 'parse_error', replyText: `У задачи <code>${parsed.targetTaskKey || 'неизвестно'}</code> повреждены данные pending вопроса.` } }]\n}\n\n// Один вопрос или несколько (через ||)\nlet answersResult\nif (questions.length === 1) {\n  answersResult = parseQuestionAnswer(normalized, questions[0])\n} else {\n  const lines = normalized.split(/\\s*\\|\\|\\s*/).map((line) => line.trim()).filter(Boolean)\n  if (lines.length !== questions.length) {\n    answersResult = { error: `Нужно прислать ${questions.length} ответов через || в том же порядке, что и вопросы.` }\n  } else {\n    const answers = []\n    for (let index = 0; index < questions.length; index += 1) {\n      const parsedLine = parseQuestionAnswer(lines[index], questions[index])\n      if (parsedLine.error) { answersResult = parsedLine; break }\n      answers.push(parsedLine.answers)\n    }\n    answersResult = answersResult || { answers }\n  }\n}\n\nif (answersResult.error) {\n  return [{ json: { mode: 'parse_error', replyText: `Не удалось разобрать ответ для задачи <code>${parsed.targetTaskKey || 'неизвестно'}</code>: ${answersResult.error}` } }]\n}\n\nconst updatedPendingMeta = {\n  ...pendingMeta,\n  answers: answersResult.answers,\n  rejectRequested: false,\n  answeredAt: new Date().toISOString(),\n  rawAnswer: parsed.rawText,\n}\n\nreturn [{ json: { mode: 'answer', targetTaskKey: parsed.targetTaskKey, updatedPendingOptionsJson: JSON.stringify(updatedPendingMeta), replyText: `Ответ по задаче <code>${parsed.targetTaskKey || 'неизвестно'}</code> сохранён. Продолжаю выполнение.` } }]"
      },
      "id": "parse-question-answer",
      "name": "Разбираем ответ на вопрос",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Парсим ответ пользователя на permission-интеракцию OpenCode.\n// Варианты: 1/once, 2/always, 3/reject (с опциональным комментарием).\n\nconst parsed = $('Готовим ожидающую интеракцию').first().json\nconst pendingMeta = parsed.pendingMeta || {}\nconst normalized = String(parsed.answerText || '').trim()\n\nif (!normalized) {\n  return [{ json: { mode: 'parse_error', replyText: 'Ответ не должен быть пустым.' } }]\n}\n\nconst lower = normalized.replace(/^\\//, '').toLowerCase()\nlet reply = ''\nlet message = ''\n\nif (/^(1|once|allow once|раз|один раз|разрешить один раз)(?:\\b|$)/i.test(lower)) {\n  reply = 'once'\n} else if (/^(2|always|remember|always allow|всегда|запомнить|разрешить всегда)(?:\\b|$)/i.test(lower)) {\n  reply = 'always'\n} else {\n  const rejectMatch = lower.match(/^(3|reject|deny|no|отклонить|запретить)(?:[\\s:,-]+([\\s\\S]*))?$/i)\n  if (rejectMatch) {\n    reply = 'reject'\n    message = String(rejectMatch[2] || '').trim()\n  }\n}\n\nif (!reply) {\n  return [{ json: { mode: 'parse_error', replyText: `Не удалось разобрать permission-ответ для задачи <code>${parsed.targetTaskKey || 'неизвестно'}</code>: Для permission используйте один из вариантов: 1/once, 2/always, 3/reject.` } }]\n}\n\nconst updatedPendingMeta = {\n  ...pendingMeta,\n  type: 'permission',\n  reply,\n  message,\n  answeredAt: new Date().toISOString(),\n  rawAnswer: parsed.rawText,\n}\n\nreturn [{ json: { mode: 'answer', targetTaskKey: parsed.targetTaskKey, updatedPendingOptionsJson: JSON.stringify(updatedPendingMeta), replyText: `Permission-ответ по задаче <code>${parsed.targetTaskKey || 'неизвестно'}</code> сохранён. Продолжаю выполнение.` } }]"
      },
      "id": "parse-permission-answer",
      "name": "Разбираем ответ на права",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Проверяет допустимость команды по декларативному списку из «Задаём переменные».\n// Каждый элемент allowed_commands: { command, require: [...] }\n// usage для ошибок генерируется автоматически из command + require.\n\nconst vars = $('Задаём переменные').first().json\nconst allowedCommands = Array.isArray(vars.allowed_commands) ? vars.allowed_commands : []\nconst input = $input.item.json\n// Пропускаем не-команды (parse_error и т.д.) насквозь\nif (input.mode !== 'command_candidate') return { json: input }\n\nconst commandType = String(input.commandType || '').trim()\nconst flags = input.flags || {}\n\nconst flagFilled = (val) =>\n  val !== undefined && val !== null && String(val).trim() !== ''\n\nconst patterns = allowedCommands.filter((p) => p.command === commandType)\n\nif (patterns.length === 0) {\n  const known = [...new Set(allowedCommands.map((p) => `/${p.command}`))].join(', ')\n  return { json: { ...input, mode: 'parse_error', replyText: `Неизвестная команда${commandType ? ' /' + commandType : ''}. Доступные команды: ${known}.` } }\n}\n\nconst satisfied = patterns.find((p) => {\n  const rf = Array.isArray(p.require) ? p.require : [p.require]\n  return rf.every((flag) => flagFilled(flags[flag]))\n})\n\nif (satisfied) {\n  return { json: input }\n}\n\n// Генерируем usage на лету: /command --flag1 --flag2\nconst usages = patterns\n  .map((p) => `/${p.command} ` + (Array.isArray(p.require) ? p.require : [p.require]).map((f) => `--${f}=\"...\"`).join(' '))\n  .join('\\n  или ')\n\nreturn { json: { ...input, mode: 'parse_error', replyText: `Команда /${commandType} требует обязательные флаги:\\n  ${usages}` } }"
      },
      "id": "validate-command",
      "name": "Проверяем допустимость команды",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "command_candidate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-command-valid",
      "name": "Команда допустима?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1856,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.answerText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-answer-flag",
      "name": "Это ответ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.flags.auto_mode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-auto-mode",
      "name": "Это команда авто-режима?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        800
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "mode": "id",
          "value": "__CHAT_SETTINGS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Фиксируем chat_id').item.json.chatId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Фиксируем chat_id').item.json.chatId }}",
            "auto_mode": "={{ String($json.flags.auto_mode).toLowerCase() === 'true' }}"
          }
        },
        "options": {}
      },
      "id": "upsert-auto-mode",
      "name": "Обновляем режим авто-задач",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -960,
        896
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Фиксируем chat_id').item.json.chatId }}",
        "text": "={{ $json.auto_mode === true ? 'Автономный режим включён. Агент будет сам создавать следующие задачи.' : 'Автономный режим выключен.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-auto-mode",
      "name": "Уведомляем о смене режима",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -736,
        896
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ `⚙️ ${$json.replyText || $json.text}` }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ `⚙️ ${$json.replyText || $json.text}` }} }) }}"
            }
          ]
        }
      },
      "id": "ha-auto",
      "name": "Отвечаем HA: смена режима",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        -2100,
        1200
      ],
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: $json.message || $json.text || '' }) }}",
        "options": {}
      },
      "id": "resp-auto",
      "name": "Отвечаем HA webhook: смена режима",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1900,
        1200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Определяем цель прерывания').first().json.targetTaskKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "aborted",
            "result_text": "={{ $('Определяем цель прерывания').first().json.replyText }}"
          }
        },
        "options": {}
      },
      "id": "cancel-queued-update",
      "name": "Отменяем queued задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2100,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "cancel_queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-abort-mode",
      "name": "Маршрут отмены",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "voice-webhook",
      "name": "Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5000,
        800
      ],
      "webhookId": "voice-task-webhook"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Нормализуем голосовую команду в формат Telegram-сообщения\nconst body = $input.first().json\nconst prompt = String(body.body?.prompt || body.prompt || '').trim()\n\n// Используем 0 как placeholder — set-chat-id установит правильный chat_id позже\nreturn {\n  json: {\n    message: {\n      message_id: Date.now(),\n      text: prompt,\n      chat: { id: 0 },\n      from: { id: 0, first_name: 'Voice' },\n    },\n    source: 'voice',\n    rawText: prompt,\n  },\n}"
      },
      "id": "normalize-voice",
      "name": "Нормализуем голосовую команду",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4780,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.source }}",
              "rightValue": "voice",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-is-voice",
      "name": "Это голосовая команда?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2800,
        352
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Фиксируем chat_id').item.json.chatId }}",
        "text": "={{ `🎤 Голосовая команда принята: <code>${$('Нормализуем голосовую команду').item.json.rawText}</code>` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-voice-received",
      "name": "Отправляем: голосовая команда получена",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2600,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "notify",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "message",
              "value": "={{ $json.replyText || $json.text }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ tts_text: ={{ $json.replyText || $json.text }} }) }}"
            }
          ]
        }
      },
      "id": "ha-voice-received",
      "name": "Уведомление HA: голосовая команда получена",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "homeAssistantApi": {
          "id": "__HA_CREDENTIAL_ID__",
          "name": "__HA_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Триггер Telegram": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это запрос на прерывание?": {
      "main": [
        [
          {
            "node": "Готовим запрос прерывания",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Это команда авто-режима?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим запрос прерывания": {
      "main": [
        [
          {
            "node": "Получаем работающие задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем работающие задачи": {
      "main": [
        [
          {
            "node": "Определяем цель прерывания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определяем цель прерывания": {
      "main": [
        [
          {
            "node": "Маршрут отмены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем флаг прерывания": {
      "main": [
        [
          {
            "node": "Отправляем: Задача будет прервана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Задача будет прервана": {
      "main": [
        [
          {
            "node": "Отвечаем HA: задача прервана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чат разрешён?": {
      "main": [
        [
          {
            "node": "Фиксируем chat_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Недопустимый чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём переменные": {
      "main": [
        [
          {
            "node": "Задаём конфигурацию OpenCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём конфигурацию OpenCode": {
      "main": [
        [
          {
            "node": "Чат разрешён?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем задачи с ожиданием ответа": {
      "main": [
        [
          {
            "node": "Готовим запрос для трансляции",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем ответ пользователя": {
      "main": [
        [
          {
            "node": "Проверяем: ответ сохранён",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем: ответ сохранён": {
      "main": [
        [
          {
            "node": "Отправляем: Ответ принят",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Ответ принят": {
      "main": [
        [
          {
            "node": "Отвечаем HA: ответ принят",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Задача поставлена в работу": {
      "main": [
        [
          {
            "node": "Отвечаем HA: задача поставлена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вставляем задачу": {
      "main": [
        [
          {
            "node": "Отправляем: Задача поставлена в работу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем базовое сообщение Telegram": {
      "main": [
        [
          {
            "node": "Проверяем допустимость команды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ распознан?": {
      "main": [
        [
          {
            "node": "Сохраняем ответ пользователя",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Команда распарсена с ошибкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим новую задачу": {
      "main": [
        [
          {
            "node": "Вставляем задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим ожидающую интеракцию": {
      "main": [
        [
          {
            "node": "Это запрос прав?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это запрос прав?": {
      "main": [
        [
          {
            "node": "Разбираем ответ на права",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разбираем ответ на вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем ответ на вопрос": {
      "main": [
        [
          {
            "node": "Ответ распознан?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем ответ на права": {
      "main": [
        [
          {
            "node": "Ответ распознан?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фиксируем chat_id": {
      "main": [
        [
          {
            "node": "Это голосовая команда?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем допустимость команды": {
      "main": [
        [
          {
            "node": "Команда допустима?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Команда допустима?": {
      "main": [
        [
          {
            "node": "Это ответ?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Команда распарсена с ошибкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это ответ?": {
      "main": [
        [
          {
            "node": "Готовим ожидающую интеракцию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Это запрос на прерывание?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это команда авто-режима?": {
      "main": [
        [
          {
            "node": "Обновляем режим авто-задач",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Готовим новую задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновляем режим авто-задач": {
      "main": [
        [
          {
            "node": "Уведомляем о смене режима",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим запрос для трансляции": {
      "main": [
        [
          {
            "node": "Транслятор команд",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model (транслятор)": {
      "ai_languageModel": [
        [
          {
            "node": "Транслятор команд",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Транслятор команд": {
      "main": [
        [
          {
            "node": "Извлекаем команду",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлекаем команду": {
      "main": [
        [
          {
            "node": "Разбираем базовое сообщение Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Маршрут отмены": {
      "main": [
        [
          {
            "node": "Отменяем queued задачу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сохраняем флаг прерывания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отменяем queued задачу": {
      "main": [
        [
          {
            "node": "Отправляем: Задача будет прервана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Webhook": {
      "main": [
        [
          {
            "node": "Нормализуем голосовую команду",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализуем голосовую команду": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это голосовая команда?": {
      "main": [
        [
          {
            "node": "Отправляем: голосовая команда получена",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получаем задачи с ожиданием ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: голосовая команда получена": {
      "main": [
        [
          {
            "node": "Уведомление HA: голосовая команда получена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Команда распарсена с ошибкой": {
      "main": [
        [
          {
            "node": "Отвечаем HA: ошибка парсинга",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA: ошибка парсинга": {
      "main": [
        [
          {
            "node": "Отвечаем HA webhook: ошибка парсинга",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA: задача поставлена": {
      "main": [
        [
          {
            "node": "Отвечаем HA webhook: задача поставлена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA: ответ принят": {
      "main": [
        [
          {
            "node": "Отвечаем HA webhook: ответ принят",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA: задача прервана": {
      "main": [
        [
          {
            "node": "Отвечаем HA webhook: задача прервана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомляем о смене режима": {
      "main": [
        [
          {
            "node": "Отвечаем HA: смена режима",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA: смена режима": {
      "main": [
        [
          {
            "node": "Отвечаем HA webhook: смена режима",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA webhook: ошибка парсинга": {
      "main": [
        []
      ]
    },
    "Отвечаем HA webhook: задача поставлена": {
      "main": [
        []
      ]
    },
    "Отвечаем HA webhook: ответ принят": {
      "main": [
        []
      ]
    },
    "Отвечаем HA webhook: задача прервана": {
      "main": [
        []
      ]
    },
    "Отвечаем HA webhook: смена режима": {
      "main": [
        []
      ]
    },
    "Уведомление HA: голосовая команда получена": {
      "main": [
        [
          {
            "node": "Получаем задачи с ожиданием ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Недопустимый чат": {
      "main": [
        [
          {
            "node": "Уведомление HA: Недопустимый чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: Недопустимый чат": {
      "main": [
        [
          {
            "node": "Отвечаем HA webhook: недопустимый чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отвечаем HA webhook: недопустимый чат": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "active": false
}
