n8n/bootstrap/workflows/templates/task-dispatcher.template.json
{
  "name": "Диспетчер задач",
  "id": "900011",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Триггер по расписанию",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        672
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "__OPENCODE_ROUTING_JSON__",
        "options": {},
        "assignments": {
          "assignments": []
        }
      },
      "id": "set-routing",
      "name": "Задаём конфигурацию OpenCode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        672
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "ASC"
      },
      "id": "get-all-tasks",
      "name": "Получаем все задачи",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        672,
        672
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Готовим по одному пакету данных на каждого worker-а:\n// — список всех задач этого worker-а (отсортирован по queued_at)\n// — отдельно queued и active задачи с их количеством (для numeric-условий в IF-нодах)\n// — все endpoint-ы OpenCode из routing-конфигурации\n// — модель OpenCode (разбираем из формата \"provider/model\", например \"deepseek/deepseek-v4-pro\")\n\nconst routing = $('Задаём конфигурацию OpenCode').first().json\nconst allTasks = $('Получаем все задачи').all().map((item) => item.json)\n\n// Сортировка задач: более ранние (queued_at меньше) — выше\nfunction sortByQueuedAt(left, right) {\n  return String(left.queued_at || '').localeCompare(String(right.queued_at || ''))\n}\n\n// Разбор строки \"provider/model\" → { providerID, modelID }\n// Возвращает null если формат невалидный (пусто, нет /, / в начале или конце)\nfunction parseModel(modelRef) {\n  const normalized = String(modelRef || '').trim()\n  const separatorIndex = normalized.indexOf('/')\n\n  if (!normalized || separatorIndex <= 0 || separatorIndex === normalized.length - 1) {\n    return null\n  }\n\n  return {\n    providerID: normalized.slice(0, separatorIndex),\n    modelID: normalized.slice(separatorIndex + 1),\n  }\n}\n\nreturn Object.entries(routing.workers || {})\n  // Сортируем по давности очереди: воркеры с самой старой задачей — первые\n  .sort((a, b) => {\n    const aTasks = allTasks.filter(t => String(t.worker_alias || '').trim() === a[0]).sort(sortByQueuedAt)\n    const bTasks = allTasks.filter(t => String(t.worker_alias || '').trim() === b[0]).sort(sortByQueuedAt)\n    const aOldest = aTasks.filter(t => String(t.status || '').trim() === 'queued')[0]\n    const bOldest = bTasks.filter(t => String(t.status || '').trim() === 'queued')[0]\n    if (!aOldest && !bOldest) return 0\n    if (!aOldest) return 1\n    if (!bOldest) return -1\n    return String(aOldest.queued_at || '').localeCompare(String(bOldest.queued_at || ''))\n  })\n  .map(([workerAlias, workerConfig]) => {\n  const workerTasks = allTasks\n    .filter((task) => String(task.worker_alias || '').trim() === workerAlias)\n    .sort(sortByQueuedAt)\n\n  const queuedTasks = workerTasks.filter((task) => String(task.status || '').trim() === 'queued')\n  const activeTasks = workerTasks.filter((task) =>\n    ['running', 'needs_input'].includes(String(task.status || '').trim())\n  )\n\n  return {\n    json: {\n      workerAlias,\n      workerBaseUrl: String(workerConfig.baseUrl || '').trim(),\n      authorizationHeader: String(workerConfig.authorizationHeader || '').trim(),\n      sessionCreatePath: String(routing.endpoints?.sessionCreate || '').trim(),\n      messageListPath: String(routing.endpoints?.messageList || '').trim(),\n      questionListPath: String(routing.endpoints?.questionList || '').trim(),\n      questionReplyPath: String(routing.endpoints?.questionReply || '').trim(),\n      questionRejectPath: String(routing.endpoints?.questionReject || '').trim(),\n      permissionListPath: String(routing.endpoints?.permissionList || '').trim(),\n      permissionReplyPath: String(routing.endpoints?.permissionReply || '').trim(),\n      sessionStatusPath: String(routing.endpoints?.sessionStatus || '').trim(),\n      promptAsyncPath: String(routing.endpoints?.promptAsync || '').trim(),\n      opencodeAgent: String(routing.defaultAgent || 'build').trim(),\n      opencodeModel: parseModel(routing.defaultModel),\n      opencodeVariant: String(workerConfig.variant || routing.defaultVariant || '').trim(),\n      workerTasks,\n      queuedTasks,\n      queuedTasksCount: queuedTasks.length,\n      activeTasks,\n      activeTasksCount: activeTasks.length,\n    },\n  }\n})"
      },
      "id": "prepare-workers",
      "name": "Готовим пакеты обработчиков",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим пакеты обработчиков').item.json.queuedTasksCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "leftValue": "={{ $('Готовим пакеты обработчиков').item.json.activeTasksCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-worker-ready",
      "name": "Есть задача и воркер свободен?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Берём пакет данных текущего worker-а, который уже содержит только queued задачи\n// и количество активных задач этого worker-а.\nconst workerPackage = $('Готовим пакеты обработчиков').item.json\nconst queuedTasks = (Array.isArray(workerPackage.queuedTasks) ? workerPackage.queuedTasks : []).filter((task) => {\n  // Не берём задачи, запланированные на будущее (повторы с --interval)\n  const queuedAt = String(task.queued_at || '').trim()\n  if (!queuedAt) return true\n  return new Date(queuedAt) <= new Date()\n})\nconst workerTasks = Array.isArray(workerPackage.workerTasks) ? workerPackage.workerTasks : []\n\n// Приоритет всегда у зависимых задач.\n// Если зависимых задач нет, берём самую раннюю обычную queued-задачу.\n// Зависимые задачи — только если родитель УЖЕ не в очереди (запущен/завершён)\nconst dependentTasks = queuedTasks.filter((task) => {\n  const parentKey = String(task.parent_task_key || '').trim()\n  if (!parentKey) return false\n  return !queuedTasks.some((t) => String(t.task_key || '').trim() === parentKey)\n})\nconst regularTasks = queuedTasks.filter((task) => !String(task.parent_task_key || '').trim())\nconst selectedTask = dependentTasks[0] || regularTasks[0] || null\n\nlet context = {}\ntry {\n  context = JSON.parse(String(selectedTask?.context_json || '{}'))\n} catch {\n  context = {}\n}\n\nconst chatId = String(selectedTask?.chat_id || '').trim()\nconst sessionHistory = workerTasks\n  .filter((task) => String(task.chat_id || '').trim() === chatId)\n  .filter((task) => String(task.session_id || '').trim())\n  .filter((task) => ['running', 'needs_input', 'done'].includes(String(task.status || '').trim()))\n\nconst latestSessionTask = sessionHistory[sessionHistory.length - 1] || null\nconst historySessionId = String(latestSessionTask?.session_id || '').trim()\nconst taskPresetSessionId = String(selectedTask?.session_id || '').trim()\nconst latestSessionId = taskPresetSessionId || historySessionId\nconst newSessionRequested = Boolean(\n  context.newSessionRequested ||\n  context.flags?.['new-session'] ||\n  context.flags?.['new_session'] ||\n  context.flags?.['fresh-session'] ||\n  context.flags?.['fresh_session']\n)\n\nreturn {\n  json: {\n    task: selectedTask,\n    parentTaskKey: String(selectedTask?.parent_task_key || '').trim(),\n    parentMatchText: String(selectedTask?.parent_match_text || '').trim(),\n    promptText: String(selectedTask?.prompt || '').trim(),\n    latestSessionId,\n    createNewSession: newSessionRequested || !latestSessionId,\n    acceptanceCriteria: String(context.acceptanceCriteria || '').trim(),\n    originalPrompt: String(context.originalPrompt || selectedTask?.prompt || '').trim(),\n  },\n}"
      },
      "id": "pick-task",
      "name": "Выбираем кандидатную задачу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Выбираем кандидатную задачу').item.json.parentTaskKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-parent",
      "name": "Есть родительская задача?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        416
      ]
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.parentTaskKey }}"
            }
          ]
        }
      },
      "id": "parent-exists",
      "name": "Проверяем: родитель найден",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2016,
        336
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.parentTaskKey }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "get-parent-task",
      "name": "Получаем родительскую задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2240,
        336
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Получаем родительскую задачу').item.json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-parent-done",
      "name": "Родитель выполнен успешно?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        336
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "cancelled",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": "={{ `Задача <code>${$('Выбираем кандидатную задачу').item.json.task.task_key}</code> отменена: родительская задача <code>${$('Выбираем кандидатную задачу').item.json.parentTaskKey}</code> завершилась со статусом ${$('Получаем родительскую задачу').item.json.status}.` }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "cancel-parent-unsuccessful",
      "name": "Отменяем: родитель неуспешен",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2912,
        672
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Задача <code>${$('Выбираем кандидатную задачу').item.json.task.task_key}</code> отменена [${$('Выбираем кандидатную задачу').item.json.task.worker_alias || 'primary'}]: родительская задача <code>${$('Выбираем кандидатную задачу').item.json.parentTaskKey}</code> завершилась со статусом ${$('Получаем родительскую задачу').item.json.status}.` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-parent-unsuccessful",
      "name": "Сообщаем: родитель неуспешен",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3136,
        672
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-Сообщаем-родитель-неуспешен",
      "name": "Уведомление HA: Сообщаем: родитель неуспешен",
      "position": [
        3336,
        672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Выбираем кандидатную задачу').item.json.parentMatchText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "leftValue": "={{ $('Получаем родительскую задачу').item.json.result_text }}",
              "rightValue": "={{ $('Выбираем кандидатную задачу').item.json.parentMatchText }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-parent-match-ok",
      "name": "Условие вхождения выполнено?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        288
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "cancelled",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": "={{ `Задача <code>${$('Выбираем кандидатную задачу').item.json.task.task_key}</code> отменена: в результате <code>${$('Выбираем кандидатную задачу').item.json.parentTaskKey}</code> не найдено вхождение '${$('Выбираем кандидатную задачу').item.json.parentMatchText}'.` }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "cancel-parent-match-missing",
      "name": "Отменяем: вхождение не найдено",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2912,
        288
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Задача <code>${$('Выбираем кандидатную задачу').item.json.task.task_key}</code> отменена [${$('Выбираем кандидатную задачу').item.json.task.worker_alias || 'primary'}]: в результате <code>${$('Выбираем кандидатную задачу').item.json.parentTaskKey}</code> не найдено вхождение '${$('Выбираем кандидатную задачу').item.json.parentMatchText}'.` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-parent-match-missing",
      "name": "Сообщаем: вхождение не найдено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3136,
        288
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-Сообщаем-вхождение-не-найдено",
      "name": "Уведомление HA: Сообщаем: вхождение не найдено",
      "position": [
        3336,
        288
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Задача <code>${$('Выбираем кандидатную задачу').item.json.task.task_key}</code> [${$('Выбираем кандидатную задачу').item.json.task.worker_alias || 'primary'}] успешно запущена. Ожидайте результат.` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-launch-error",
      "name": "Сообщаем: задача запущена",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3808,
        416
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-launch-success",
      "name": "Уведомление HA: задача запущена",
      "position": [
        4008,
        416
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Асинхронный запуск задачи [${$('Выбираем кандидатную задачу').item.json.task.worker_alias || 'primary'}] <code>${$('Выбираем кандидатную задачу').item.json.task.task_key}</code> не удался: ${$('Запуск задачи').item.json.launchError || 'OpenCode не принял запрос.'}` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-prompt-error",
      "name": "Сообщаем: ошибка асинхронного запуска",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3808,
        656
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-launch-error",
      "name": "Уведомление HA: ошибка асинхронного запуска",
      "position": [
        4008,
        656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
        "text": "={{ `Ответ на вопрос по задаче [${$('Выбираем активную задачу').first().json.task.worker_alias || 'primary'}] <code>${$('Выбираем активную задачу').first().json.task.task_key}</code> не отправлен: ${String($('Обработка интеракций').item.json.error || 'OpenCode не вернул корректный ответ.')}` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-answer-error",
      "name": "Сообщаем: ошибка ответа на вопрос",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2688,
        1088
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-answer-error",
      "name": "Уведомление HA: ошибка ответа на вопрос",
      "position": [
        2888,
        1088
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Завершение задачи').first().json.taskKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $('Завершение задачи').first().json.resultStatus }}",
            "pending_options_json": "[]",
            "result_text": "={{ $('Завершение задачи').first().json.replyText }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_key",
              "displayName": "task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context_json",
              "displayName": "context_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "worker_alias",
              "displayName": "worker_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "command_name",
              "displayName": "command_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_task_key",
              "displayName": "parent_task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_match_text",
              "displayName": "parent_match_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_at",
              "displayName": "queued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_question",
              "displayName": "pending_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_options_json",
              "displayName": "pending_options_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "result_text",
              "displayName": "result_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "save-final-result",
      "name": "Сохраняем результат задачи",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3360,
        848
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
        "text": "={{ (($('Завершение задачи').first().json.replyText) || '').slice(0, 3900) }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-final-result",
      "name": "Отправляем результат в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3584,
        848
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-final-result",
      "name": "Уведомление HA: результат задачи",
      "position": [
        3784,
        848
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим пакеты обработчиков').item.json.activeTasksCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-active-task",
      "name": "Есть активная задача?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Выбираем первую активную задачу для текущего worker-а.\n// Из её context_json извлекаем:\n//   abortRequested — пользователь запросил прерывание\n//   latestSentId   — id последнего отправленного в Telegram сообщения (для дельты)\n\nconst workerPackage = $('Готовим пакеты обработчиков').item.json\nconst activeTasks = Array.isArray(workerPackage.activeTasks) ? workerPackage.activeTasks : []\nconst selectedTask = activeTasks[0] || null\n\nlet contextJson = {}\nlet abortRequested = false\nlet latestSentId = ''\nif (selectedTask) {\n  try {\n    contextJson = JSON.parse(String(selectedTask.context_json || '{}'))\n  } catch {}\n  abortRequested = contextJson.abortRequested === true\n  latestSentId = String(contextJson.latestSentId || '').trim()\n}\n\nreturn {\n  json: {\n    task: selectedTask,\n    taskStatus: String(selectedTask?.status || '').trim(),\n    sessionId: String(selectedTask?.session_id || '').trim(),\n    pendingQuestion: String(selectedTask?.pending_question || '').trim(),\n    pendingOptionsJson: String(selectedTask?.pending_options_json || '[]'),\n    abortRequested,\n    contextJson,\n    latestSentId,\n    acceptanceCriteria: String(contextJson.acceptanceCriteria || '').trim(),\n    originalPrompt: String(contextJson.originalPrompt || '').trim(),\n  },\n}"
      },
      "id": "pick-active-task",
      "name": "Выбираем активную задачу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1008
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900012",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "sessionCreatePath": "={{ $('Готовим пакеты обработчиков').item.json.sessionCreatePath }}",
            "latestSessionId": "={{ $('Выбираем кандидатную задачу').item.json.latestSessionId }}",
            "createNewSession": "={{ $('Выбираем кандидатную задачу').item.json.createNewSession }}",
            "taskKey": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}"
          }
        },
        "options": {}
      },
      "id": "exec-session",
      "name": "Управление сессией",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Копируем sessionId и launchError от менеджера сессий в отдельные поля,\n// чтобы exec-launch мог ссылаться на них без проблем paired-item цепочки.\n\nconst sessionOutput = $('Управление сессией').first().json\n\nreturn {\n  json: {\n    sessionId: String(sessionOutput.sessionId || '').trim(),\n    launchError: String(sessionOutput.launchError || '').trim(),\n  },\n}"
      },
      "id": "capture-session-result",
      "name": "Фиксируем результат менеджера сессий",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900013",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "taskKey": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}",
            "taskStatus": "={{ $('Выбираем кандидатную задачу').item.json.task.status }}",
            "promptText": "={{ $('Выбираем кандидатную задачу').item.json.promptText }}",
            "sessionId": "={{ $('Фиксируем результат менеджера сессий').item.json.sessionId }}",
            "launchError": "={{ $('Фиксируем результат менеджера сессий').item.json.launchError }}",
            "promptAsyncPath": "={{ $('Готовим пакеты обработчиков').item.json.promptAsyncPath }}",
            "opencodeAgent": "={{ $('Готовим пакеты обработчиков').item.json.opencodeAgent }}",
            "opencodeModelProviderID": "={{ $('Готовим пакеты обработчиков').item.json.opencodeModel?.providerID }}",
            "opencodeModelModelID": "={{ $('Готовим пакеты обработчиков').item.json.opencodeModel?.modelID }}",
            "opencodeVariant": "={{ $('Готовим пакеты обработчиков').item.json.opencodeVariant }}"
          }
        },
        "options": {}
      },
      "id": "exec-launch",
      "name": "Запуск задачи",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3360,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900014",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "taskKey": "={{ $('Выбираем активную задачу').first().json.task.task_key }}",
            "sessionId": "={{ $('Выбираем активную задачу').first().json.sessionId }}",
            "chatId": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
            "taskStatus": "={{ $('Выбираем активную задачу').first().json.taskStatus }}",
            "pendingQuestion": "={{ $('Выбираем активную задачу').first().json.pendingQuestion }}",
            "pendingOptionsJson": "={{ $json.pending_options_json || $('Выбираем активную задачу').first().json.pendingOptionsJson }}",
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "questionListPath": "={{ $('Готовим пакеты обработчиков').item.json.questionListPath }}",
            "questionReplyPath": "={{ $('Готовим пакеты обработчиков').item.json.questionReplyPath }}",
            "questionRejectPath": "={{ $('Готовим пакеты обработчиков').item.json.questionRejectPath }}",
            "permissionListPath": "={{ $('Готовим пакеты обработчиков').item.json.permissionListPath }}",
            "permissionReplyPath": "={{ $('Готовим пакеты обработчиков').item.json.permissionReplyPath }}",
            "abortRequested": "={{ String($('Выбираем активную задачу').first().json.abortRequested) }}",
            "contextJson": "={{ JSON.stringify($('Выбираем активную задачу').first().json.contextJson) }}",
            "workerAlias": "={{ $('Выбираем активную задачу').first().json.task.worker_alias || 'primary' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "taskKey",
              "displayName": "taskKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "taskStatus",
              "displayName": "taskStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pendingQuestion",
              "displayName": "pendingQuestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pendingOptionsJson",
              "displayName": "pendingOptionsJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "workerBaseUrl",
              "displayName": "workerBaseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "authorizationHeader",
              "displayName": "authorizationHeader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "questionListPath",
              "displayName": "questionListPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "questionReplyPath",
              "displayName": "questionReplyPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "questionRejectPath",
              "displayName": "questionRejectPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "permissionListPath",
              "displayName": "permissionListPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "permissionReplyPath",
              "displayName": "permissionReplyPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "abortRequested",
              "displayName": "abortRequested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contextJson",
              "displayName": "contextJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "exec-interaction",
      "name": "Обработка интеракций",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2240,
        1008
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900015",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "taskKey": "={{ $('Выбираем активную задачу').first().json.task.task_key }}",
            "sessionId": "={{ $('Выбираем активную задачу').first().json.sessionId }}",
            "chatId": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "sessionStatusPath": "={{ $('Готовим пакеты обработчиков').item.json.sessionStatusPath }}",
            "messageListPath": "={{ $('Готовим пакеты обработчиков').item.json.messageListPath }}",
            "latestSentId": "={{ $('Выбираем активную задачу').first().json.latestSentId }}",
            "queuedAt": "={{ $('Выбираем активную задачу').first().json.task.queued_at }}",
            "workerAlias": "={{ $('Выбираем активную задачу').first().json.task.worker_alias || 'primary' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "taskKey",
              "displayName": "taskKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "workerBaseUrl",
              "displayName": "workerBaseUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "authorizationHeader",
              "displayName": "authorizationHeader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionStatusPath",
              "displayName": "sessionStatusPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "messageListPath",
              "displayName": "messageListPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "latestSentId",
              "displayName": "latestSentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "exec-finalize",
      "name": "Завершение задачи",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        1008
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
        "text": "={{ (($('Завершение задачи').first().json.streamProgressText) || '').slice(0, 3900) }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "send-stream-progress",
      "name": "Отправляем промежуточный прогресс в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3584,
        1040
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      },
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Задаём переменные').item.json.haScriptUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __HA_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_to_say",
              "value": "={{ $json.replyText || $json.text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "id": "ha-stream-progress",
      "name": "Уведомление HA: промежуточный прогресс в Telegram",
      "position": [
        3784,
        1040
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Завершение задачи').first().json.taskKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context_json": "={{ (() => { const prevCtx = $('Выбираем активную задачу').first().json.contextJson || {}; const newId = String($('Завершение задачи').first().json.latestSentId || '').trim(); return JSON.stringify({ ...prevCtx, latestSentId: newId }) })() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_key",
              "displayName": "task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context_json",
              "displayName": "context_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "worker_alias",
              "displayName": "worker_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "command_name",
              "displayName": "command_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_task_key",
              "displayName": "parent_task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_match_text",
              "displayName": "parent_match_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_at",
              "displayName": "queued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_question",
              "displayName": "pending_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_options_json",
              "displayName": "pending_options_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "result_text",
              "displayName": "result_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "mark-stream-progress-sent",
      "name": "Помечаем прогресс отправленным",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3808,
        1104
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Запуск задачи').item.json.launchError }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-launch-error",
      "name": "Есть ошибка запуска?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3584,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Завершение задачи').first().json.taskCompleted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-task-completed",
      "name": "Задача завершена?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3136,
        1008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Завершение задачи').first().json.streamProgressText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-progress",
      "name": "Есть текст прогресса?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Обработка интеракций').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reply-error",
      "name": "Есть ошибка ответа?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        1008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "parent-failed",
              "leftValue": "={{ ['failed','cancelled'].includes($('Получаем родительскую задачу').item.json.status) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-parent-failed",
      "name": "Родитель завершился ошибкой?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        672
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__CHAT_SETTINGS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "get-chat-settings-1",
      "name": "Читаем настройки чата",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4032,
        752
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.auto_mode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-auto-mode-1",
      "name": "Авто-режим включён?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4256,
        752
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "__AUTO_GENERATOR_WORKFLOW_ID__",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
            "completed_task_key": "={{ $('Выбираем активную задачу').first().json.task.task_key }}",
            "completed_prompt": "={{ $('Выбираем активную задачу').first().json.task.prompt }}",
            "completed_result": "={{ $('Завершение задачи').first().json.replyText }}",
            "worker_alias": "={{ $('Выбираем активную задачу').first().json.task.worker_alias }}"
          }
        }
      },
      "id": "exec-auto-generator-1",
      "name": "Авто-генератор задач",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4480,
        752
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__CHAT_SETTINGS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "get-chat-settings-2",
      "name": "Читаем настройки для авто-режима",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1568,
        1008
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Читаем настройки для авто-режима').first().json.auto_mode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $('Выбираем активную задачу').first().json.taskStatus }}",
              "rightValue": "needs_input",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $('Выбираем активную задачу').first().json.pendingQuestion }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-auto-mode-needs-input",
      "name": "Авто-режим AND нужен ответ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        1008
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "__AUTO_GENERATOR_WORKFLOW_ID__",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
            "completed_task_key": "={{ $('Выбираем активную задачу').first().json.task.task_key }}",
            "completed_prompt": "={{ $('Выбираем активную задачу').first().json.task.prompt }}",
            "pending_question": "={{ $('Выбираем активную задачу').first().json.pendingQuestion }}",
            "is_needs_input": true,
            "pending_options_json": "={{ $('Выбираем активную задачу').first().json.pendingOptionsJson }}",
            "worker_alias": "={{ $('Выбираем активную задачу').first().json.task.worker_alias }}"
          }
        }
      },
      "id": "exec-auto-generator-2",
      "name": "Авто-генератор ответа",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2016,
        1088
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Завершение задачи').first().json.taskCompleted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $('Выбираем активную задачу').first().json.acceptanceCriteria }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-verify-needed",
      "name": "Нужна верификация?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3808,
        848
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "__VERIFIER_WORKFLOW_ID__",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ $('Выбираем активную задачу').first().json.task.task_key }}",
            "chat_id": "={{ $('Выбираем активную задачу').first().json.task.chat_id }}",
            "original_prompt": "={{ $('Выбираем активную задачу').first().json.originalPrompt || $('Выбираем активную задачу').first().json.task.prompt }}",
            "acceptance_criteria": "={{ $('Выбираем активную задачу').first().json.acceptanceCriteria }}",
            "result_text": "={{ $('Завершение задачи').first().json.replyText }}",
            "worker_alias": "={{ $('Выбираем активную задачу').first().json.task.worker_alias || 'primary' }}",
            "worker_base_url": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorization_header": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "session_create_path": "={{ $('Готовим пакеты обработчиков').item.json.sessionCreatePath }}",
            "session_status_path": "={{ $('Готовим пакеты обработчиков').item.json.sessionStatusPath }}",
            "message_list_path": "={{ $('Готовим пакеты обработчиков').item.json.messageListPath }}",
            "prompt_async_path": "={{ $('Готовим пакеты обработчиков').item.json.promptAsyncPath }}",
            "session_id": "={{ $('Выбираем активную задачу').first().json.task.session_id }}",
            "context_json": "={{ $('Выбираем активную задачу').first().json.task.context_json }}"
          }
        },
        "options": {}
      },
      "id": "exec-acceptance-verifier",
      "name": "Верификатор приёмки",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4032,
        944
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Проверяем нужно ли перезапустить задачу по интервалу\nconst tasks = $input.all()\nconst results = []\n\nfor (const item of tasks) {\n  let context = {}\n  try { context = JSON.parse(String(item.json.context_json || '{}')) } catch(e) {}\n  \n  // Не повторяем отменённые/прерванные задачи\n  const taskStatus = String(item.json.status || '').trim()\n  if (taskStatus === 'aborted' || taskStatus === 'cancelled') {\n    results.push({ json: { ...item.json, repeatActive: false } })\n    continue\n  }\n  const interval = String(context.repeatInterval || '').trim()\n  if (!interval) {\n    results.push({ json: { ...item.json, repeatActive: false } })\n    continue\n  }\n\n  // Парсим интервал: 30m, 4h, 1d\n  const match = interval.match(/^(\\d+)([mhd])$/)\n  if (!match) {\n    results.push({ json: { ...item.json, repeatActive: false } })\n    continue\n  }\n  const value = parseInt(match[1])\n  const unit = match[2]\n  const ms = unit === 'm' ? value * 60000 : unit === 'h' ? value * 3600000 : value * 86400000\n  const nextRun = new Date(Date.now() + ms).toISOString()\n\n  results.push({\n    json: {\n      ...item.json,\n      repeatActive: true,\n      repeatInterval: interval,\n      newQueuedAt: nextRun,\n      shouldReset: true,\n      replyText: (item.json.replyText || '') + `\n\n🔄 Повтор через ${interval} (${nextRun})`\n    }\n  })\n}\n\nreturn results"
      },
      "id": "check-repeat-interval",
      "name": "Проверяем интервал повтора",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldReset }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-repeat-active",
      "name": "Нужен сброс для повтора?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3800,
        848
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "keyValue": "={{ $('Проверяем интервал повтора').first().json.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "queued",
            "queued_at": "={{ $('Проверяем интервал повтора').first().json.newQueuedAt }}",
            "result_text": "={{ ($('Проверяем интервал повтора').first().json.replyText || '').slice(0, 4000) }}"
          }
        },
        "options": {}
      },
      "id": "reset-repeat-status",
      "name": "Сбрасываем в очередь для повтора",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4020,
        800
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ha-script-url",
              "name": "haScriptUrl",
              "value": "__HA_URL__/api/services/script/1720584135122",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "id": "set-vars",
      "name": "Задаём переменные",
      "position": [
        424,
        672
      ]
    }
  ],
  "connections": {
    "Триггер по расписанию": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём конфигурацию OpenCode": {
      "main": [
        [
          {
            "node": "Получаем все задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все задачи": {
      "main": [
        [
          {
            "node": "Готовим пакеты обработчиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть активная задача?": {
      "main": [
        [
          {
            "node": "Выбираем активную задачу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Есть задача и воркер свободен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть задача и воркер свободен?": {
      "main": [
        [
          {
            "node": "Выбираем кандидатную задачу",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Выбираем кандидатную задачу": {
      "main": [
        [
          {
            "node": "Есть родительская задача?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбираем активную задачу": {
      "main": [
        [
          {
            "node": "Читаем настройки для авто-режима",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть родительская задача?": {
      "main": [
        [
          {
            "node": "Проверяем: родитель найден",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Управление сессией",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем: родитель найден": {
      "main": [
        [
          {
            "node": "Получаем родительскую задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем родительскую задачу": {
      "main": [
        [
          {
            "node": "Родитель выполнен успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Родитель выполнен успешно?": {
      "main": [
        [
          {
            "node": "Условие вхождения выполнено?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Родитель завершился ошибкой?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отменяем: родитель неуспешен": {
      "main": [
        [
          {
            "node": "Сообщаем: родитель неуспешен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Условие вхождения выполнено?": {
      "main": [
        [
          {
            "node": "Управление сессией",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отменяем: вхождение не найдено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отменяем: вхождение не найдено": {
      "main": [
        [
          {
            "node": "Сообщаем: вхождение не найдено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем результат задачи": {
      "main": [
        [
          {
            "node": "Проверяем интервал повтора",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Управление сессией": {
      "main": [
        [
          {
            "node": "Фиксируем результат менеджера сессий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск задачи": {
      "main": [
        [
          {
            "node": "Есть ошибка запуска?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка интеракций": {
      "main": [
        [
          {
            "node": "Есть ошибка ответа?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Завершение задачи": {
      "main": [
        [
          {
            "node": "Задача завершена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем промежуточный прогресс в Telegram": {
      "main": [
        [
          {
            "node": "Уведомление HA: промежуточный прогресс в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Помечаем прогресс отправленным": {
      "main": [
        []
      ]
    },
    "Сообщаем: ошибка асинхронного запуска": {
      "main": [
        [
          {
            "node": "Уведомление HA: ошибка асинхронного запуска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем: ошибка ответа на вопрос": {
      "main": [
        [
          {
            "node": "Уведомление HA: ошибка ответа на вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ошибка запуска?": {
      "main": [
        [
          {
            "node": "Сообщаем: ошибка асинхронного запуска",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщаем: задача запущена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задача завершена?": {
      "main": [
        [
          {
            "node": "Сохраняем результат задачи",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Есть текст прогресса?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ошибка ответа?": {
      "main": [
        [
          {
            "node": "Сообщаем: ошибка ответа на вопрос",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Завершение задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фиксируем результат менеджера сессий": {
      "main": [
        [
          {
            "node": "Запуск задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть текст прогресса?": {
      "main": [
        [
          {
            "node": "Отправляем промежуточный прогресс в Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Помечаем прогресс отправленным",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Родитель завершился ошибкой?": {
      "main": [
        [
          {
            "node": "Отменяем: родитель неуспешен",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Сообщаем: задача запущена": {
      "main": [
        [
          {
            "node": "Уведомление HA: задача запущена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем результат в Telegram": {
      "main": [
        [
          {
            "node": "Уведомление HA: результат задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем настройки чата": {
      "main": [
        [
          {
            "node": "Авто-режим включён?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Авто-режим включён?": {
      "main": [
        [
          {
            "node": "Авто-генератор задач",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читаем настройки для авто-режима": {
      "main": [
        [
          {
            "node": "Авто-режим AND нужен ответ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Авто-режим AND нужен ответ?": {
      "main": [
        [
          {
            "node": "Авто-генератор ответа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Обработка интеракций",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Авто-генератор ответа": {
      "main": [
        [
          {
            "node": "Обработка интеракций",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужна верификация?": {
      "main": [
        [
          {
            "node": "Верификатор приёмки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Читаем настройки чата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Верификатор приёмки": {
      "main": [
        []
      ]
    },
    "Проверяем интервал повтора": {
      "main": [
        [
          {
            "node": "Нужен сброс для повтора?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужен сброс для повтора?": {
      "main": [
        [
          {
            "node": "Сбрасываем в очередь для повтора",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем результат в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим пакеты обработчиков": {
      "main": [
        [
          {
            "node": "Есть активная задача?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: задача запущена": {
      "main": [
        []
      ]
    },
    "Уведомление HA: результат задачи": {
      "main": [
        [
          {
            "node": "Нужна верификация?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: ошибка асинхронного запуска": {
      "main": [
        []
      ]
    },
    "Уведомление HA: промежуточный прогресс в Telegram": {
      "main": [
        [
          {
            "node": "Помечаем прогресс отправленным",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: ошибка ответа на вопрос": {
      "main": [
        [
          {
            "node": "Завершение задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление HA: Сообщаем: родитель неуспешен": {
      "main": [
        []
      ]
    },
    "Уведомление HA: Сообщаем: вхождение не найдено": {
      "main": [
        []
      ]
    },
    "Сообщаем: родитель неуспешен": {
      "main": [
        [
          {
            "node": "Уведомление HA: Сообщаем: родитель неуспешен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщаем: вхождение не найдено": {
      "main": [
        [
          {
            "node": "Уведомление HA: Сообщаем: вхождение не найдено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём переменные": {
      "main": [
        [
          {
            "node": "Задаём конфигурацию OpenCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "active": false
}