n8n/bootstrap/workflows/templates/task-launcher.template.json
{
  "name": "Запуск задачи",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "promptText",
              "type": "string"
            },
            {
              "name": "opencodeAgent",
              "type": "string"
            },
            {
              "name": "opencodeModelProviderID",
              "type": "string"
            },
            {
              "name": "opencodeModelModelID",
              "type": "string"
            },
            {
              "name": "taskKey",
              "type": "string"
            },
            {
              "name": "taskStatus",
              "type": "string"
            },
            {
              "name": "sessionId",
              "type": "string"
            },
            {
              "name": "launchError",
              "type": "string"
            },
            {
              "name": "promptAsyncPath",
              "type": "string"
            },
            {
              "name": "workerBaseUrl",
              "type": "string"
            },
            {
              "name": "authorizationHeader",
              "type": "string"
            }
          ]
        }
      },
      "id": "sub-trigger",
      "name": "Запуск по вызову из другого сценария",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Нормализуем входные данные от диспетчера и собираем тело запроса к OpenCode API.\n// Добавляем модель, если передана (формат provider/model → { providerID, modelID }).\n\nconst input = $('Запуск по вызову из другого сценария').item.json\n\nconst requestBody = {\n  agent: String(input.opencodeAgent || '').trim(),\n  parts: [\n    { type: 'text', text: String(input.promptText || '').trim() }\n  ],\n}\nif (input.opencodeModelProviderID) {\n  requestBody.model = {\n    modelID: String(input.opencodeModelModelID || '').trim(),\n    providerID: String(input.opencodeModelProviderID || '').trim(),\n  }\n}\n\nreturn {\n  json: {\n    taskKey: String(input.taskKey || '').trim(),\n    taskStatus: String(input.taskStatus || '').trim(),\n    sessionId: String(input.sessionId || '').trim(),\n    launchError: String(input.launchError || '').trim(),\n    promptAsyncPath: String(input.promptAsyncPath || '').trim(),\n    workerBaseUrl: String(input.workerBaseUrl || '').trim(),\n    authorizationHeader: String(input.authorizationHeader || '').trim(),\n    requestBody: JSON.stringify(requestBody),\n  },\n}"
      },
      "id": "parse-input",
      "name": "Разбираем входные данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Разбираем входные данные').item.json.taskKey }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "queued"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "running",
            "session_id": "={{ $('Разбираем входные данные').item.json.sessionId }}",
            "pending_question": "",
            "pending_options_json": "[]"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "claim-task",
      "name": "Захватываем ожидающую задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        700,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Разбираем входные данные').item.json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-session-ready",
      "name": "Сессия готова?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Разбираем входные данные').item.json.workerBaseUrl + $('Разбираем входные данные').item.json.promptAsyncPath.replace(':id', $('Разбираем входные данные').item.json.sessionId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Разбираем входные данные').item.json.authorizationHeader }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.parse($('Разбираем входные данные').item.json.requestBody) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "send-prompt",
      "name": "Запускаем задачу в OpenCode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        320
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Собираем итоговый результат запуска задачи в OpenCode.\n// Успех: launchError пустой, сессия запущена.\n// Ошибка сессии: launchError = текст ошибки от менеджера сессий.\n// Ошибка HTTP: launchError = текст ошибки из ответа API prompt_async.\n// Очистка от HTML-тегов: Telegram-нода по умолчанию шлёт parse_mode=HTML.\n\nconst stripHtml = (str) => String(str || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').trim()\n\nconst input = $('Разбираем входные данные').item.json\nlet launchError = stripHtml(input.launchError || '')\n\n// Проверка ошибки HTTP-вызова prompt_async (если нода выполнялась)\ntry {\n  const promptResults = $('Запускаем задачу в OpenCode').all()\n  if (promptResults.length > 0) {\n    const promptError = promptResults[0].json.error\n    if (promptError) launchError = stripHtml(String(promptError.message || promptError))\n  }\n} catch (_) {}\n\nreturn {\n  json: {\n    sessionId: input.sessionId,\n    launchError,\n    taskKey: input.taskKey,\n  },\n}"
      },
      "id": "normalize-result",
      "name": "Нормализуем результат",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        320
      ]
    }
  ],
  "connections": {
    "Запуск по вызову из другого сценария": {
      "main": [
        [
          {
            "node": "Разбираем входные данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем входные данные": {
      "main": [
        [
          {
            "node": "Захватываем ожидающую задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Захватываем ожидающую задачу": {
      "main": [
        [
          {
            "node": "Сессия готова?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сессия готова?": {
      "main": [
        [
          {
            "node": "Запускаем задачу в OpenCode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нормализуем результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запускаем задачу в OpenCode": {
      "main": [
        [
          {
            "node": "Нормализуем результат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "900013",
  "tags": []
}