n8n/bootstrap/workflows/templates/telegram-task-dispatcher.template.json
{
  "name": "Диспетчер задач Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Триггер по расписанию",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "__OPENCODE_ROUTING_JSON__",
        "options": {}
      },
      "id": "set-routing",
      "name": "Задаём конфигурацию OpenCode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "ASC"
      },
      "id": "get-all-tasks",
      "name": "Получаем все задачи",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        700,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Готовим по одному пакету данных на каждого worker-а:\n// — список всех задач этого worker-а (отсортирован по queued_at)\n// — отдельно queued и active задачи с их количеством (для numeric-условий в IF-нодах)\n// — все endpoint-ы OpenCode из routing-конфигурации\n// — модель OpenCode (разбираем из формата \"provider/model\", например \"deepseek/deepseek-v4-pro\")\n\nconst routing = $('Задаём конфигурацию OpenCode').first().json\nconst allTasks = $('Получаем все задачи').all().map((item) => item.json)\n\n// Сортировка задач: более ранние (queued_at меньше) — выше\nfunction sortByQueuedAt(left, right) {\n  return String(left.queued_at || '').localeCompare(String(right.queued_at || ''))\n}\n\n// Разбор строки \"provider/model\" → { providerID, modelID }\n// Возвращает null если формат невалидный (пусто, нет /, / в начале или конце)\nfunction parseModel(modelRef) {\n  const normalized = String(modelRef || '').trim()\n  const separatorIndex = normalized.indexOf('/')\n\n  if (!normalized || separatorIndex <= 0 || separatorIndex === normalized.length - 1) {\n    return null\n  }\n\n  return {\n    providerID: normalized.slice(0, separatorIndex),\n    modelID: normalized.slice(separatorIndex + 1),\n  }\n}\n\nreturn Object.entries(routing.workers || {}).map(([workerAlias, workerConfig]) => {\n  const workerTasks = allTasks\n    .filter((task) => String(task.worker_alias || '').trim() === workerAlias)\n    .sort(sortByQueuedAt)\n\n  const queuedTasks = workerTasks.filter((task) => String(task.status || '').trim() === 'queued')\n  const activeTasks = workerTasks.filter((task) =>\n    ['running', 'needs_input'].includes(String(task.status || '').trim())\n  )\n\n  return {\n    json: {\n      workerAlias,\n      workerBaseUrl: String(workerConfig.baseUrl || '').trim(),\n      authorizationHeader: String(workerConfig.authorizationHeader || '').trim(),\n      sessionCreatePath: String(routing.endpoints?.sessionCreate || '').trim(),\n      messageListPath: String(routing.endpoints?.messageList || '').trim(),\n      questionListPath: String(routing.endpoints?.questionList || '').trim(),\n      questionReplyPath: String(routing.endpoints?.questionReply || '').trim(),\n      questionRejectPath: String(routing.endpoints?.questionReject || '').trim(),\n      permissionListPath: String(routing.endpoints?.permissionList || '').trim(),\n      permissionReplyPath: String(routing.endpoints?.permissionReply || '').trim(),\n      sessionStatusPath: String(routing.endpoints?.sessionStatus || '').trim(),\n      promptAsyncPath: String(routing.endpoints?.promptAsync || '').trim(),\n      opencodeAgent: String(routing.defaultAgent || 'build').trim(),\n      opencodeModel: parseModel(routing.defaultModel),\n      workerTasks,\n      queuedTasks,\n      queuedTasksCount: queuedTasks.length,\n      activeTasks,\n      activeTasksCount: activeTasks.length,\n    },\n  }\n})"
      },
      "id": "prepare-workers",
      "name": "Готовим пакеты обработчиков",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим пакеты обработчиков').item.json.queuedTasksCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "leftValue": "={{ $('Готовим пакеты обработчиков').item.json.activeTasksCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-worker-ready",
      "name": "Есть задача и воркер свободен?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Берём пакет данных текущего worker-а, который уже содержит только queued задачи\n// и количество активных задач этого worker-а.\nconst workerPackage = $('Готовим пакеты обработчиков').item.json\nconst queuedTasks = Array.isArray(workerPackage.queuedTasks) ? workerPackage.queuedTasks : []\nconst workerTasks = Array.isArray(workerPackage.workerTasks) ? workerPackage.workerTasks : []\n\n// Приоритет всегда у зависимых задач.\n// Если зависимых задач нет, берём самую раннюю обычную queued-задачу.\nconst dependentTasks = queuedTasks.filter((task) => String(task.parent_task_key || '').trim())\nconst regularTasks = queuedTasks.filter((task) => !String(task.parent_task_key || '').trim())\nconst selectedTask = dependentTasks[0] || regularTasks[0] || null\n\nlet context = {}\ntry {\n  context = JSON.parse(String(selectedTask?.context_json || '{}'))\n} catch {\n  context = {}\n}\n\nconst chatId = String(selectedTask?.chat_id || '').trim()\nconst sessionHistory = workerTasks\n  .filter((task) => String(task.chat_id || '').trim() === chatId)\n  .filter((task) => String(task.session_id || '').trim())\n\nconst latestSessionTask = sessionHistory[sessionHistory.length - 1] || null\nconst latestSessionId = String(latestSessionTask?.session_id || '').trim()\nconst newSessionRequested = Boolean(\n  context.newSessionRequested ||\n  context.flags?.['new-session'] ||\n  context.flags?.['new_session'] ||\n  context.flags?.['fresh-session'] ||\n  context.flags?.['fresh_session']\n)\nconst claimToken = `claim-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 10)}`\n\nreturn {\n  json: {\n    task: selectedTask,\n    parentTaskKey: String(selectedTask?.parent_task_key || '').trim(),\n    parentMatchText: String(selectedTask?.parent_match_text || '').trim(),\n    promptText: String(selectedTask?.prompt || '').trim(),\n    latestSessionId,\n    createNewSession: newSessionRequested || !latestSessionId,\n    claimToken,\n  },\n}"
      },
      "id": "pick-task",
      "name": "Выбираем кандидатную задачу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Выбираем кандидатную задачу').item.json.parentTaskKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-parent",
      "name": "Есть родительская задача?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        320
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "rowExists",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.parentTaskKey }}"
            }
          ]
        }
      },
      "id": "parent-exists",
      "name": "Проверяем: родитель найден",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2140,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.parentTaskKey }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "get-parent-task",
      "name": "Получаем родительскую задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2140,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Получаем родительскую задачу').item.json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-parent-done",
      "name": "Родитель выполнен успешно?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2380,
        320
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "cancelled",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": "={{ `Задача ${$('Выбираем кандидатную задачу').item.json.task.task_key} отменена: родительская задача ${$('Выбираем кандидатную задачу').item.json.parentTaskKey} завершилась со статусом ${$('Получаем родительскую задачу').item.json.status}.` }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "cancel-parent-unsuccessful",
      "name": "Отменяем: родитель неуспешен",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2860,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Задача ${$('Выбираем кандидатную задачу').item.json.task.task_key} отменена: родительская задача ${$('Выбираем кандидатную задачу').item.json.parentTaskKey} завершилась со статусом ${$('Получаем родительскую задачу').item.json.status}.` }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "notify-parent-unsuccessful",
      "name": "Сообщаем: родитель неуспешен",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Выбираем кандидатную задачу').item.json.parentMatchText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $('Получаем родительскую задачу').item.json.result_text }}",
              "rightValue": "={{ $('Выбираем кандидатную задачу').item.json.parentMatchText }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-parent-match-ok",
      "name": "Условие вхождения выполнено?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        320
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "cancelled",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": "={{ `Задача ${$('Выбираем кандидатную задачу').item.json.task.task_key} отменена: в результате ${$('Выбираем кандидатную задачу').item.json.parentTaskKey} не найдено вхождение '${$('Выбираем кандидатную задачу').item.json.parentMatchText}'.` }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "cancel-parent-match-missing",
      "name": "Отменяем: вхождение не найдено",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3100,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Задача ${$('Выбираем кандидатную задачу').item.json.task.task_key} отменена: в результате ${$('Выбираем кандидатную задачу').item.json.parentTaskKey} не найдено вхождение '${$('Выбираем кандидатную задачу').item.json.parentMatchText}'.` }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "notify-parent-match-missing",
      "name": "Сообщаем: вхождение не найдено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3340,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Задача ${$('Выбираем кандидатную задачу').item.json.task.task_key} успешно запущена. Ожидайте результат.` }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "notify-launch-error",
      "name": "Сообщаем: ошибка запуска",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4300,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем кандидатную задачу').item.json.task.chat_id }}",
        "text": "={{ `Асинхронный запуск задачи ${$('Выбираем кандидатную задачу').item.json.task.task_key} не удался: ${$('Запуск задачи').item.json.launchError || 'OpenCode не принял запрос.'}` }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "notify-prompt-error",
      "name": "Сообщаем: ошибка асинхронного запуска",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5020,
        560
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем активную задачу').item.json.task.chat_id }}",
        "text": "={{ `Ответ на вопрос по задаче ${$('Выбираем активную задачу').item.json.task.task_key} не отправлен: ${String($('Обработка интеракций').item.json.error || 'OpenCode не вернул корректный ответ.')}` }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "notify-answer-error",
      "name": "Сообщаем: ошибка ответа на вопрос",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5980,
        640
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Выбираем активную задачу').item.json.task.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $('Завершение задачи').item.json.resultStatus }}",
            "session_id": "={{ $('Выбираем активную задачу').item.json.sessionId }}",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": "={{ $('Завершение задачи').item.json.replyText }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "save-final-result",
      "name": "Сохраняем результат задачи",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5020,
        440
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем активную задачу').item.json.task.chat_id }}",
        "text": "={{ $('Завершение задачи').item.json.replyText }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "send-final-result",
      "name": "Отправляем результат в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5260,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим пакеты обработчиков').item.json.activeTasksCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-active-task",
      "name": "Есть активная задача?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Выбираем первую активную задачу для текущего worker-а.\n// Из её context_json извлекаем:\n//   abortRequested — пользователь запросил прерывание\n//   latestSentId   — id последнего отправленного в Telegram сообщения (для дельты)\n\nconst workerPackage = $('Готовим пакеты обработчиков').item.json\nconst activeTasks = Array.isArray(workerPackage.activeTasks) ? workerPackage.activeTasks : []\nconst selectedTask = activeTasks[0] || null\n\nlet contextJson = {}\nlet abortRequested = false\nlet latestSentId = ''\nif (selectedTask) {\n  try {\n    contextJson = JSON.parse(String(selectedTask.context_json || '{}'))\n  } catch {}\n  abortRequested = contextJson.abortRequested === true\n  latestSentId = String(contextJson.latestSentId || '').trim()\n}\n\nreturn {\n  json: {\n    task: selectedTask,\n    taskStatus: String(selectedTask?.status || '').trim(),\n    sessionId: String(selectedTask?.session_id || '').trim(),\n    pendingQuestion: String(selectedTask?.pending_question || '').trim(),\n    pendingOptionsJson: String(selectedTask?.pending_options_json || '[]'),\n    abortRequested,\n    contextJson,\n    latestSentId,\n  },\n}"
      },
      "id": "pick-active-task",
      "name": "Выбираем активную задачу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        520
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900012",
          "mode": "id"
        },
        "mode": "runOnceForEachItem",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "sessionCreatePath": "={{ $('Готовим пакеты обработчиков').item.json.sessionCreatePath }}",
            "latestSessionId": "={{ $('Выбираем кандидатную задачу').item.json.latestSessionId }}",
            "createNewSession": "={{ $('Выбираем кандидатную задачу').item.json.createNewSession }}",
            "taskKey": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}"
          }
        },
        "options": {}
      },
      "id": "exec-session",
      "name": "Управление сессией",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3100,
        420
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900013",
          "mode": "id"
        },
        "mode": "runOnceForEachItem",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "taskKey": "={{ $('Выбираем кандидатную задачу').item.json.task.task_key }}",
            "taskStatus": "={{ $('Выбираем кандидатную задачу').item.json.task.status }}",
            "claimToken": "={{ $('Выбираем кандидатную задачу').item.json.claimToken }}",
            "promptText": "={{ $('Выбираем кандидатную задачу').item.json.promptText }}",
            "sessionId": "={{ $('Управление сессией').item.json.sessionId }}",
            "launchError": "={{ $('Управление сессией').item.json.launchError }}",
            "promptAsyncPath": "={{ $('Готовим пакеты обработчиков').item.json.promptAsyncPath }}",
            "opencodeAgent": "={{ $('Готовим пакеты обработчиков').item.json.opencodeAgent }}",
            "opencodeModelProviderID": "={{ $('Готовим пакеты обработчиков').item.json.opencodeModel?.providerID }}",
            "opencodeModelModelID": "={{ $('Готовим пакеты обработчиков').item.json.opencodeModel?.modelID }}"
          }
        },
        "options": {}
      },
      "id": "exec-launch",
      "name": "Запуск задачи",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4540,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900014",
          "mode": "id"
        },
        "mode": "runOnceForEachItem",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "taskKey": "={{ $('Выбираем активную задачу').item.json.task.task_key }}",
            "sessionId": "={{ $('Выбираем активную задачу').item.json.sessionId }}",
            "chatId": "={{ $('Выбираем активную задачу').item.json.task.chat_id }}",
            "taskStatus": "={{ $('Выбираем активную задачу').item.json.taskStatus }}",
            "pendingQuestion": "={{ $('Выбираем активную задачу').item.json.pendingQuestion }}",
            "pendingOptionsJson": "={{ $('Выбираем активную задачу').item.json.pendingOptionsJson }}",
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "questionListPath": "={{ $('Готовим пакеты обработчиков').item.json.questionListPath }}",
            "questionReplyPath": "={{ $('Готовим пакеты обработчиков').item.json.questionReplyPath }}",
            "questionRejectPath": "={{ $('Готовим пакеты обработчиков').item.json.questionRejectPath }}",
            "permissionListPath": "={{ $('Готовим пакеты обработчиков').item.json.permissionListPath }}",
            "permissionReplyPath": "={{ $('Готовим пакеты обработчиков').item.json.permissionReplyPath }}",
            "abortRequested": "={{ $('Выбираем активную задачу').item.json.abortRequested }}",
            "contextJson": "={{ JSON.stringify($('Выбираем активную задачу').item.json.contextJson) }}"
          }
        },
        "options": {}
      },
      "id": "exec-interaction",
      "name": "Обработка интеракций",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1900,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "900015",
          "mode": "id"
        },
        "mode": "runOnceForEachItem",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "taskKey": "={{ $('Выбираем активную задачу').item.json.task.task_key }}",
            "sessionId": "={{ $('Выбираем активную задачу').item.json.sessionId }}",
            "chatId": "={{ $('Выбираем активную задачу').item.json.task.chat_id }}",
            "workerBaseUrl": "={{ $('Готовим пакеты обработчиков').item.json.workerBaseUrl }}",
            "authorizationHeader": "={{ $('Готовим пакеты обработчиков').item.json.authorizationHeader }}",
            "sessionStatusPath": "={{ $('Готовим пакеты обработчиков').item.json.sessionStatusPath }}",
            "messageListPath": "={{ $('Готовим пакеты обработчиков').item.json.messageListPath }}",
            "latestSentId": "={{ $('Выбираем активную задачу').item.json.latestSentId }}"
          }
        },
        "options": {}
      },
      "id": "exec-finalize",
      "name": "Завершение задачи",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2620,
        520
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Выбираем активную задачу').item.json.task.chat_id }}",
        "text": "={{ $('Завершение задачи').item.json.streamProgressText }}",
        "additionalFields": {
          "appendAttribution": false,
            "parse_mode": "HTML"
        }
      },
      "id": "send-stream-progress",
      "name": "Отправляем промежуточный прогресс в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2880,
        540
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Выбираем активную задачу').item.json.task.task_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context_json": "={{ (() => { try { const ctx = $('Выбираем активную задачу').item.json.contextJson; ctx.latestSentId = String($('Завершение задачи').item.json.latestSentId || '').trim(); return JSON.stringify(ctx) } catch { return JSON.stringify({ latestSentId: String($('Завершение задачи').item.json.latestSentId || '').trim() }) } })() }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "mark-stream-progress-sent",
      "name": "Помечаем прогресс отправленным",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3120,
        540
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Запуск задачи').item.json.launchError }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-launch-error",
      "name": "Есть ошибка запуска?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4780,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Завершение задачи').item.json.taskCompleted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-task-completed",
      "name": "Задача завершена?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2880,
        520
      ]
    },
    {
      "id": "if-reply-error",
      "name": "Есть ошибка ответа?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2140,
        640
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Обработка интеракций').item.json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Триггер по расписанию": {
      "main": [
        [
          {
            "node": "Задаём конфигурацию OpenCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём конфигурацию OpenCode": {
      "main": [
        [
          {
            "node": "Получаем все задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все задачи": {
      "main": [
        [
          {
            "node": "Готовим пакеты обработчиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим пакеты обработчиков": {
      "main": [
        [
          {
            "node": "Есть активная задача?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть активная задача?": {
      "main": [
        [
          {
            "node": "Выбираем активную задачу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Есть задача и воркер свободен?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть задача и воркер свободен?": {
      "main": [
        [
          {
            "node": "Выбираем кандидатную задачу",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Выбираем кандидатную задачу": {
      "main": [
        [
          {
            "node": "Есть родительская задача?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбираем активную задачу": {
      "main": [
        [
          {
            "node": "Обработка интеракций",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть родительская задача?": {
      "main": [
        [
          {
            "node": "Проверяем: родитель найден",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Управление сессией",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем: родитель найден": {
      "main": [
        [
          {
            "node": "Получаем родительскую задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем родительскую задачу": {
      "main": [
        [
          {
            "node": "Родитель выполнен успешно?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Родитель выполнен успешно?": {
      "main": [
        [
          {
            "node": "Условие вхождения выполнено?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отменяем: родитель неуспешен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отменяем: родитель неуспешен": {
      "main": [
        [
          {
            "node": "Сообщаем: родитель неуспешен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Условие вхождения выполнено?": {
      "main": [
        [
          {
            "node": "Управление сессией",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отменяем: вхождение не найдено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отменяем: вхождение не найдено": {
      "main": [
        [
          {
            "node": "Сообщаем: вхождение не найдено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем результат задачи": {
      "main": [
        [
          {
            "node": "Отправляем результат в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Управление сессией": {
      "main": [
        [
          {
            "node": "Запуск задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запуск задачи": {
      "main": [
        [
          {
            "node": "Есть ошибка запуска?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обработка интеракций": {
      "main": [
        [
          {
            "node": "Есть ошибка ответа?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Завершение задачи": {
      "main": [
        [
          {
            "node": "Задача завершена?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем промежуточный прогресс в Telegram": {
      "main": [
        [
          {
            "node": "Помечаем прогресс отправленным",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Помечаем прогресс отправленным": {
      "main": [
        []
      ]
    },
    "Сообщаем: ошибка асинхронного запуска": {
      "main": [
        []
      ]
    },
    "Сообщаем: ошибка запуска": {
      "main": [
        []
      ]
    },
    "Сообщаем: ошибка ответа на вопрос": {
      "main": [
        [
          {
            "node": "Завершение задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ошибка запуска?": {
      "main": [
        [
          {
            "node": "Сообщаем: ошибка асинхронного запуска",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщаем: ошибка запуска",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задача завершена?": {
      "main": [
        [
          {
            "node": "Сохраняем результат задачи",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем промежуточный прогресс в Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Есть ошибка ответа?": {
      "main": [
        [
          {
            "node": "Сообщаем: ошибка ответа на вопрос",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Завершение задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "id": "900011",
  "tags": []
}
