n8n/bootstrap/workflows/templates/telegram-task-ingress.template.json
{
  "name": "Постановка задач через Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Триггер Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        336
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "message-is-answer",
              "leftValue": "={{ $('Разбираем базовое сообщение Telegram').first().json.mode }}",
              "rightValue": "answer_candidate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        320
      ],
      "id": "if-command",
      "name": "Это кандидат ответа?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chat-id-allowed",
              "leftValue": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
              "rightValue": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        336
      ],
      "id": "if-chat-allowed",
      "name": "Чат разрешён?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-chat-id",
              "name": "telegram_chat_id",
              "value": "__TELEGRAM_CHAT_ID__",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        336
      ],
      "id": "set-vars",
      "name": "Задаём переменные"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "__OPENCODE_ROUTING_JSON__",
        "options": {}
      },
      "id": "set-routing",
      "name": "Задаём конфигурацию OpenCode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        224
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "={{ (() => { try { if ($json.replyText) return $json.replyText } catch {} try { return $('Готовим ожидающую интеракцию').first().json.replyText } catch {} return $('Разбираем базовое сообщение Telegram').first().json.replyText })() }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-parse-error",
      "name": "Отправляем: Команда распарсена с ошибкой",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        528
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "Недопустимый чат",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-invalid-chat",
      "name": "Отправляем: Недопустимый чат",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        528
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $('Триггер Telegram').first().json\nconst msg = input.message || {}\nconst rawText = String(msg.text || '').trim()\nconst pendingTasks = $('Получаем задачи с ожиданием ответа').all().map((item) => item.json)\n\nfunction parseCommand(text) {\n  const match = text.match(/^\\/([a-zA-Z0-9_]+)(?:@\\w+)?(?:\\s+|$)/)\n\n  if (!match) {\n    return {\n      type: null,\n      textAfterCommand: text,\n    }\n  }\n\n  return {\n    type: match[1],\n    textAfterCommand: text.slice(match[0].length).trim(),\n  }\n}\n\nfunction parseTokens(text) {\n  const flags = {}\n  const args = []\n  const regex = /\"([^\"]*)\"|'([^']*)'|--([a-zA-Z0-9_-]+)(?:=(?:\"([^\"]*)\"|'([^']*)'|([^\\s\"']+)))?|([^\\s]+)/g\n\n  let match\n\n  while ((match = regex.exec(text)) !== null) {\n    if (match[3]) {\n      const key = match[3]\n      const value = match[4] ?? match[5] ?? match[6] ?? true\n      flags[key] = value\n      continue\n    }\n\n    const value = match[1] ?? match[2] ?? match[7]\n    if (value !== undefined) args.push(value)\n  }\n\n  return { flags, args }\n}\n\nfunction buildPendingTasksHint(tasks) {\n  const taskList = tasks.map((task) => `- ${task.task_key}`).join('\\n')\n  return [\n    'Сейчас OpenCode ждёт ответ по нескольким задачам.',\n    taskList,\n    '',\n    'Ответьте в формате `task_key: ваш ответ`.',\n    'Для отклонения вопроса используйте `task_key: /reject`.',\n  ].join('\\n')\n}\n\nfunction parseAnswerTarget(text, tasks) {\n  const targetedMatch = text.match(/^#?(task-[a-z0-9-]+)\\s*:\\s*([\\s\\S]*)$/i)\n  if (targetedMatch) {\n    return {\n      taskKey: targetedMatch[1],\n      answerText: String(targetedMatch[2] || '').trim(),\n      rejectRequested: false,\n    }\n  }\n\n  const rejectMatch = text.match(/^\\/?(reject|skip|cancel)\\b(?:\\s+(task-[a-z0-9-]+))?$/i)\n  if (rejectMatch) {\n    if (!rejectMatch[2] && tasks.length > 1) {\n      return { multiplePending: true }\n    }\n\n    return {\n      taskKey: String(rejectMatch[2] || '').trim(),\n      answerText: '/reject',\n      rejectRequested: true,\n    }\n  }\n\n  if (text.startsWith('/')) return null\n  if (tasks.length === 1) {\n    return {\n      taskKey: String(tasks[0].task_key || '').trim(),\n      answerText: text,\n      rejectRequested: false,\n    }\n  }\n\n  if (tasks.length > 1) {\n    return { multiplePending: true }\n  }\n\n  return null\n}\n\nconst answerTarget = parseAnswerTarget(rawText, pendingTasks)\n\nif (answerTarget?.multiplePending) {\n  return [{\n    json: {\n      mode: 'parse_error',\n      rawText,\n      replyText: buildPendingTasksHint(pendingTasks),\n    },\n  }]\n}\n\nif (answerTarget) {\n  return [{\n    json: {\n      mode: 'answer_candidate',\n      rawText,\n      targetTaskKey: answerTarget.taskKey || (pendingTasks.length === 1 ? String(pendingTasks[0].task_key || '').trim() : ''),\n      answerText: answerTarget.answerText,\n      rejectRequested: answerTarget.rejectRequested === true,\n      replyText: '',\n    },\n  }]\n}\n\nconst abortMatch = rawText.match(/^\\/abort\\b(?:\\s+(task-[a-z0-9-]+))?$/i)\nif (abortMatch) {\n  return [{\n    json: {\n      mode: 'abort_request',\n      rawText,\n      targetTaskKey: String(abortMatch[1] || '').trim(),\n      replyText: '',\n    },\n  }]\n}\n\nif (rawText.startsWith('/')) {\n  const command = parseCommand(rawText)\n  const parsed = parseTokens(command.textAfterCommand)\n  const newSessionRequested = Boolean(\n    parsed.flags['new-session'] ||\n    parsed.flags['new_session'] ||\n    parsed.flags['fresh-session'] ||\n    parsed.flags['fresh_session']\n  )\n\n  return [{\n    json: {\n      mode: 'command_candidate',\n      rawText,\n      commandType: command.type,\n      flags: parsed.flags,\n      args: parsed.args,\n      parentTaskId: String(parsed.flags['parent-id'] || parsed.flags.parent || '').trim(),\n      parentMatchText: String(parsed.flags.match || parsed.flags.contains || '').trim(),\n      prompt: String(parsed.flags.prompt || '').trim(),\n      newSessionRequested,\n      replyText: '',\n    },\n  }]\n}\n\nreturn [{\n  json: {\n    mode: 'parse_error',\n    rawText,\n    replyText: pendingTasks.length > 0\n      ? 'Не удалось понять сообщение. Для ответа по задаче используйте `task_key: ваш ответ`, либо пришлите обычный текст, если ожидается только один вопрос.'\n      : 'Команда распарсена с ошибкой',\n  },\n}]"
      },
      "id": "parse-command",
      "name": "Разбираем базовое сообщение Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "={{ $('Готовим новую задачу').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-queued-message",
      "name": "Отправляем: Задача поставлена в работу",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ $('Готовим новую задачу').first().json.taskKey }}",
            "source": "telegram",
            "chat_id": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
            "username": "={{ $('Триггер Telegram').first().json.message.chat.username }}",
            "worker_alias": "={{ $('Готовим новую задачу').first().json.flags.worker || $('Задаём конфигурацию OpenCode').first().json.defaultWorker }}",
            "command_name": "={{ $('Готовим новую задачу').first().json.commandType || 'task' }}",
            "prompt": "={{ $('Готовим новую задачу').first().json.prompt }}",
            "parent_task_key": "={{ $('Готовим новую задачу').first().json.parentTaskId }}",
            "parent_match_text": "={{ $('Готовим новую задачу').first().json.parentMatchText }}",
            "context_json": "={{ $('Готовим новую задачу').first().json.contextJson }}",
            "status": "queued",
            "queued_at": "={{ $('Готовим новую задачу').first().json.queuedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_key",
              "displayName": "task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "worker_alias",
              "displayName": "worker_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "command_name",
              "displayName": "command_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_task_key",
              "displayName": "parent_task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_match_text",
              "displayName": "parent_match_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context_json",
              "displayName": "context_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_at",
              "displayName": "queued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending_question",
              "displayName": "pending_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending_options_json",
              "displayName": "pending_options_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "result_text",
              "displayName": "result_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "id": "queue-task",
      "name": "Вставляем задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        304
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Задаём переменные').first().json.telegram_chat_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "needs_input"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "ASC"
      },
      "id": "get-pending-input-tasks",
      "name": "Получаем задачи с ожиданием ответа",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Разбираем базовое сообщение Telegram').first().json.mode }}",
              "rightValue": "command_candidate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-command-mode",
      "name": "Это новая команда?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        416
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Ответ распознан?').first().json.targetTaskKey }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "needs_input"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pending_options_json": "={{ $('Ответ распознан?').first().json.updatedPendingOptionsJson }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "save-user-answer",
      "name": "Сохраняем ответ пользователя",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1488,
        208
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "rowExists",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Ответ распознан?').first().json.targetTaskKey }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "needs_input"
            },
            {
              "keyName": "pending_options_json",
              "condition": "eq",
              "keyValue": "={{ $('Ответ распознан?').first().json.updatedPendingOptionsJson }}"
            }
          ]
        }
      },
      "id": "verify-user-answer-saved",
      "name": "Проверяем: ответ сохранён",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1728,
        208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "={{ $('Ответ распознан?').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-answer-accepted",
      "name": "Отправляем: Ответ принят",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        208
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const candidate = $('Разбираем базовое сообщение Telegram').first().json\nconst pendingTasks = $('Получаем задачи с ожиданием ответа').all().map((item) => item.json)\n\nfunction parsePendingMeta(task) {\n  try {\n    return JSON.parse(String(task.pending_options_json || '{}'))\n  } catch {\n    return {}\n  }\n}\n\nconst task = pendingTasks.find((item) => String(item.task_key || '').trim() === String(candidate.targetTaskKey || '').trim())\nif (!task) {\n  return [{ json: { mode: 'parse_error', replyText: `Не удалось найти задачу ${candidate.targetTaskKey} среди ожидающих ответа.` } }]\n}\n\nconst pendingMeta = parsePendingMeta(task)\nconst requestId = String(pendingMeta.requestId || '').trim()\nconst interactionType = Array.isArray(pendingMeta.questions) ? 'question' : String(pendingMeta.type || 'permission').trim()\n\nif (!requestId) {\n  return [{ json: { mode: 'parse_error', replyText: `У задачи ${candidate.targetTaskKey} повреждены данные pending интеракции.` } }]\n}\n\nreturn [{\n  json: {\n    mode: interactionType + '_candidate',\n    rawText: candidate.rawText,\n    targetTaskKey: candidate.targetTaskKey,\n    answerText: candidate.answerText,\n    rejectRequested: candidate.rejectRequested === true,\n    interactionType,\n    pendingMeta,\n  },\n}]"
      },
      "id": "resolve-answer",
      "name": "Готовим ожидающую интеракцию",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.mode }}",
              "rightValue": "answer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-answer-resolved",
      "name": "Ответ распознан?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const parsed = $('Разбираем базовое сообщение Telegram').first().json\nconst taskKey = `task-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`\nconst contextJson = JSON.stringify({\n  rawText: parsed.rawText,\n  commandType: parsed.commandType,\n  flags: parsed.flags,\n  args: parsed.args,\n  parentTaskId: parsed.parentTaskId,\n  parentMatchText: parsed.parentMatchText,\n  prompt: parsed.prompt,\n  newSessionRequested: parsed.newSessionRequested,\n})\n\nreturn [{\n  json: {\n    mode: 'command',\n    rawText: parsed.rawText,\n    commandType: parsed.commandType,\n    flags: parsed.flags,\n    args: parsed.args,\n    taskKey,\n    queuedAt: new Date().toISOString(),\n    parentTaskId: parsed.parentTaskId,\n    parentMatchText: parsed.parentMatchText,\n    prompt: parsed.prompt,\n    contextJson,\n    replyText: `Задача поставлена в очередь: ${taskKey}`,\n  },\n}]"
      },
      "id": "prepare-command",
      "name": "Готовим новую задачу",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Разбираем базовое сообщение Telegram').first().json.mode }}",
              "rightValue": "abort_request",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-abort-request",
      "name": "Это запрос на прерывание?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const parsed = $('Разбираем базовое сообщение Telegram').first().json\nconst inputTaskKey = String(parsed.targetTaskKey || '').trim()\n\nreturn [{\n  json: {\n    mode: 'abort_request',\n    rawText: parsed.rawText,\n    targetTaskKey: inputTaskKey,\n  },\n}]"
      },
      "id": "prepare-abort-request",
      "name": "Готовим запрос прерывания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        528
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('Задаём переменные').first().json.telegram_chat_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "running"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "ASC"
      },
      "id": "get-active-running-tasks",
      "name": "Получаем работающие задачи",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1488,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const abortRequest = $('Готовим запрос прерывания').first().json\nconst activeRunning = $('Получаем работающие задачи').all().map((item) => item.json)\nconst inputTaskKey = String(abortRequest.targetTaskKey || '').trim()\n\nif (activeRunning.length === 0) {\n  return [{ json: { mode: 'parse_error', replyText: 'Нет работающих задач, которые можно прервать.' } }]\n}\n\nif (inputTaskKey) {\n  const task = activeRunning.find((item) => String(item.task_key || '').trim() === inputTaskKey)\n  if (!task) {\n    return [{ json: { mode: 'parse_error', replyText: `Не удалось найти работающую задачу ${inputTaskKey}.` } }]\n  }\n  return [{ json: { mode: 'answer', targetTaskKey: inputTaskKey, replyText: `Задача ${inputTaskKey} будет прервана.` } }]\n}\n\nif (activeRunning.length === 1) {\n  const taskKey = String(activeRunning[0].task_key || '').trim()\n  return [{ json: { mode: 'answer', targetTaskKey: taskKey, replyText: `Задача ${taskKey} будет прервана.` } }]\n}\n\nconst taskList = activeRunning.map((item) => `- ${item.task_key}`).join('\\n')\nreturn [{ json: { mode: 'parse_error', replyText: `Работает несколько задач:\\n${taskList}\\n\\nУточните: /abort task-key` } }]"
      },
      "id": "resolve-abort-target",
      "name": "Определяем цель прерывания",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        528
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "task_key",
              "condition": "eq",
              "keyValue": "={{ $('Определяем цель прерывания').first().json.targetTaskKey }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "running"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context_json": "={{ (() => { try { const ctx = JSON.parse($('Получаем работающие задачи').first().json.context_json || '{}'); ctx.abortRequested = true; return JSON.stringify(ctx) } catch { return JSON.stringify({ abortRequested: true }) } })() }}"
          }
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "save-abort-flag",
      "name": "Сохраняем флаг прерывания",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1968,
        528
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "={{ $('Определяем цель прерывания').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-abort-confirmation",
      "name": "Отправляем: Задача будет прервана",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        528
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Готовим ожидающую интеракцию').first().json.interactionType }}",
              "rightValue": "permission",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pending-permission",
      "name": "Это запрос прав?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const parsed = $('Готовим ожидающую интеракцию').first().json\nconst pendingMeta = parsed.pendingMeta || {}\nconst normalized = String(parsed.answerText || '').trim()\n\nif (parsed.rejectRequested) {\n  const updatedPendingMeta = {\n    ...pendingMeta,\n    answers: null,\n    rejectRequested: true,\n    answeredAt: new Date().toISOString(),\n    rawAnswer: parsed.rawText,\n  }\n\n  return [{ json: {\n    mode: 'answer',\n    targetTaskKey: parsed.targetTaskKey,\n    updatedPendingOptionsJson: JSON.stringify(updatedPendingMeta),\n    replyText: `Вопрос по задаче ${parsed.targetTaskKey} отклонён.`,\n  }}]\n}\n\nfunction parseAnswerToken(token, question) {\n  const value = String(token || '').trim()\n  if (!value) return null\n  const options = Array.isArray(question.options) ? question.options : []\n  if (options.length === 0) return value\n  if (/^\\d+$/.test(value)) {\n    const option = options[Number(value) - 1]\n    return option ? String(option.label || '').trim() : null\n  }\n  const matched = options.find((option) => String(option.label || '').trim().toLowerCase() === value.toLowerCase())\n  if (matched) return String(matched.label || '').trim()\n  return question.custom !== false ? value : null\n}\n\nfunction parseQuestionAnswer(text, question) {\n  const value = String(text || '').trim()\n  if (!value) return { error: 'Ответ не должен быть пустым.' }\n  const options = Array.isArray(question.options) ? question.options : []\n  if (options.length === 0) return { answers: [value] }\n  const tokens = question.multiple ? value.split(/\\s*,\\s*/).filter(Boolean) : [value]\n  const answers = []\n  for (const token of tokens) {\n    const parsedToken = parseAnswerToken(token, question)\n    if (!parsedToken) return { error: `Не удалось распознать вариант ответа: ${token}` }\n    if (!answers.includes(parsedToken)) answers.push(parsedToken)\n  }\n  if (!question.multiple && answers.length !== 1) {\n    return { error: 'Нужно выбрать ровно один вариант ответа.' }\n  }\n  return { answers }\n}\n\nconst questions = Array.isArray(pendingMeta.questions) ? pendingMeta.questions : []\nif (questions.length === 0) {\n  return [{ json: { mode: 'parse_error', replyText: `У задачи ${parsed.targetTaskKey} повреждены данные pending вопроса.` } }]\n}\n\nlet answersResult\nif (questions.length === 1) {\n  answersResult = parseQuestionAnswer(normalized, questions[0])\n} else {\n  const lines = normalized.split(/\r?\n/).map((line) => line.trim()).filter(Boolean)\n  if (lines.length !== questions.length) {\n    answersResult = { error: `Нужно прислать ${questions.length} непустых строк ответа в том же порядке, что и вопросы.` }\n  } else {\n    const answers = []\n    for (let index = 0; index < questions.length; index += 1) {\n      const parsedLine = parseQuestionAnswer(lines[index], questions[index])\n      if (parsedLine.error) {\n        answersResult = parsedLine\n        break\n      }\n      answers.push(parsedLine.answers)\n    }\n    answersResult = answersResult || { answers }\n  }\n}\n\nif (answersResult.error) {\n  return [{ json: { mode: 'parse_error', replyText: `Не удалось разобрать ответ для задачи ${parsed.targetTaskKey}: ${answersResult.error}` } }]\n}\n\nconst updatedPendingMeta = {\n  ...pendingMeta,\n  answers: answersResult.answers,\n  rejectRequested: false,\n  answeredAt: new Date().toISOString(),\n  rawAnswer: parsed.rawText,\n}\n\nreturn [{ json: {\n  mode: 'answer',\n  targetTaskKey: parsed.targetTaskKey,\n  updatedPendingOptionsJson: JSON.stringify(updatedPendingMeta),\n  replyText: `Ответ по задаче ${parsed.targetTaskKey} сохранён. Продолжаю выполнение.`,\n}}]"
      },
      "id": "parse-question-answer",
      "name": "Разбираем ответ на вопрос",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const parsed = $('Готовим ожидающую интеракцию').first().json\nconst pendingMeta = parsed.pendingMeta || {}\nconst normalized = String(parsed.answerText || '').trim()\n\nif (!normalized) {\n  return [{ json: { mode: 'parse_error', replyText: 'Ответ не должен быть пустым.' } }]\n}\n\nconst lower = normalized.replace(/^\\//, '').toLowerCase()\nlet reply = ''\nlet message = ''\n\nif (/^(1|once|allow once|раз|один раз|разрешить один раз)(?:\\b|$)/i.test(lower)) {\n  reply = 'once'\n} else if (/^(2|always|remember|always allow|всегда|запомнить|разрешить всегда)(?:\\b|$)/i.test(lower)) {\n  reply = 'always'\n} else {\n  const rejectMatch = lower.match(/^(3|reject|deny|no|отклонить|запретить)(?:[\\s:,-]+([\\s\\S]*))?$/i)\n  if (rejectMatch) {\n    reply = 'reject'\n    message = String(rejectMatch[2] || '').trim()\n  }\n}\n\nif (!reply) {\n  return [{ json: { mode: 'parse_error', replyText: `Не удалось разобрать permission-ответ для задачи ${parsed.targetTaskKey}: Для permission используйте one of: 1/once, 2/always, 3/reject.` } }]\n}\n\nconst updatedPendingMeta = {\n  ...pendingMeta,\n  type: 'permission',\n  reply,\n  message,\n  answeredAt: new Date().toISOString(),\n  rawAnswer: parsed.rawText,\n}\n\nreturn [{ json: {\n  mode: 'answer',\n  targetTaskKey: parsed.targetTaskKey,\n  updatedPendingOptionsJson: JSON.stringify(updatedPendingMeta),\n  replyText: `Permission-ответ по задаче ${parsed.targetTaskKey} сохранён. Продолжаю выполнение.`,\n}}]"
      },
      "id": "parse-permission-answer",
      "name": "Разбираем ответ на права",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Триггер Telegram": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это кандидат ответа?": {
      "main": [
        [
          {
            "node": "Готовим ожидающую интеракцию",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Это запрос на прерывание?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это запрос на прерывание?": {
      "main": [
        [
          {
            "node": "Готовим запрос прерывания",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Это новая команда?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим запрос прерывания": {
      "main": [
        [
          {
            "node": "Получаем работающие задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем работающие задачи": {
      "main": [
        [
          {
            "node": "Определяем цель прерывания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определяем цель прерывания": {
      "main": [
        [
          {
            "node": "Сохраняем флаг прерывания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем флаг прерывания": {
      "main": [
        [
          {
            "node": "Отправляем: Задача будет прервана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Задача будет прервана": {
      "main": [
        []
      ]
    },
    "Чат разрешён?": {
      "main": [
        [
          {
            "node": "Получаем задачи с ожиданием ответа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Недопустимый чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём переменные": {
      "main": [
        [
          {
            "node": "Задаём конфигурацию OpenCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём конфигурацию OpenCode": {
      "main": [
        [
          {
            "node": "Чат разрешён?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем задачи с ожиданием ответа": {
      "main": [
        [
          {
            "node": "Разбираем базовое сообщение Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохраняем ответ пользователя": {
      "main": [
        [
          {
            "node": "Проверяем: ответ сохранён",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем: ответ сохранён": {
      "main": [
        [
          {
            "node": "Отправляем: Ответ принят",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это новая команда?": {
      "main": [
        [
          {
            "node": "Готовим новую задачу",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Команда распарсена с ошибкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Ответ принят": {
      "main": [
        []
      ]
    },
    "Отправляем: Задача поставлена в работу": {
      "main": [
        []
      ]
    },
    "Вставляем задачу": {
      "main": [
        [
          {
            "node": "Отправляем: Задача поставлена в работу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем базовое сообщение Telegram": {
      "main": [
        [
          {
            "node": "Это кандидат ответа?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ответ распознан?": {
      "main": [
        [
          {
            "node": "Сохраняем ответ пользователя",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Команда распарсена с ошибкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим новую задачу": {
      "main": [
        [
          {
            "node": "Вставляем задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Готовим ожидающую интеракцию": {
      "main": [
        [
          {
            "node": "Это запрос прав?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это запрос прав?": {
      "main": [
        [
          {
            "node": "Разбираем ответ на права",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разбираем ответ на вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем ответ на вопрос": {
      "main": [
        [
          {
            "node": "Ответ распознан?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем ответ на права": {
      "main": [
        [
          {
            "node": "Ответ распознан?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "id": "900010",
  "tags": []
}
