n8n/bootstrap/workflows/templates/telegram-task-ingress.template.json
{
  "name": "Постановка задач через Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Триггер Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        336
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "command-starts-with-slash",
              "leftValue": "={{ $('Триггер Telegram').first().json.message.text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        320
      ],
      "id": "if-command",
      "name": "Это команда?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "chat-id-allowed",
              "leftValue": "={{ $('Триггер Telegram').first().json.message.chat.id }}",
              "rightValue": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        336
      ],
      "id": "if-chat-allowed",
      "name": "Чат разрешён?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-chat-id",
              "name": "telegram_chat_id",
              "value": "__TELEGRAM_CHAT_ID__",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        336
      ],
      "id": "set-vars",
      "name": "Задаём переменные"
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "=Команда распарсена с ошибкой",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-parse-error",
      "name": "Отправляем: Команда распарсена с ошибкой",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        528
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "=Недопустимый чат",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-invalid-chat",
      "name": "Отправляем: Недопустимый чат",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        528
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $('Триггер Telegram').first().json\nconst msg = input.message || {}\n\nconst rawText = String(msg.text || '').trim()\n\nfunction parseCommand(text) {\n  const match = text.match(/^\\/([a-zA-Z0-9_]+)(?:@\\w+)?(?:\\s+|$)/)\n\n  if (!match) {\n    return {\n      type: null,\n      textAfterCommand: text\n    }\n  }\n\n  return {\n    type: match[1],\n    textAfterCommand: text.slice(match[0].length).trim()\n  }\n}\n\nfunction parseTokens(text) {\n  const flags = {}\n  const args = []\n\n  const regex = /\"([^\"]*)\"|'([^']*)'|--([a-zA-Z0-9_-]+)(?:=(?:\"([^\"]*)\"|'([^']*)'|([^\\s\"']+)))?|([^\\s]+)/g\n\n  let match\n\n  while ((match = regex.exec(text)) !== null) {\n    if (match[3]) {\n      const key = match[3]\n      const value = match[4] ?? match[5] ?? match[6] ?? true\n      flags[key] = value\n      continue\n    }\n\n    const value = match[1] ?? match[2] ?? match[7]\n\n    if (value !== undefined) {\n      args.push(value)\n    }\n  }\n\n  return { flags, args }\n}\n\nconst command = parseCommand(rawText)\nconst parsed = parseTokens(command.textAfterCommand)\nconst taskKey = `task-${Date.now().toString(36)}-${Math.random().toString(36).slice(2, 8)}`\nconst parentTaskId = String(parsed.flags['parent-id'] || parsed.flags.parent || '').trim()\nconst parentMatchText = String(parsed.flags.match || parsed.flags.contains || '').trim()\nconst prompt = String(parsed.flags.prompt || '').trim()\nconst contextJson = JSON.stringify({\n  rawText,\n  commandType: command.type,\n  flags: parsed.flags,\n  args: parsed.args,\n  parentTaskId,\n  parentMatchText,\n  prompt\n})\n\nreturn [{\n  json: {\n    rawText,\n    commandType: command.type,\n    flags: parsed.flags,\n    args: parsed.args,\n    taskKey,\n    queuedAt: new Date().toISOString(),\n    parentTaskId,\n    parentMatchText,\n    prompt,\n    contextJson,\n    replyText: `Задача поставлена в очередь: ${taskKey}`\n  }\n}]"
      },
      "id": "parse-command",
      "name": "Разбираем команды Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "={{ $('Разбираем команды Telegram').first().json.replyText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-queued-message",
      "name": "Отправляем: Задача поставлена в работу",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        304
      ],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ $('Разбираем команды Telegram').first().json.taskKey }}",
            "source": "telegram",
            "chat_id": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
            "username": "={{ $('Триггер Telegram').first().json.message.chat.username }}",
            "worker_alias": "={{ $('Разбираем команды Telegram').first().json.flags.worker || 'primary' }}",
            "command_name": "={{ $('Разбираем команды Telegram').first().json.commandType || 'task' }}",
            "prompt": "={{ $('Разбираем команды Telegram').first().json.prompt }}",
            "parent_task_key": "={{ $('Разбираем команды Telegram').first().json.parentTaskId }}",
            "parent_match_text": "={{ $('Разбираем команды Telegram').first().json.parentMatchText }}",
            "context_json": "={{ $('Разбираем команды Telegram').first().json.contextJson }}",
            "status": "queued",
            "queued_at": "={{ $('Разбираем команды Telegram').first().json.queuedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_key",
              "displayName": "task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "worker_alias",
              "displayName": "worker_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "command_name",
              "displayName": "command_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_task_key",
              "displayName": "parent_task_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parent_match_text",
              "displayName": "parent_match_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "context_json",
              "displayName": "context_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_at",
              "displayName": "queued_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending_question",
              "displayName": "pending_question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pending_options_json",
              "displayName": "pending_options_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "result_text",
              "displayName": "result_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "id": "queue-task",
      "name": "Вставляем задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Триггер Telegram": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это команда?": {
      "main": [
        [
          {
            "node": "Разбираем команды Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Команда распарсена с ошибкой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чат разрешён?": {
      "main": [
        [
          {
            "node": "Это команда?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: Недопустимый чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём переменные": {
      "main": [
        [
          {
            "node": "Чат разрешён?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разбираем команды Telegram": {
      "main": [
        [
          {
            "node": "Вставляем задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: Задача поставлена в работу": {
      "main": [
        []
      ]
    },
    "Вставляем задачу": {
      "main": [
        [
          {
            "node": "Отправляем: Задача поставлена в работу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "id": "900010",
  "tags": []
}
